= javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
%script
  FB.init({
  appId : "#{($FacebookConfig || {})['app_id']}",
  status : true,
  cookie : true,
  xfbml  : true
  });
  = "FB.api('/#{@request_id}/', function(response) {"
  console.log(response);
  });
-# TODO: Change this from staging to production!
= link_to(image_tag("http://staging.commonplaceusa.com/images/join-commonplace.png"),"http://www.commonplaceusa.com/")
= @data