= image_tag business.avatar.url
%h2 #{business.name}
-if business.about
  %p.desc #{business.about}
-if business.phone or business.address
  %p Contact Information
  %table
    -if business.phone
      %tr
        %th Phone
        %td #{business.phone}
    -if business.address
      %tr
        %th Address
        %td #{business.address}
%p Send a Message???
%textarea
%button Send