%div{'data-href' => message_path(message), :class => "message"}
  = image_tag message.user.avatar.url(:thumb), :class => "avatar"
  %time
    = message.updated_at
  .reply-count #{ message.replies.size } replies
  = link_to message.subject, message, 'data-remote' => true, :class => "title"
  .author #{message.user.name} to #{message.messagable.name} 
  .body= markdown auto_link(message.body, :all, :target => "_blank")

= render 'shared/replies', :item => message
