- @messages.each do |message|
  .message
    %h3.subject= message.subject
    %p.to to #{message.messagable.name}
    %p.from from #{message.user.name}
    %p.date= message.created_at
    %p.body= message.body
    .replies
      - message.replies.each do |reply|
        .reply
          %p.date= reply.created_at
          %p.body= reply.body
    
:javascript
  window.setTimeout(function() { window.location.href=window.location.href; }, 60*1000);