
#main
  %h2= t ".h2"
  %ul.inbox
    - current_user.inbox.each do |message|
      %li.message
        - link_to message do
          .information
            = image_tag other_participant(message).avatar_url(:thumb), :size => "50x50"
            .name
              = (message.user_id == current_user.id) ? "To: #{other_participant(message).name}" : "#{other_participant(message).name}"
            %time.last_activity= message.updated_at.to_s(:month_day_at_time)

          %p.subject= truncate message.subject, :length => 50
          %p.most_recent_text= truncate message.most_recent_body, :length => 50

