.announcement_clickable
  .title_top
    .icon
      %img{ :alt => "Announcement" }
    .top_text
      %span.category ANNOUNCEMENT
      %span.from from
      %span.author= announcement.organization.name
      %span.time= post_date announcement.created_at
  .bottom
    = image_tag announcement.organization.avatar.url, :width => 50, :height => 50, :class => 'graphic'
    .body
      %h3= announcement.subject
      %p= announcement.body
      .expand 4 replies