- link_to announcement, :class => 'announcement', 'data-remote' => true do
  = image_tag announcement.owner.avatar_url(:thumb), :class => 'avatar'
  %time= announcement.time
  .reply-count #{ announcement.replies.size } replies
  .title= announcement.subject
  .author= announcement.owner.name
  %p.body= announcement.body #truncate announcement.body, :length => 160