- item_tag(announcement) do
  - link_to announcement, :class => 'item_body', 'data-remote' => true do
    .author
      = image_tag announcement.owner.avatar.url, :width => 50, :height => 50
      = announcement.owner.name
    %h3
      = announcement.subject    
    %time
      = announcement.time
    %p
      = announcement.body
      %span.reply_count #{ announcement.replies.size } replies

  = render 'shared/replies', :item => announcement

