

#syndicate
  %nav
    - link_to new_announcement_path, 'data-remote' => true, :id => "create-entity" do
      %span
        %img
        POST AN ANNOUNCEMENT
    #filters
      - tab_to announcements_path, 'data-remote' => true do
        %span ALL
      - tab_to subscribed_announcements_path, 'data-remote' => true do
        %span YOURS
      - tab_to subscriptions_path, 'data-remote' => true do
        %span YOUR SUBSCRIPTIONS
      - tab_to recommended_subscriptions_path, 'data-remote' => true do
        %span RECOMMENDED
  %ul.items
    - @announcements.each do |announcement|
      %li.item
        - link_to announcement, :class => 'announcement', 'data-remote' => true do
          = image_tag announcement.owner.avatar_url(:thumb), :class => 'avatar'
          %time= announcement.time
          .reply-count #{ announcement.replies.size } replies
          .title= announcement.subject
          .author= announcement.owner.name
          %p.body= truncate announcement.body, :length => 160
        
        = render 'shared/replies', :item => announcement

= render 'shared/tooltip'
  
= render 'shared/information', :items => @announcements.map(&:owner)