= update_content "#say-something" do
  #say-something
    %h2= t ".title"
    = render 'shared/say_something_nav', :current => :announcement
    - if current_user.managable_feeds.empty?
      .information
        %p Only community feeds can send out announcements to the entire community. If you are a community organization or plan to send out many announcements and events to the community, consider creating a Community Feed: 

        = link_to image_tag('create-a-feed.png'), new_feed_path, :class => 'create-a-feed'
        
        %p To post only to your neighborhood, #{ link_to 'click here to post to your neighborhood board right now.', new_post_path, 'data-remote' => true }

    - else
      = render 'form', :announcement => @announcement
