
- semantic_form_for feed, :html => {:multipart => true} do |f|

  = render 'preview', :feed => feed

  - f.inputs do
    = f.input :name
    = f.input :slug, :hint => t("formtastic.hints.feed.slug", :community_slug => current_community.slug)
    = f.input :about
    = f.input :avatar, :input_html => {:size => 20}
    = f.input :tag_list
    = f.input :kind, :as => :radio, :collection => Feed.kinds.to_hash
    = f.input :feed_url, :label => "To pull Announcements from an RSS feed, type in your RSS URL here:", :as => :string
    = f.input :twitter_name, :label => "To add your tweets to your feed's page, type your twitter handle here:"
  - f.inputs :contact_information, :id => 'contact-info' do
    = f.input :website
    = f.input :phone
    = f.input :address
  - f.buttons do
    = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/continue.png"}

