
#information.info_box.feed
  %h2 Community Feed
  
  = image_tag feed.avatar_url(:normal), :width => 120, :class => "avatar"

  .actions
    - link_to new_feed_message_path(feed), :class => "message_me", 'data-remote' => true, 'data-title' => "Click to send a private message to #{ feed.name }" do 
      %span Message #{ feed.name }

    - if current_user.feeds.include? feed
      %span.subscribed
        %span
          You're Subscribed

      - link_to feed_subscription_path(feed), 'data-remote' => true, 'data-method' => 'delete', :class => 'unsubscribe' do
        Unsubscribe

    - else
      - link_to feed_subscription_path(feed), 'data-remote' => true, 'data-method' => 'post', :class => "new_subscription new_#{dom_id feed}_subscription" do
        %span Subscribe to #{ feed.name }

    
    
  %h3= feed.name
  .info
    = markdown feed.about
    %br
    = link_to("View Community Feed Page",feed_profile_path(feed))
  
  %table
    - if feed.tag_list.present?
      %tr
        %th TAGS
        %td= feed.tag_list
    - if feed.website.present?
      %tr
        %th WEBSITE
        %td= link_to feed.website, feed.website, :target => '_blank'
    - if feed.phone.present?
      %tr
        %th PHONE
        %td= feed.phone
    - if feed.address.present?
      %tr
        %th ADDRESS
        %td= feed.address

  .clear

  - if feed.address.present?
    = render_map do |map|
      - map.center feed
      - map.marker feed


