
#information.info_box.feed
  %h2 Community Feed
  
  = image_tag feed.avatar.url(:normal), :width => 120, :class => "avatar"

  = render 'subscriptions/form', :feed => feed, :user => current_user
    
  - link_to new_feed_message_path(feed), :class => "message_me", 'data-remote' => true, 'data-title' => "Click to send a private message to #{ feed.name }" do 
    %span Message #{ feed.name }
    
  %h3= feed.name
  .info= markdown feed.about
  
  %table
    %tr
      %th TAGS
      %td= feed.tag_list
    %tr
      %th WEBSITE
      %td= link_to feed.website, feed.website, :target => '_blank'
    %tr
      %th PHONE
      %td= feed.phone
    %tr
      %th ADDRESS
      %td= feed.address

  .clear

  - if feed.address.present?
    = render_map do |map|
      - map.center feed
      - map.marker feed


