#preview.info_box
  %h2 Community Feed
  
  = image_tag feed.avatar_url(:normal), :width => 120, :class => "avatar"
  
  %h3{'data-track' => 'feed[name]'}= feed.name.present? ? feed.name : t("feeds.preview.name")
  .info{'data-track' => 'feed[about]'}= feed.about.present? ? feed.about : t("feeds.preview.about") 
  
  %table
    %tr
      %th TAGS
      %td{'data-track' => 'feed[tag_list]'}= feed.tag_list.present? ? feed.tag_list : t("feeds.preview.tag_list")
    %tr
      %th WEBSITE
      %td{'data-track' => 'feed[website]'}= feed.website.present? ? feed.website : t("feeds.preview.website")
    %tr
      %th PHONE
      %td{'data-track' => 'feed[phone]'}= feed.phone.present? ? feed.phone : t("feeds.preview.phone")
    %tr
      %th ADDRESS
      %td{'data-track' => 'feed[address]'}= feed.address.present? ? feed.address : t("feeds.preview.address")

  .clear