#main
  %h1= @feed.name

  #column-1<>
    = image_tag @feed.avatar.url, :id => 'feed-avatar', :size => "210x210"

    #contact-info
      %h3= t '.contact_info.title'
      %dl
        - if @feed.phone.present?
          %dt<> Phone:
          %dd<>= @feed.phone
        - if @feed.website.present?
          %dt<> Website:
          %dd<>= @feed.website
        - if @feed.address.present?
          %dt<> Address:
          %dd<>= @feed.address
        - if @feed.hours.present?
          %dt<> Hours:
          %dd<>= @feed.hours
      =link_to "Edit", "#", :class=>"edit" 
  #column-2<>
    - if can?(:create, @feed => Announcement)
      #post
        #post_tabs_container

          %ul#post_tabs
            -t('.post_tabs').each do |text|
              %li= link_to text, '#', :class => 'post_tab'
        .clear
        #form_wrapper
          - semantic_form_for [@feed, Announcement.new] do |f|
            = f.inputs :subject, :body
            - f.buttons do
              = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/red-post-now-button.png"}

    #recent-posts
      %h2= t '.recent_posts.title'
      = render 'shared/items', :items => @feed.announcements
      = render 'shared/items', :items => @feed.events
	 
  #column-3<>
    #about
      %h2= t '.about.title'
      %p= @feed.about
      =link_to "Edit", "#", :class=>"edit"

    #members
      %h3= t '.members.title'
      %ul
        - @feed.subscribers.each do |user|
          %li
            = image_tag user.avatar.url, :size => "32x32"
            = user.name
        
      
