
- render :layout => "layouts/application" do
  #main
    %h1
      = @feed.name
      - if can?(:edit, @feed)
        = link_to 'Edit', edit_feed_path(@feed), :class => 'edit'
    

    #column-1<>
      = image_tag @feed.avatar_url, :id => 'feed-avatar', :size => "210x210"
      - if [:phone, :website, :address].any? {|method| @feed.send(method).present?}
        %h3= t 'feeds.profile.contact_info.title'
        #contact-info
          %table
            - if @feed.phone.present?
              %tr
                %th= t("formtastic.labels.feed.show.phone")
                %td= @feed.phone
            - if @feed.website.present?
              %tr
                %th= t("formtastic.labels.feed.show.website")
                %td= link_to truncate(@feed.website, :length => 25), @feed.website
            - if @feed.address.present?
              %tr
                %th= t("formtastic.labels.feed.show.address")
                %td= @feed.address

    #column-2<>
      - if can?(:edit, @feed)
        = updated_content_or("#post-to-feed") do
          = render 'feeds/announcements/form', :feed => @feed, :announcement => Announcement.new


      #recent-posts
        %h2= t 'feeds.profile.recent_posts.title'
        - if @feed.announcements.empty? && @feed.events.empty?
          .no-recent-posts No Recent Posts
        - else
          = render 'shared/items', :items => @feed.wire

    #column-3<>
      #about
        %h2= t 'feeds.profile.about.title'
        %p= @feed.about

      %h3= t 'feeds.profile.members.title', :count => @feed.subscribers.count
      #members
        %ul
          - @feed.subscribers.each do |user|
            %li
              = image_tag user.avatar_url, :size => "32x32"
              = user.name
        = render 'subscriptions/form', :feed => @feed, :user => current_user
        
      
