
- render :layout => "layouts/application" do
  #main
    %h1
      = @feed.name
      = link_to 'Edit', edit_feed_path(@feed), :class => 'edit'
    


    #column-1<>
      = image_tag @feed.avatar.url, :id => 'feed-avatar', :size => "210x210"
      - if [:phone, :website, :address, :hours].any?
        %h3= t 'feeds.profile.contact_info.title'
        #contact-info
          %dl
            - [:phone, :website, :address, :hours].each do |method|
              - if @feed.send(method).present?
                %dt<>= t("formtastic.labels.feed.show.#{method}")
                %dd<>= @feed.send(method)

    #column-2<>
      - if can?(:create, @feed => Announcement)
        = updated_content_or("#post-to-feed") do
          = render 'feeds/announcements/form', :feed => @feed, :announcement => Announcement.new


      #recent-posts
        %h2= t 'feeds.profile.recent_posts.title'
        - if @feed.announcements.empty? && @feed.events.empty?
          .no-recent-posts No Recent Posts
        - else
          = render 'shared/items', :items => @feed.wire

    #column-3<>
      #about
        %h2= t 'feeds.profile.about.title'
        %p= @feed.about

      %h3= t 'feeds.profile.members.title', :count => @feed.subscribers.count
      #members
        %ul
          - @feed.subscribers.each do |user|
            %li
              = image_tag user.avatar.url, :size => "32x32"
              = user.name
        = link_to "Subscribe!", "#", :class => "subscribe"
        
      
