%div{'data-href' => group_post_path(group_post), :class => "group_post tooltip", 'data-title' => "Click to see replies and your neighbor's profile."}

  .controls
    - if can? :destroy, group_post
      &sdot;
      = link_to 'delete', group_post, :method => :delete
    - if can? :update, group_post
      &sdot;
      = link_to 'edit', [:edit, group_post], 'data-remote' => true
  %time
    = post_date group_post.created_at
    
  = image_tag group_post.group.avatar_url(:thumb), :size => "98x98", :class => "avatar"

  .reply-count #{ group_post.replies.size } replies
  = link_to group_post.subject, group_post, 'data-remote' => true, :class => "title"
  .author
    #{group_post.owner.name} to #{group_post.group.name}

  .body= markdown auto_link(group_post.body, :all, :target => "_blank")

= render 'shared/replies', :item => group_post
