
= form_for reply, :html => {'data-remote' => true} do |f|
  = image_tag reply.user.avatar_url(:thumb), :class => "avatar"
  = f.hidden_field :repliable_id
  = f.hidden_field :repliable_type
  = f.text_area :body, "data-label" => "Reply here!", :rows => 1, :content => "Test"
  #submit_wrapper
    = f.submit "Reply"