%li.reply.tooltip{'data-title' => "Click to view #{reply.user.name}'s profile."}
  - link_to reply.user, 'data-remote' => true, :class => 'tooltip' do
    = image_tag reply.user.avatar.url(:thumb), :class => "avatar"
    .body
      %p
        %span.author= reply.user.name
        = reply.body
      %time #{time_ago_in_words(reply.created_at, include_seconds = true)} ago