- render :layout => 'shared/modal' do

  - semantic_form_for @post, :url => first_posts_path, :html => { :class => "new_entity after_registration" } do |f|
    %hr.staple
  
    %h1 Write Your First Neighborhood Post
    
    %p.subhead Neighborhood posts are sent out to the 500 or so houses right around you. Need to borrow a ladder? Post a request to CommonPlace and find one nearby.  Saw a pothole, lost a cat, have neighborhood news? Post something to CommonPlace to immediately inform your neighbors.

    %p.subhead Feel free to take a moment to introduce yourself to your neighbors, by writing your first neighborhood post!

    - f.inputs do
      = f.input :subject
      = f.input :body, :input_html => { :rows => 5, :cols => 21 }
      = f.input :category, :as => :radio, :collection => Post::CATEGORIES
      
    - f.buttons do
      #submit_wrapper= f.commit_button "Submit your post"
    = link_to "Skip this step; I'll post something later", posts_path, 'data-remote' => true, :class => "skip"

- update_content "#syndicate" do
  #syndicate
    %nav
      - link_to new_post_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Write a new post to your neighbors.' do 
        %span
          = image_tag 'pin-icon.png'
          %span POST TO YOUR NEIGHBORS
    = render 'shared/items', :items => @items
  

