%div{:class => "announcement tooltip", 'data-title' => "Click to see replies and this community feed's profile"}
  = image_tag rss_announcement.owner.avatar_url, :class => 'avatar'
  %time= post_date rss_announcement.created_at
  .reply-count #{ rss_announcement.replies.size } replies
  .title= rss_announcement.subject
  .author= link_to rss_announcement.owner.name, rss_announcement.owner
  .body
    = markdown rss_announcement.body
    = link_to 'more', rss_announcement.url

= render 'shared/replies', :item => rss_announcement