

%h2#management_section_header 
  = image_tag @organization.avatar.url, :width => 20, :height => 20
  Managing Organization: #{@organization.name}
%nav#profile_section_navigation<
  = tab_to "Edit Organization Info", management_organization_path(@organization)
  = tab_to "Edit Profile", ''
  = tab_to "Manage Events", management_organization_events_path(@organization)
  = tab_to "Post a New Announcement", management_organization_announcements_path(@organization)
  = tab_to "Invite New Subscribers", outreach_management_organization_path(@organization)
  = tab_to "Settings", ""


