

= link_to "Profile", management_organization_path(@organization)
= link_to "Events", management_organization_events_path(@organization)
= link_to "Announcements", management_organization_announcements_path(@organization)
= link_to "Outreach", management_organization_outreaches_path(@organization)
= link_to "Settings", edit_management_organization_path(@organization)
= link_to "New Organization", new_management_organization_path

