

%h2#management_section_header 
  = image_tag @organization.avatar_url(:thumb), :width => 20, :height => 20
  Managing Organization: #{@organization.name}
%nav#profile_section_navigation<
  = tab_to "Edit Organization Info", management_organization_path(@organization)
  = tab_to "Edit Profile", management_organization_profile_fields_path(@organization)
  = tab_to "Manage Events", management_organization_events_path(@organization)
  = tab_to "Post a New Announcement", management_organization_announcements_path(@organization)
  = tab_to "Invite New Subscribers", '#',  :class => 'management_disabled'
  = tab_to "Settings", '#',  :class => 'management_disabled'


