.info_box.organization.preview
  #info_box_top= "Organization".upcase

  #info_box_main
    #info_box_main_left
      = image_tag @organization.avatar_url(:normal), :class => 'graphic'
      %span{:id => "follow_link", :class => "link_button"} 
        Subscribe
      %span{:id => "message_me", :class => "link_button"}
        Message #{ @organization.name }
    .body
      %h3= link_to @organization.name, @organization, :target => :blank
      %p.user_about= auto_link @organization.about, :all, :target => :blank
      %ol.user_info
        - unless @organization.tag_list.empty?
          %li
            %span.info_title= "Tags".upcase
            = @organization.tag_list.join(", ")
        - if @organization.website
          %li
            %span.info_title= "Website".upcase
            = @organization.website
        - if @organization.phone
          %li
            %span.info_title= "Phone".upcase
            = @organization.phone
        - unless @organization.address.blank?    
          %li
            %span.info_title= "Address".upcase 
            = @organization.address[/(.+?)(,)/, 1]
            
    
  
  = render_map do |map|
    - map.center :lat => @organization.lat, :lng => @organization.lng
    - map.marker :lat => @organization.lat, :lng => @organization.lng
