
- content_for :navigation do
  %h2#management_section_header New Organization
  %nav#profile_section_navigation

- semantic_form_for [:management, @organization], :html => { :class => "management_form" } do |f|
  %h3.management_field Create a new organization
  - f.inputs do 
    = f.input :name
    = f.input :address
    = f.input :avatar
    = f.input :about
    = f.input :phone
    = f.input :website
    = f.input :category, :as => :select, :collection => Organization::CATEGORIES

  - f.buttons do
    = f.commit_button 'Continue'