- content_for :navigation do
  = render 'navigation'

#edit_profile
  
  - form_for @organization, :url => management_organization_path(@organization), :html => { :multipart => true, :class => "management_form", :id => "edit_avatar" } do |f|
    %h3.management_field Edit #{ @organization.name }'s profile picture
    = image_tag @organization.avatar.url, :width => 120, :height => 120, :class => 'graphic'
    %fieldset
      = f.label :avatar, "Upload a new profile picture:"
      = f.file_field :avatar
      = f.submit "Save your profile photo"

  - semantic_form_for @organization, :url => management_organization_path(@organization), :html => { :class => "management_form" } do |f|
    %h3.management_field Edit #{ @organization.name }'s profile
    - f.inputs do
      = f.input :name
      = f.input :about, :input_html => {:rows => 4, :cols => 40}
      = f.input :phone
      = f.input :website
      = f.input :address
      = f.input :tag_list, :as => :string, :label => "Tag list", :hint => "For example: outdoors, skiing"
    = f.buttons

#profile
  = render 'preview'
