
- content_for :navigation do
  = render 'navigation'

#edit_profile
  
  - form_for @organization, :url => management_organization_path(@organization), :html => {:multipart => true} do |f|
    = f.file_field :avatar
    = f.submit "upload"

  %hr

  - semantic_form_for @organization, :url => management_organization_path(@organization) do |f|
    - f.inputs do
      = f.input :name
      = f.input :phone
      = f.input :website
      = f.input :address
      = f.input :tag_list, :as => :string
    = f.buttons
      
        
                

#edit_profile_modules

  = button_to "Add Field", "#" + new_management_organization_profile_field_path(@organization), :method => :get

  %ul#modules
    %li.profile_field
      %h3 About us
      %p= @organization.about
  
    - @organization.profile_fields.sort{ |x,y| x.position <=> y.position }.each do |p|
      %li.profile_field
        %h3= p.subject
        %p= p.body
    
  