%div
  #edit_profile_fields
    %ul#modules
      - @feed.profile_fields.sort{ |x,y| x.position <=> y.position }.each do |p|
        %li.profile_field{:id => "field_#{p.id}"}
          %h3
            = p.subject
            %span.admin
              = link_to 'edit'
              &sdot;
              = link_to 'delete'
          %p= p.body

    = link_to "Add a new profile field", new_management_feed_profile_field_path(@feed), :id => "new_profile_field", :class => "styled_button", 'data-nohistory' => true
    = button_to 'Save', order_management_feed_profile_fields_path(@feed), :id => "save_profile_fields", :class => "styled_button"


  
  #edit_avatar
    - form_for @feed, :url => feed_claim_path(@feed), :html => { :multipart => true, :class => "management_form", :id => "edit_avatar" } do |f|
      %h3.management_field Edit #{ @feed.name }'s profile picture
      = image_tag @feed.avatar_url(:normal), :width => 120, :height => 120, :class => 'graphic'
      %fieldset
        = f.label :avatar, "Upload a new profile picture:"
        = f.file_field :avatar

