
%div.claim
  - semantic_form_for @feed, :url => feed_claim_path(@feed), :html => { :class => "management_form", :method => :put } do |f|
    %h3.management_field Edit #{ @feed.name }'s profile
    - f.inputs do
      = f.input :name
      = f.input :about, :input_html => {:rows => 4, :cols => 40}
      = f.input :phone
      = f.input :website
      = f.input :tag_list, :as => :string, :label => "Tag list", :hint => "For example: outdoors, skiing"
    - f.buttons do
      = f.commit_button "Continue"
