= javascript_include_tag "jquery-1.6.1", "highcharts", "date"
.community{:width => "100%", :style => "border:1px solid black;"}
  - community = community_overview
  - community_user_count = community.users.size
  .community{:width => "100%", :style => "border: 1px solid black;"}
    %h2{:style => "text-align: center;"}
      = community.name
      = link_to "(csv)", "/admin/#{community.slug}/export_csv"
    %table
      %tr
        %th Users
        %th User Data
      %tr
        %td{:valign => "top"}
          Total Users:
          = community.users.count
          %br
          Percentage of Field: 
          = "#{(100*community.users.count) / community.households.to_i}%"
          %br
          User Gains Today:
          = community.users.today.count
          %div[community, :user_growth]{:style => "width: 250px;"}
        %td{:valign => "top"}
          %table{:border => "1"}
            %tr
              %td
                Total Neighborhood Posts: 
                = community.posts.count
                %br
                Neighborhood Posts This Week:
                = community.posts.between(7.days.ago, 0.days.ago).count
                %br
                Average Per Day:
                = community.posts.between(7.days.ago, 0.days.ago).count / 7.0
                %div[community, :neighborhood_post_growth]{:style => "width: 250px;"}
              %td
                Total Events:
                = community.events.size
                %br
                Events This Week:
                = community.events.between(7.days.ago, 0.days.ago).size
                %br
                Average Per Day:
                = community.events.between(7.days.ago, 0.days.ago).size / 7.0
                %span[community, :event_growth]{:style => "width: 250px;"}
            %tr
              %td
                Total Announcements:
                = community.announcements.size
                %br
                Announcements This Week:
                = community.announcements.between(7.days.ago,0.days.ago).size
                %br
                Average Per Day:
                = community.announcements.between(7.days.ago,0.days.ago).size / 7.0
                %span[community, :announcement_growth]{:style => "width: 250px;"}
              -#%td
                Total Private Messages:
                = community.private_messages.size
                %br
                Private Messages This Week:
                = community.private_messages.select { |m| m.created_at < 0.days.ago and m.created_at > 7.days.ago }.size
                %br
                Average Per Day:
                = community.private_messages.select { |m| m.created_at < 0.days.ago and m.created_at > 7.days.ago }.size / 7.0
                %span[community, :private_message_growth]{:style => "width: 250px;"}
          -#%br
          -#Value-Adding User Percentage:
          -#= "#{((100*community.users.select { |u| u.value_adding? }.size) / community_user_count)}%"

