= javascript_include_tag "jquery-1.6.1", "highcharts"
%table{:border => "1"}
  %tr
    %td{:colspan => "2"}
      %h2 Totals
      .totals
        Total Users: 
        = User.all.count
        %br
        Total Neighborhood Posts: 
        = Post.all.count
        %br
        Total Event Posts: 
        = Event.all.count
        %br
        Total Announcements: 
        = Announcement.all.count
        %br
        Total Group Posts:
        = GroupPost.all.count
        %br
        Total Private Messages: 
        = Message.all.count
        %br
        Total Reply Percentage:
        = 100*(Reply.all.count / (Reply.all.count + Announcement.all.count + Event.all.count + GroupPost.all.count + Post.all.count + Message.all.count))
      .registrations
        %img{:src => Gchart.pie(:data => [@completed_registrations.count, @incomplete_registrations.count], :title => "Total Registration Status", :labels => ["Complete", "Incomplete"], :size => "300x200")}
        %br
        Completed Registrations:
        = @completed_registrations.count
        %br
        Incomplete Registrations:
        = @incomplete_registrations.count
      .today
        Today's Neighborhood Posts:
        = Post.today.count
        %br
        Today's Event Posts:
        = Event.today.count
        %br
        Today's Announcements:
        = Announcement.today.count
        %br
        Today's Group Posts:
        = GroupPost.today.count
        %br
        Today's Private Messages:
        = Message.today.count
      .emails
        Emails Opened Today: 
        = @emails_opened_today
        %br
        Emails Opened Overall: 
        = @emails_opened
  %tr{:width => "100%"}
  - @communities.each do |community|
    - if community.id % 2 == 0
      %tr{:width => "100%"}
    %td{:width => "50%"}
      %h2= community.name
      .users
        Total Users:
        = community.users.count
        %div[community, :user_growth]
        Percentage of Field: 
        - if community.households == nil
          - community.households = community.users.count
        = 100*(community.users.count / community.households)
      .data
        %br
        %img{:src => Gchart.bar(:data => [[community.posts.count - community.posts.today.count, community.events.to_a.count-community.events.today.to_a.count, community.announcements.to_a.count-community.announcements.today.to_a.count, community.group_posts.count-community.group_posts_today.count],[community.posts.today.count,community.events.today.to_a.count, community.announcements.today.to_a.count, community.group_posts_today.count]], :bar_colors => ['FF0000','00FF00'], :labels => ['P', 'E', 'A', 'GP'], :title => "Usage Overview", :size => "400x200")}
        %br
        Total Neighborhood Posts:
        = community.posts.count
        %br
        Total Event Posts:
        = community.events.to_a.count
        %br
        Total Announcements:
        = community.announcements.to_a.count
        %br
        Total Group Posts:
        = community.group_posts.count
        %br
        Total Private Messages:
        = community.private_messages.count
        %br
      .registrations
        -#%img{:src => Gchart.pie(:data => [community.completed_registrations.count, community.incomplete_registrations.count], :title => "Overall Registration Status", :labels => ["Complete", "Incomplete"], :size => "300x200")}
        %br
        Completed Registrations: 
        = community.completed_registrations.count
        %br
        Incomplete Registrations:
        = community.incomplete_registrations.count
      .today
        Today's Neighborhood Posts:
        = community.posts.today.count
        %br
        Today's Event Posts:
        = community.events.today.to_a.count
        %br
        Today's Announcements:
        = community.announcements.today.to_a.count
        %br
        Today's Group Posts:
        = community.group_posts_today.count
        %br
        Today's Private Messages:
        = community.private_messages_today.count
      .engagement
        Users on Main Page: 
        ?
        %br
        Retention Percentage of Last Week: 
        = 100*((community.users.logged_in_since(7.days.ago).count) / community.users.count)
        %br
        Retention Percentage of Last Month:
        = 100*((community.users.logged_in_since(30.days.ago).count) / community.users.count)
        %br
        Value-Adding User Percentage:
        = 100*((community.users.select { |u| u.value_adding? }.count) / community.users.count)
      .breakdown
        %br
        %img{:src => Gchart.pie(:data => [Post.all.count, Event.all.count, Announcement.all.count, GroupPost.all.count, Message.all.count], :title => "Overall Posts by Type", :labels => ["Neighborhood", "Event", "Announcement", "Group", "Private Message"], :size => "400x200")}

%script
  var charts = [];
  $(document).ready(function() {
  - @communities.each do |community|
    charts.push(new Highcharts.Chart({
    chart: {
    = "renderTo: 'user_growth_community_#{community.id}',"
    zoomType: 'x'
    },
    title: { text: 'Users over Time' },
    xAxis: { type: 'datetime' },
    yAxis: { title: { text: 'Registered Users' } },
    series: [{
    name: "Registrations",
    pointInterval: 3600000 * 24,
    pointStart: new Date() - 60*60*24*30,
    type: 'area',
    data: [
    - community.registrations_since_30_days_ago.each do |i|
      = "#{i},"
    ]
    }]
    }));
  });

