%table{:border => "1"}
  %tr
    %td{:colspan => "3"}
      %h2 Totals
      .totals
        Total Users: 
        = User.all.count
        %br
        %img{:src => Gchart.pie(:data => [Post.all.count, Event.all.count, Announcement.all.count, GroupPost.all.count, Message.all.count], :title => "Overall Posts by Type", :labels => ["Neighborhood", "Event", "Announcement", "Group", "Private Message"], :size => "400x200")}
        %br
        Total Neighborhood Posts: 
        %br
        Total Event Posts: 
        %br
        Total Announcements: 
        %br
        TOtal Group Posts:
        %br
        Total Private Messages: 
        %br
      .registrations
        %img{:src => Gchart.pie(:data => [@completed_registrations.count, @incomplete_registrations.count], :title => "Total Registration Status", :labels => ["Complete", "Incomplete"], :size => "300x200")}
        %br
        Completed Registrations:
        %br
        Incomplete Registrations:
      .today
        Today's Neighborhood Posts:
        %br
        Today's Event Posts:
        %br
        Today's Announcements:
        %br
        Today's Group Posts:
        %br
        Today's Private Messages:
      .emails
        Emails Opened Today: 
        = @emails_opened_today
        %br
        Emails Opened Overall: 
        = @emails_opened
  %tr
  - @communities.each do |community|
    - if community.id % 3 == 0
      %tr
    %td
      %h2= community.name
      .totals
        Total Users:
        = community.users.count
        %br
        %img{:src => Gchart.pie(:data => [community.posts.count, community.c(Event), community.c(Announcement), community.group_posts.count, community.private_messages.count], :title => "Overall Posts by Type", :labels => ["Neighborhood", "Event", "Announcement", "Group", "Private Message"], :size => "400x200")}
        %br
        %img{:src => Gchart.bar(:data => [[community.posts.count - community.posts.today.count, community.events.to_a.count-community.events.today.to_a.count, community.announcements.to_a.count-community.announcements.today.to_a.count, community.group_posts.count-community.group_posts_today.count],[community.posts.today.count,community.events.today.to_a.count, community.announcements.today.to_a.count, community.group_posts_today.count]], :bar_colors => ['FF0000','00FF00'], :labels => ['P', 'E', 'A', 'GP'], :title => "Usage Overview", :size => "400x200")}
        %br
        Total Neighborhood Posts:
        = community.posts.count
        %br
        Total Event Posts:
        = community.events.to_a.count
        %br
        Total Announcements:
        = community.announcements.to_a.count
        %br
        Total Group Posts:
        = community.group_posts.count
        %br
        Total Private Messages
        = community.private_messages.count
      .registrations
        %img{:src => Gchart.pie(:data => [community.completed_registrations.count, community.incomplete_registrations.count], :title => "Overall Registration Status", :labels => ["Complete", "Incomplete"], :size => "300x200")}
        %br
        Completed Registrations: 
        = community.completed_registrations.count
        %br
        Incomplete Registrations:
        = community.incomplete_registrations.count
      .today
        Today's Neighborhood Posts:
        = community.posts.today.count
        %br
        Today's Event Posts:
        = community.events.today.to_a.count
        %br
        Today's Announcements:
        = community.announcements.today.to_a.count
        %br
        Today's Group Posts:
        = community.group_posts_today.count
        %br
        Today's Private Messages:
        = community.private_messages_today.count
