= javascript_include_tag "jquery-1.6.1"

:css
  td {
    border: 3px solid #c3c3c3;
  }
  th {
    border: 3px solid #c3c3c3;
  }
  table {
    border-collapse: collapse;
  }
%h2 Community Statistics
%table
  %thead
    %tr
      %th Statistic
      - @communities.each do |c|
        %th= c[0]
      %th Total
  %tbody
    - @communities.first[1].each do |statistic_name, value|
      %tr
        %th= statistic_name.titleize
        - @communities.each do |c|
          %td= c[1][statistic_name]
        - if statistic_name.include? "average" or statistic_name.include? "percentage"
          %td.average
        - else
          %td.total
%hr
%h2 Platform Statistics
%table
  %tr
    %th Statistic
    %th Value
  - @overall_statistics.each do |name,value|
    %tr
      %td= name.titleize
      %td= value
%hr
%h1 Historical Statistics
- @historical_statistics.each do |community, stats|
  %h2
    = "#{community} -"
    = link_to "Export CSV", "/admin/export_csv?community=#{Community.find_by_name(community).slug}"
  %table
    %tr
      %th Statistic
      - stats.each_with_index do |data, days_ago|
        %th= days_ago.to_i.days.ago.to_date.to_s
    - stats.first.each do |name, val|
      %tr
        %th= name.titleize
        - stats.each_with_index do |statistics, d|
          %td= statistics[name].to_s
:javascript
  $(document).ready(function(){
    findTotals();
  });

  function findTotals() {
    $("tbody tr").each(function() {
      row_total = 0;
      row_count = 0;
      $("td:not(.total)", this).each(function() {
        row_total += Number($(this).html());
        row_count += 1;
      });
      $(".total", this).html(roundNumber(row_total, 2));
      $(".average", this).html(roundNumber(row_total / row_count, 2));
    });
  }

  function roundNumber(num, dec) {
    return Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
  }
