
- content_tag_for :li, @profile_field do
  - form_for [@organization, @profile_field] do |f|
    = f.hidden_field :subject
    = f.hidden_field :body
    %h3 
      %span.admin
        = f.submit 'save'
        &sdot;
        = link_to 'cancel', "cancel", 'data-method' => 'delete', 'data-remote' => true
        %span.subject{:contenteditable => true}= @profile_field.subject
    %p.body{:contenteditable => true}= @profile_field.body
  