- form_for [user, conversation] do |f|
  = f.label :subject
  = f.text_field :subject
  
  - fields_for :messages, user.messages.new do |message|
    = message.label :body
    = message.text_area :body

  = f.submit
  