
- content_for :navigation do
  = render 'management/events/navigation'

#invite_on_commonplace
  %h3 Invite People on CommonPlace to Attend

  .tabs
    %ul
      %li
        %a{:href => "#suggested-people"}
          Suggested People
      %li
        %a{:href => "#all-people"}
          All People
    - if @possible_attendees.size > 0
      %ul#suggested-people
        - @possible_attendees.each do |user|
          %li= link_to user.name, user, 'data-remote' => true
    - else
      %p#suggested-people
        We weren't able to find any users with interestes similar
        to your organization. If you haven't already, try adding tags
        to your organization.

    %ul#all-people
      - @event.organization.community.users.each do |user|
        %li= link_to user.name, user, 'data-remote' => true

#invite_by_email
  %h3 Invite People by Email
  
  - form_for Invite.new do |f|
    = f.label :email, "The person's email address:"
    = f.text_field :email
    = f.label :body, "The message you'd like to send:"
    = f.text_area :body