
- content_for(:current_page, 'All Feeds')

%table
  %tr.even
    %th Name
    %th Created
    %th Claimed
    %th Edit
    %th Delete
  
  - @feeds.each do |feed|
    %tr{:class => cycle('odd','even')}
      %td= link_to feed.name, feed
      %td= feed.created_at.to_s(:date_time12)
      %td= feed.claimed ? "claimed" : "unclaimed"
      %td= link_to 'edit', edit_feed_path(feed)
      %td= button_to 'delete', feed_path(feed), :method => :delete
