<!DOCTYPE html>

<html>
  <head>
    <link href="https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css" rel="stylesheet" type="text/css">
    <%= include_stylesheets :group_page %>
    <%= include_javascripts :group_page %>
    <%= include_javascripts :group_page_templates %>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type ="text/css">
    <title>CommonPlace Groups</title>
  </head>

  <body>

    <%= render "layouts/header", :user_session => current_user_session %>
    
    <div id="main">

      <div id="group-header">
      </div>
      
      <div id="left-column">
        <div id="group-profile">
        </div>
        <div id="group-nav">
        </div>
      </div>
      
      <div id="center-column">
        <div id="new-post">
        </div>
        <div id="post-list">
        </div>
      </div>
      
      <div id="right-column">
        <div id="groups-list">
        </div>
      </div>
      <div style="clear: both"></div>
    </div>

   <%= render "layouts/footer" %>
    
  </body>

  <script type="text/javascript">
    $(function() {
      $.getJSON("/api/account", function(account) {

      var community = <%= (Serializer::serialize current_community).to_json.html_safe %>;
      var group = <%= (Serializer::serialize @group).to_json.html_safe %>;
      var groups = <%= (Serializer::serialize current_community.groups.to_a).to_json.html_safe %>;
      new GroupPageRouter({ account: account, community: community, group: group.slug, groups: groups });
      //Backbone.history.start();

      });
    });
  </script>

</html>
