
#information.info_box.user
  %h2 Your Neighbor
  
  = image_tag user.avatar.url(:normal), :width => 120, :class => "avatar"
  
  - link_to new_user_message_path(user), :class => "message_me", 'data-remote' => true, 'data-title' => "Click to send a private message to #{ user.first_name }" do 
    %span Message #{ user.first_name }


  %h3= user.full_name
  .info= markdown user.about
  %table
    %tr
      %th INTERESTS
      %td= user.interest_list
    %tr
      %th GOODS & SKILLS
      %td= user.good_list
    %tr
      %th SUBSCRIPTIONS
      %td= user.feed_list

  .clear
