
#information.info_box.user
  %h2 Your Neighbor
  
  = image_tag user.avatar.url(:normal), :width => 120, :class => "avatar"
  
  - if user != current_user
    - link_to new_user_message_path(user), :class => "message_me", 'data-remote' => true, 'data-title' => "Click to send a private message to #{ user.first_name }" do 
      %span Message #{ user.first_name }

    - unless current_user.people.include? user
      - form_tag user_met_path(user), 'data-remote' => true, :class => "new_met new_#{dom_id user}_met" do
        %button 
          %span Have you met?

  %h3= user.full_name
  .info= markdown user.about
  %table
    - if user.interest_list.present?
      %tr
        %th INTERESTS
        %td= user.interest_list
    - if user.good_list.present?
      %tr
        %th GOODS & SKILLS
        %td= user.good_list
    - if user.feed_list.present?
      %tr
        %th SUBSCRIPTIONS
        %td= user.feed_list

  .clear
