.info_box.styled_box.user
  .header
    .icon{ :alt => "user" }
    .header_text
      %span.category Your Neighbor
    - if current_user.mets.exists?(user)
      %span.follow_status You've met
  #info_box_main
    #info_box_main_left
      = image_tag user.avatar.url, :width => 120, :height => 150, :class => 'graphic'
      - unless current_user.mets.exists?(user)
        = button_to "Have you met?", "", :id => "follow_link", :class => "link_button"
      = link_to "Message #{ user.first_name }", new_user_conversation_path(user), :id => "message_me", :class => "link_button", 'data-remote' => true
    .body
      %h3= user.full_name
      %p.user_about= auto_link user.about, :all, :target => '_blank'
      %ol.user_info
        - unless user.interests.empty?
          %li
            %span.info_title= "Shared skills".upcase
            = user.skills
        - unless user.interests.empty?
          %li
            %span.info_title= "Interests".upcase
            = user.interests
        - unless user.organizations.empty?
          %li
            %span.info_title= "Organizations".upcase
            = user.organizations.map{ |org| link_to org.name, org, :target => '_blank' }.join(", ")
        %li
          %span.info_title= "Address".upcase 
          = user.address[/(.+?)(,)/, 1]

  - unless user.lat.blank? or user.lng.blank?
    #map  
      :javascript
        gMapInit(#{user.lat}, #{user.lng});