.info_box.user
  .header
    %img.icon{ :alt => "user" }
    %span.category YOUR NEIGHBOR
    %span.name= user.full_name
  .bottom
    = image_tag user.avatar.url, :width => 120, :height => 150, :class => 'graphic'
    .body
      %h3= user.full_name
      %table
        %tbody
          - if true # unless user.address.nil? || user.address.empty? || user.hide_address
            %tr#address_row
              %th.label Address
              %td= user.address[/(.+?)(,)/, 1]

          - unless user.about.nil? || user.about.empty?
            %tr#about_row
              %th.label About me
              %td= auto_link user.about, :all, :target => '_blank'

          - unless user.interests.empty?
            %tr#interest_row
              %th.label Interests 
              %td= user.interests

          - unless user.skills.empty?
            %tr#skill_row
              %th.label Shared skills
              %td= user.skills
      .expand Message Me