
#information.info_box.user
  %h2 Your Neighbor
  
  = image_tag user.avatar_url(:normal), :width => 120, :class => "avatar"
  
  .actions 
    - if user != current_user
      = link_to "/users/#{user.to_param}/messages/new", :class => "message_me" do 
        %span Message #{ user.first_name }

      - if current_user.people.include? user
        %span.subscribed
          %span
            You've Met

        = link_to user_met_path(user), 'data-remote' => true, 'data-method' => 'delete', :class => 'unsubscribe' do
          Undo met
          
      - else
        = link_to user_met_path(user), 'data-remote' => true, 'data-method' => 'post', :class => "new_met new_#{dom_id user}_met" do 
          %span Have you met?

  %h3= user.full_name
  .info= markdown user.about
  %table
    - if user.interest_list?
      %tr
        %th INTERESTS
        %td= user.interest_list

    - if user.offer_list?
      %tr
        %th GOODS & SKILLS
        %td= user.offer_list

    - if user.feed_list.present?
      %tr
        %th SUBSCRIPTIONS
        %td= truncate user.feed_list, :length => 100

  .clear
