= image_tag user.avatar.url
%h2 #{user.full_name}
/ - unless user.groups.nil?
/   %div.clear
/     %p Groups:
/     = render_tag_list(user.groups)
- unless user.interests.empty?
  %p Interests
  = render_tag_list(user.interests)
- unless user.skills.empty?
  %p Skills
  = render_tag_list(user.skills)
- unless user.stuffs.empty?
  %p Stuff
  = render_tag_list(user.stuffs)
%p Phone: number
%p Send a Message
%textarea
%button Send