
#main
  %h1
    =t(".h1")
  = form_for registration.user, :url => crop_avatar_registration_path, :method => :put, :html => { :class => "crop" } do |f|
    = image_tag registration.avatar_url(:original), :id => "cropbox"


    - [:crop_x, :crop_y, :crop_w, :crop_h].each do |attribute|
      = f.hidden_field attribute, :id => attribute

    = f.submit :type => "image", :src => asset_path("buttons/continue2.png")

= mixpanel_track("Cropping Avatar")

