#main
  
  %h1 You are now connected through Facebook

  #registration_information
    %ul{:id=>"infolist"}
      %li To complete your registration, fill out your street address so we can verify you live in town. 
      %li If you want, feel free to adjust your display name and contact email as well.

  = semantic_form_for registration.user, :url => create_registration_url(current_community) do |f|
    %h4 
      Add your street address

    = f.inputs do
      = f.input :full_name, :input_html => { :placeholder => "Full name"} 
      = f.input :email, :input_html => { :placeholder => "Email address", :type => "text"}
      - if current_community.is_college
        = f.select :address, college_dorms_for_school(current_community)
      - else
        = f.input :address, :hint => "", :input_html => {:placeholder => "Street address"}
      = f.input :facebook_uid, :as => :hidden
      = f.input :community_id, :as => :hidden
    = f.buttons do 
      = f.commit_button :button_html => {:type => "image", :src => asset_path("buttons/signup.png")}
  
  %div{:style=>"clear: both;"}
