
%h1= t(".h1").html_safe
#main
  #registration_information
    %ul
      %li= t ".p1"
      %li= t ".p2"
      %li= t ".p3"

  = form_tag add_groups_registration_url, :id => "add_groups", :class => "add_groups", :method => "put" do
    %h2 Subscribe to some groups:
    #groups_container
      - current_community.groups.each do |group|
        .group
          = image_tag(group.avatar_url)
          .unchecked
          %h3= group.name
          %p= group.about
          %input{:class =>"groupId", :name => "group_ids[]", :value => group.id.to_s, :type =>"checkbox"}
    %input{:type => "image", :src => asset_path("buttons/continue2.png")}

= mixpanel_track("Add groups")

    
