<ul class="pageitem">
  <li class="textbox"><h3>Plug Into the<br /><%= current_community.name %> Community</h3>
    <p>CommonPlace is a web platform built for <%= current_community.name %> residents. It's like an online bulletin board for the <%= current_community.name %> community.</p><p>&nbsp;</p>
    <p>CommonPlace is a community service project. Join and help make <%= current_community.name %> an even better place to live.</p><p>&nbsp;</p>
    <p>Sign up by completing the short form below to send and receive community announcements written by your neighbors and local leaders here in <%= current_community.name %>.</p><p>&nbsp;</p>
    <%= form_tag create_registration_url(current_community) do %>
    <input type="hidden" name="mobile" value="mobile" />
    <ul class="pageitem">    
      <li class="bigfield"><input  placeholder="(Your Full Name)" name="user[full_name]" type="text" /></li>
      <li class="bigfield"><input  placeholder="(Your Email Address)" name="user[email]" type="text" /></li>
      <li class="bigfield"><input  placeholder="(Your Street Address)" name="user[address]" type="text" /></li>
    </ul>	
    <ul class="pageitem">  
      <li class="button">
	<input name="Submit input" id="Submit input"  type="submit" value="SIGN ME UP!" /></li>
    </ul>
    <% end %>
    <p>&nbsp;</p>
  </li>
  
</ul>
