- if !current_community.has_launched?
  .prelaunch-notification
    Welcome to #{current_community.name} CommonPlace! We're officially launching on #{current_community.launch_date.strftime("%B")} #{current_community.launch_date.day.ordinalize} but you can be first to get a sneak peek. Sign up below to test it out.

#main
  
  %h1= current_community.has_launched? ? t(".h1", :community => current_community.name).html_safe : "Coming soon to #{current_community.name}"

  #registration_information
    %ul{:id=>"infolist"}
      %li#li1= t(".li1", :community => current_community.name)
      %li#li2= t(".li2", :community => current_community.name)
      %li#li3= t(".li3", :community => current_community.name)
    %ul{:id=>"link_item"}
      %a{:href => "/#{current_community.slug}/learn_more"}
        %img{:src=> asset_path("buttons/learnmore.png"), :alt=>"Learn more", :id=>"learnmore"}


  = semantic_form_for registration.user, :url => create_registration_url(current_community) do |f|
    %h4 
      = link_to user_omniauth_authorize_path(:facebook, :state => current_community.id), :class => "facebook" do
        = image_tag "buttons/facebook-sign-up.png"
      Register Here
    = f.inputs do
      = f.input :full_name, :input_html => { :placeholder => "Full name"} 
      = f.input :email, :input_html => { :placeholder => "Email address", :type => "text"}
      - if current_community.is_college
        = f.select :address, college_dorms_for_school(current_community)
      - else
        = f.input :address, :hint => "* This is to verify you live in #{current_community.name}.  We will not share it with anyone.", :input_html => {:placeholder => "Street address"}
      = f.input :facebook_uid, :as => :hidden
      = f.input :community_id, :as => :hidden
    = f.buttons do 

      = f.commit_button :button_html => {:type => "image", :src => asset_path("buttons/signup.png")}



  %div{:style=>"clear: both;"}

= mixpanel_track("Community Registration Page")
