<%
   # notes: uses :as => :registration so as not ton conflict with header box
   # we don't focus the name field to make facebook more attractive
   launched = current_community.has_launched?.freeze
   @from_facebook = @user.is_facebook_user.freeze
%>
<% if !launched %>
    <div class="prelaunch-notification">
      Welcome to <%= current_community.name %> CommonPlace! We're officially launching on
      <%= current_community.launch_date.strftime("%B") %> <%= current_community.launch_date.day.ordinalize %> but you
      can be first to get a sneak peek. Sign up below to test it out.
    </div>
<% end %>



<div class="slider" id="slider">

  <div id="step1" class="step">

    <h1>
      <% if @from_facebook %>
          You are now connected through Facebook
      <% else %>
          <%= launched ?
                      t(".header1", :community => current_community.name).html_safe :
                      "Coming soon to#{current_community.name}" %>
      <% end %>
    </h1>

    <div class="wrap">

      <div class="registration_information">

        <% if @from_facebook  %>
            <ul>
              <li>To complete your registration, fill out your street address so we can verify you live in town.</li>
              <li>If you want, feel free to adjust your display name and contact email as well.</li>
            </ul>
        <% else %>
            <ul>
              <li>
                <%= t ".bullet1-1", :community => current_community.name %>
              </li>
              <li>
                <%= t ".bullet1-2" %>
              </li>
              <li>
                <%= raw t ".bullet1-3", {posts: (current_community.posts.count + current_community.events.count + current_community.announcements.count),
                                         members: current_community.users.count,
                                         date: current_community.launch_date.to_datetime.to_s(:month_day) } %>
              </li>
            </ul>

            <ul id="link_item">
              <a href="/<%= current_community.slug %>/learn_more">
                <img src="<%= asset_path("buttons/learnmore.png") %>" alt="Learn more" id="learnmore"/>
              </a>
            </ul>
        <% end %>
      </div>


      <div class="redbox">

        <%= render :partial => 'step1_form' %>

      </div>
      <div style="clear: both;"></div>
    </div>

  </div>
  <!-- end step -->


  <div id="step2" class="step">

    <h1>
      <%= t(".header2", :community => current_community.name).html_safe %>
    </h1>

    <div class="wrap">
      <div class="registration_information">
        <ul id="step2_bullets">
          <li>Thanks for signing up, <span class="registrar_name"></span>!</li>
          <li><%= t ".bullet2-2" %></li>
          <li><%= t ".bullet2-3" %></li>
        </ul>
      </div>


      <div class="redbox">

        <%= render :partial => 'step2_form' %>

      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <!-- end step -->


  <div id="step3" class="step">

    <h1>
      <%= t ".header3" %>
    </h1>

    <div class="wrap">

      <%= render :partial => 'step3_avatar' %>

      <div style="clear: both;"></div>
    </div>
  </div>


  <div id="step4" class="step">
    <div class="wrap">

      <h1><%= t ".header4" %></h1>

      <div class="registration_information">
        <ul>
          <li><%= t ".bullet4-1" %></li>
          <li><%= t ".bullet4-2" %></li>
        </ul>
      </div>


      <div class="redbox">
        <%= render :partial => 'step4_feeds' %>
      </div>

      <div style="clear: both;"></div>
    </div>
  </div>


  <div id="step5" class="step">

    <div class="wrap">

      <h1><%= t ".header5" %></h1>

      <div class="registration_information">
        <ul>
          <li><%= t ".bullet5-1" %></li>
          <li><%= t ".bullet5-2" %></li>
        </ul>
      </div>


      <div class="redbox">
        <%= render :partial => 'step5_groups' %>
      </div>

      <div style="clear: both;"></div>
    </div>
  </div>

</div>


<script type="text/javascript">
  <%# todo: standard mpq api %>
    mpq.track('Community Registration Page', {'community': '<%= current_community.slug %>'});
</script>
