%h1= t(".h1", :community => current_community.name).html_safe
#main 
  #registration_information
    %ul
      %li= "Thanks for signing up, #{registration.first_name}!"
      %li= t ".p3"
      %li= t ".p4"

  = semantic_form_for registration.user, :url => add_profile_registration_url, :html => {:multipart => true, :class => "add_profile"}, :method => :put do |f|
    = f.inputs do 
      - unless registration.from_facebook?
        = f.input :password, :required => true, :hint => t(".password_hint")

      - if registration.from_facebook?
        %img{:src => registration.avatar_url, :style => "vertical-align:middle;float:left;", :width => "100px"}
        = f.input :avatar, :input_html => {:size => 25}, :wrapper_html => { :class => "facebook"} , :label => "Upload a different photo?:"
        %div{style: "clear: both; height: 10px"}
      - else
        = f.input :avatar, :input_html => {:size => 25}
      = f.input :about
      = f.input :interest_list, :as => :select, :collection => $interests, :multiple => true, :input_html => {"data-placeholder" => "Select some interests" }, :label => "Select some interests to share with your neighbors:"
      = f.input :skill_list, :as => :select, :collection => $skills, :multiple => true, :input_html => {"data-placeholder" => "Select some skills" }, :label => "Select some skills you can share with your neighbors:"
      = f.input :good_list, :as => :select, :collection => $goods, :multiple => true, :input_html => {"data-placeholder" => "Select some goods" }, :label => "Select some goods you can share with your neighbors:"
      = f.input :referral_source, :as => :select, :collection => registration.referral_sources
      = f.input :referral_metadata

    = f.buttons do
      = f.commit_button :button_html => {:type => "image", :src => asset_path("buttons/continue2.png")}

= mixpanel_track("Password entry")
