!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    %title CommonPlace
    %meta{ :name => "description", :content => "CommonPlace helps you share and connect with your neighbors." }

    %link{ :href=> 'https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css', :rel =>"stylesheet", :type =>"text/css"}
    %link{ :href=> 'https://fonts.googleapis.com/css?family=Rokkitt:400,700', :rel =>"stylesheet", :type =>"text/css"}
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    
    = stylesheet_link_tag :application


  %body.application

    #sticky-wrapper

      #fb-root

      = render 'layouts/header'

      #main

      #sticky-footer

    = render "layouts/footer"

    = include_ga
    = include_exceptional
    = include_mixpanel
    = javascript_include_tag :application
    = javascript_include_tag "https://www.plaxo.com/css/m/js/util.js"
    = javascript_include_tag "https://www.plaxo.com/css/m/js/basic.js"
    = javascript_include_tag "https://www.plaxo.com/css/m/js/abc_launcher.js"





