!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    %title CommonPlace
    %meta{ :name => "description", :content => "CommonPlace helps you share and connect with your neighbors." }

    %link{ :href=> 'https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css', :rel =>"stylesheet", :type =>"text/css"}
    %link{ :href=> 'https://fonts.googleapis.com/css?family=Rokkitt:400,700', :rel =>"stylesheet", :type =>"text/css"}
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    
    = stylesheet_link_tag :application


  %body.application
  
    = image_tag "tour/welcome-bg.png", :style => "display: none;"
    = image_tag "tour/tour-button.png", :style => "display: none;"

    #sticky-wrapper

      #fb-root

      #header

      #notification.important-notification

      #feature-switching

      #main

      #sticky-footer

    = render "layouts/footer"

    = include_ga
    = include_exceptional
    = javascript_include_tag "https://www.google.com/jsapi?autoload=%7Bmodules%3A%5B%7Bname%3Agdata%2Cversion%3A2.x%2Cpackages%3A%5Bblogger%2Ccontacts%5D%7D%5D%7D"
    = include_mixpanel
    = javascript_include_tag :application
    /[if lt IE 9]
      <script type="text/javascript">$(function() { $("body").addClass("oldIE") });</script>
