!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    = render :partial => 'layouts/common_head', :locals => { :javascripts => ["main_page"], :stylesheets => ["main_page"], :title => 'Community', :track => 'Community Home Page' }

  %body{ :class => "application #{params[:controller].gsub(/\//,"_")} #{params[:action]} #{ logged_in? ? "logged_in" : "logged_out" } #{ current_community.is_college ? "is_college" : ""}"}

    #wrapper

      = render 'shared/admin_bar'

      = render 'layouts/header'

      - if !current_community.has_launched?
        .prelaunch-notification
          Hey #{current_user.first_name}, welcome to #{current_community.name} CommonPlace! We're officially
          launching on #{current_community.launch_date.strftime("%B")} #{current_community.launch_date.day.ordinalize}.
          In the meantime, help us improve by <a href="/invite">inviting some more neighbors</a>.

      #feature-switching
          
      #main

      #wrapper-footer

    = render "layouts/footer"

    = render "layouts/bottom_scripts"

    %script
      $(function() {
      var community = new Community(#{serialize(current_community)});
      CommonPlace || (CommonPlace = {});
      CommonPlace.page = "main_page";
      CommonPlace.community = community;
      var account =  new Account(#{serialize(Account.new(current_user))});

      window.router = new MainPageRouter({
      account: account,
      community: community
      });

      (new FeatureSwitching({account: account, el: $("#feature-switching")})).render();
      
      Backbone.history.start();

      window.router.navigate(window.location.pathname, true);


      });



