!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    = render :partial => 'layouts/common_head', :locals => { :javascripts => ["main_page"], :stylesheets => ["main_page"], :title => 'Community', :track => 'Community Home Page' }

  %body{ :class => "application #{params[:controller].gsub(/\//,"_")} #{params[:action]} #{ logged_in? ? "logged_in" : "logged_out" } #{ current_community.is_college ? "is_college" : ""}"}

    #wrapper

      = render 'shared/admin_bar'

      = render 'layouts/header'

      - if !current_community.has_launched?
        .prelaunch-notification
          Hey #{current_user.first_name}, welcome to #{current_community.name} CommonPlace! We're officially
          launching on #{current_community.launch_date.strftime("%B")} #{current_community.launch_date.day.ordinalize}.
          In the meantime, help us improve by <a href="/invite">inviting some more neighbors</a>.
      
      #feature-switching
          
      #main

      #wrapper-footer

    = render "layouts/footer"

    = render "layouts/bottom_scripts"

    :javascript
      //todo: move to rails helper or erb to allow indentation.
      $(function() {
        window.router = new MainPageRouter({
        account: window.current_account, //todo: remove
        community: CommonPlace.community //todo: remove
      });

      (new FeatureSwitching({
        el: $("#feature-switching")
      })).render();
      
      Backbone.history.start();

      window.router.navigate(window.location.pathname, true);
      });



