!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    = render :partial => 'layouts/common_head', :locals => { :javascripts => ["feed_page"], :stylesheets => ["feed_page"], :title => 'Feeds', :track => 'Feed Page' }

  %body
    #sticky-wrapper

      #header

      #main
        #feed

        #right-column
          #feeds-list
    
        %div{:style => "clear: both"}

      = render 'layouts/footer'


      :javascript
        $(function() {
          $.getJSON("/api/account", function(account_response) {
            $.getJSON("/api/communities/#{current_community.id}/feeds", function(feeds) {
              new FeedPageRouter({ account: new Account(account_response), community: #{serialize(current_community)}, feed: "#{params[:id]}", feeds: feeds });
              Backbone.history.start();
            });
          });
        });
