<!DOCTYPE html>

<html>
  <head>
    <%= render :partial => 'layouts/common_head',
               :locals => { :javascripts => ["group_page"],
                            :stylesheets => ["group_page"],
                            :title => 'Groups',
                            :track => 'Groups Page' } %>
  </head>

  <body>

    <%= render "layouts/header" %>
    
    <div id="main">

      <div id="group"></div>
      
      <div id="right-column">
        <div id="groups-list">
        </div>
      </div>
      <div style="clear: both"></div>
    </div>

   <%= render "layouts/footer" %>
    
  </body>

  <script type="text/javascript">
    $(function() {
      $.getJSON("/api/account", function(account) {

      var community = <%= serialize current_community %>;
      var group = <%= serialize Group.find_by_slug(params[:slug]) %>;
      var groups = <%= serialize current_community.groups %>;
      new GroupPageRouter({ account: account, community: community, group: group.id, groups: groups });
      //Backbone.history.start();

      });
    });
  </script>

</html>
