- if current_user.admin?
  #admin_bar{:style => "display: none"}
    - current_community.neighborhoods.each do |neighborhood|
      %a{:href => "/?neighborhood_id=#{neighborhood.id}"}
        #{neighborhood.name}
      \: #{neighborhood.users.count}u/#{Post.includes(:user).where(:users => {:neighborhood_id => neighborhood.id}).count}&nbsp;&nbsp;
    Total Members: #{current_community.users.count}
    Total Posts: #{current_community.posts.count}

