- if current_user.admin?
  #admin_bar
    = render 'shared/deliveries'
    Neighborhood:
    - current_community.neighborhoods.each do |neighborhood|
      = button_to "#{neighborhood.name}: #{neighborhood.users.count}u/#{neighborhood.posts.count}p", set_neighborhood_path(neighborhood), :title => "users/posts", :class => current_neighborhood == neighborhood ? "current" : ""
    Total Users: #{current_community.users.count}
    Total Posts: #{current_community.posts.count}

