- if RAILS_ENV != "production"
  #deliveries
    Deliveries(#{ActionMailer::Base.deliveries.count})
    %ul
      - ActionMailer::Base.deliveries.each do |delivery|
        %li
          %p To: #{ delivery.to }
          %p From: #{ delivery.from } 
          %p Subject: #{ delivery.subject }
          %div.body= delivery.body
          %hr
      - ActionMailer::Base.deliveries = []