
#filter_description See what's going on in your community:
= render 'shared/search'

%nav#filters
    
  = link_to 'Posts', posts_path(:q => params[:q]), :id => "posts_button", :class => 'filter', 'data-remote' => true 
    
  = link_to 'Announcements', announcements_path(:q => params[:q]), :id => "announcements_button", :class => 'filter', 'data-remote' => true 
    
  = link_to 'Events', events_path(:q => params[:q]), :id => "events_button", :class => 'filter', 'data-remote' => true 
    
  = link_to 'People', users_path(:q => params[:q]), :id => "people_button", :class => 'filter', 'data-remote' => true 
    
  = link_to 'Organizations', organizations_path(:q => params[:q]), :id => "organizations_button", :class => 'filter', 'data-remote' => true 
    
  = link_to 'Goods & Skills', root_path, :id => "goods_and_skills_button", :class => 'filter', 'data-remote' => true
