
#filter_description
  %span.filter_text See what's going on in your community:


%nav#filters
    
  = link_to 'Neighborhood Posts', "#", :id => "posts_button", :class => 'filter disabled_link'
    
  = link_to 'Announcements', "#", :id => "announcements_button", :class => 'filter disabled_link'
    
  = link_to 'Events', "#", :id => "events_button", :class => 'filter disabled_link'
    
  = link_to 'People', "#", :id => "people_button", :class => 'filter disabled_link'
    
  = link_to 'Organizations', organizations_path(:q => params[:q]), :id => "organizations_button", :class => 'filter'
    
  = link_to 'Goods & Skills', "#", :id => "goods_and_skills_button", :class => 'filter disabled_link'