%nav#filters
  = link_to 'Wire', root_url, :id => "wire_button", :class => 'filter', :title => "Your neighborhood wire"
  = link_to 'Neighborhood Posts', posts_path(:q => params[:q]), :id => "posts_button", :class => 'filter', :title => "Posts from your neighbors"
  = link_to 'Your Announcements', announcements_path(:q => params[:q]), :id => "announcements_button", :class => 'filter', :title => "Announcements from your organizations"
  = link_to 'Events', events_path(:q => params[:q]), :id => "events_button", :class => 'filter', :title => "Community events"
  = link_to 'Neighbors', users_path(:q => params[:q]), :id => "people_button", :class => 'filter', :title => "Your neighbors"
  = link_to 'Organizations', organizations_path(:q => params[:q]), :id => "organizations_button", :class => 'filter', :title => "Your organizations"
  = render 'shared/search'