%header.application
  %h1 
    - link_to root_url do
      = image_tag "#{current_community.slug}.png", :alt => "Commonplace #{current_community.name}"

  - if current_user_session
    %nav
      = tab_to "Home", "/"
      %span.disabled_link Inbox (8)
      = tab_to "Manage Profile", management_url
      = tab_to "Create an Organization", new_organization_path, 'data-remote' => true
      = tab_to "Log Out", "/user_session", :method => :delete
