
%header
  %h1
    - link_to root_url, :id => 'title' do
      = image_tag 'transparent.png', :id => 'logo', :alt => "CommonPlace", :size => "262x37"

    - if current_user_session
      = tab_to current_user.community.name, '', :id => 'community_nav'

  %nav
    - if current_user_session
      Hi, #{current_user.first_name}!
      = tab_to(current_user.inbox_size, inbox_url, :id => 'inbox') + tab_to('My Account', account_url, :id => 'account') + tab_to(user_organization_text, organizer_index_url, :id => 'organizations') + tab_to('Log out', logout_url)
    - else
      - form_for UserSession.new, :url => user_session_path do |f|
        = f.text_field :email, 'data-label' => "Email"
        = f.password_field :password
        = f.submit "Log in"