%header
  - link_to root_path, :id => 'title' do
    = image_tag 'transparent.png', :id => 'logo', :alt => "CommonPlace", :size => "262x37"
  
  #header_right
    
    %nav#tabs
      %a#community_tab.selected_tab Roxbury
      %a#inbox_tab Inbox (1)
      %a#organizations_tab My Organizations
      %a#account_tab My Account
    
    %p#header_text
      - if current_user_session
        Hi, #{current_user.first_name}!
        = link_to 'Log out', logout_url
      - else
        Hi there!
        = link_to 'Log in', new_user_session_path
        |
        = link_to 'Register', new_account_path