#information.info_box.user
  #info_box_top= "Your Civic Profile".upcase
  
  #info_box_main
    #info_box_main_left
      = image_tag current_user.avatar_url(:normal), :class => 'graphic'
    .body
      %h3= current_user.full_name
      %p.user_about= auto_link current_user.about, :all, :target => '_blank'
      %ol.user_info
        %li
          %span.info_title= "Interests".upcase
          %span.user_interests= current_user.interest_list.join(", ")
        %li
          %span.info_title= "Shared skills".upcase
          %span.user_skills= current_user.skill_list.join(", ")
        %li
          %span.info_title= "Shared goods".upcase
          %span.user_goods= current_user.good_list.join(", ")
        %li
          %span.info_title= "Feeds".upcase
          %span.user_feeds= current_user.feeds.map{ |f| f.name }.join(", ")
        %li
          %span.info_title= "Address".upcase 
          %span.user_address= current_user.address

    = render_map do |map|
      - map.center current_user
      - map.marker current_user
    
  

