- content_tag :li, :class => dom_class(item) + " styled_box", :id => dom_id(item), "data-url" => url_for(item) do
  .header
    %span.header_text
      %span.author= item.owner.name
      %span.from has a
      %span.category= item.class.human_name
    %span.time= item.time
    - if item.owner == current_user && item.is_a?( Post )
      #delete_item= link_to 'Delete', item, :method => :delete, :class => "delete"
    
  - link_to url_for(item), :class => 'item_body', 'data-remote' => true do
    - if item.is_a? Event
      .small_calendar= render("events/calendar", :event => item)
    - else
      / .graphic{ :style => "background-image: url('#{ item.owner.avatar.url }')" }
      = image_tag item.owner.avatar.url, :width => 50, :height => 50, :class => 'graphic'
    .body
      %h3
        = item.subject
        .reply_div
          .reply_fade>
          .reply_count= item.reply_count

      - if item.is_a? Event
        .event_start_time= full_date item.start_time
      %p
        = item.body

.replies