%ul.items
  - items.each do |item|
    %li.item{ :class => "#{cycle('odd', 'even')} #{dom_class(item)} #{dom_id(item)}" }
      - if @render_args
        = render *@render_args.call(item)
      - else
        = render item
        - if item.is_a?(Event) || item.is_a?(Announcement) || item.is_a?(Post)
          = render 'shared/replies', :item => item, :hide => true