- content_for :syndicate_items do 
  %ul.items
    - items.each do |item|
      %li.item{ :class => "#{cycle('odd', 'even')} #{item.class.to_s.downcase}" }
        - if @render_args
          = render *@render_args.call(item)
        - else
          = render item
          - if item.respond_to?(:replies)
            = render 'shared/replies', :item => item, :hide => true