
%div{:id => "#{dom_id(item)}_replies", :class => "replies", :style => "display: #{item.replies.empty? ? "none" : "block"}"}
  = image_tag 'reply-arrow-top.png', :class => "reply-arrow"
  - if can? :read, Reply
    %ul
      - item.replies.each do |reply|
        = render 'replies/reply', :reply => reply
    = render 'replies/form', :reply => item.replies.new(:user => current_user)
  - else
    %p Register for CommonPlace to be able to reply.
      
      
