%nav

  - link_to  new_post_path, 'data-remote' => true, :class => "post #{current == :post ? "current" : ""}" do
    = t("posts.new.link")


  - link_to new_announcement_path, 'data-remote' => true, :class => "announcement #{current == :announcement ? "current" : ""}" do
    = t("announcements.new.link")
  
  - link_to new_event_path, 'data-remote' => true, :class => "event #{current == :event ? "current" : ""}" do
    = t("events.new.link")
