%nav#zones
  = tab_to "", :posts, :class => 'posts zone tooltip', 'data-title' => t('tooltips.posts'),  'data-remote' => true

  = tab_to "", :events, :class => 'events zone tooltip', 'data-title' => t('tooltips.events'), 'data-remote' => true

  = tab_to "", :announcements, :class => 'announcements zone tooltip', 'data-title' => t('tooltips.announcements'), 'data-remote' => true

  = tab_to "", :users, :class => 'people zone tooltip', 'data-title' => t('tooltips.people'), 'data-remote' => true

  = tab_to "", :feeds, :class => 'feeds zone tooltip', 'data-title' => t('tooltips.feeds'), 'data-remote' => true

  = tab_to "", :tags, :class => 'goods-and-skills zone tooltip', 'data-title' => t('tooltips.goods_and_skills'), 'data-remote' => true
  
