
%h1 Create a Community Page

%ul#registration_information

  %li 
    Any organization, business, city service or cause can create a
    "Community Page" on CommonPlace.

  %li
    This allows you to send out announcements and events from your
    organization to everyone on CommonPlace.

  %li 
    People can subscribe to your Community Page and receive your
    announcements and events by email.

= semantic_form_for registration.feed, :url => feed_registrations_url, :html => {:multipart => true} do |f|

  = f.inputs do
    = f.input :name, :input_html => {'autocomplete' => "off"}

    = f.input(:slug, :label => "Page address:", :hint => "Your page address serves as your CommonPlace URL: www.OurCommonPlace.com/pages/____. Also, you can send announcements by email using this email address: ____@OurCommonPlace.com")

    - unless current_community.is_college
      = f.input :kind, :as => :radio, :collection => Feed.kinds.to_hash

    = f.input :avatar, :input_html => {:size => 20}

    = f.input :feed_url, :label => "To pull Announcements from an RSS feed, type in your RSS URL here:", :as => :string

  = f.buttons do
    = f.commit_button :button_html => {:type => "image", :src => asset_path("buttons/continue2.png")}
