- form_for [user, message], :html => { :class => "standard_form" } do |f|
  %fieldset
    - f.fields_for :conversation_attributes, message.build_conversation do |c|
      %ol
        %li
          = c.label :subject
          = c.text_field :subject
        %li
          = f.label :body
          = f.text_area :body
        %li
          = f.submit
