/ = image_tag event.avatar.url
%h2 #{event.name}

%p.detail Starts: #{human_date(event.start_time)}
%p.detail Ends: #{human_date(event.end_time)}
%p.detail Location: #{event.address}
%p Description
%p.desc #{event.description}

/ - unless event.groups.nil?
/   %div.clear
/     %p Groups:
/     = render_tag_list(event.groups)
/ - unless event.interests.empty?
/   %p Interests
/   = render_tag_list(event.interests)
/ - unless event.skills.empty?
/   %p Skills
/   = render_tag_list(event.skills)
/ - unless event.stuffs.empty?
/   %p Stuff
/   = render_tag_list(event.stuffs)
/ %p RSVP or Refer a Friend
%div
  - form_tag event_attendance_path(event), :method => :put, 'data-remote' => true do 
    = label_tag "attending", "I'm Attending"
    = check_box_tag "attending", "1", current_user.events.include?(event)
    = submit_tag
  
    
  - form_for [event, Referral.new], :html => {'data-remote' => true} do |f|
    = f.text_field :referee_id, :class => 'autocomplete'
    = submit_tag