// #{event.start_time.mon}
%li.event{"data-info" => render("events/event_info_box", :event => event), 'data-marker' => '{"info_html": "-71!!!", "lat": 40, "lng": -71}'}
  /= image_tag person.avatar.url, :width => 60, :height => 60
  /%img{:width => 60, :height => 60}
  - if event.start_time
    %div.calendar
      %div.month #{Date::ABBR_MONTHNAMES[event.start_time.mon]}
      %div.date #{event.start_time.day}
  %p #{event.name}
  %p #{human_date(event.start_time)}