%div{'data-href' => event_path(event), :class => "event tooltip", 'data-tooltip' => 'Click to see replies to this event.'}
  .small_calendar.avatar= render 'events/calendar', :event => event
  %time= event_date event.start_datetime
  .reply-count #{event.replies.size} replies
  .title= event.subject
  .author= event.owner.name
  %p.body= event.body #truncate event.body, :length => 160