- item_tag(event) do
  - link_to event, :class => 'item_body', 'data-remote' => true do
    .author
      .small_calendar= render("events/calendar", :event => event)      
      = event.owner.name
    %h3
      = event.subject
    %time
      = event.time

    %p
      = truncate event.body, :length => 160
      %span.reply_count #{ event.replies.size } replies

  = render 'shared/replies', :item => event


