- link_to event, :class => 'event', 'data-remote' => true do
  .small_calendar.avatar= render 'events/calendar', :event => event
  %time= event.time
  .reply-count #{event.replies.size} replies
  .title= event.subject
  .author= event.organization.name
  %p.body= truncate event.body, :length => 160