%div{'data-href' => event_path(event), :class => "event tooltip", 'data-title' => 'Click to see replies and learn more.'}
  .small_calendar.avatar= render 'events/calendar', :event => event
  %time= event_date event.start_datetime
  .reply-count #{event.replies.size} replies
  .title= event.subject
  .author= event.owner.name
  .body= markdown event.body

= render 'shared/replies', :item => event