- form_for @event do |f|
  %h2 New Event
  %p
  = f.text_field :name, "data-label" => 'Title'
  %p
  = f.text_field :description, "data-label" => 'Description'
  %p Start Time
  = f.date_select :start_time
  = f.time_select :start_time
  %p End Time
  = f.date_select :end_time
  = f.time_select :end_time
  %p
  = f.text_field :address, "data-label" => 'Address'
  %p
  = f.text_field :organization_id, "data-label" => 'Org ID'
  %p
  = f.submit "Post"