
#information.info_box.event
  %h2 Community Event
  
  #big_calendar.avatar= render 'events/calendar', :event => event
  
  - link_to new_event_message_path(event), :class => "message_me", 'data-remote' => true, 'data-title' => "Click to send a private message to #{ event.name }" do 
    %span Message #{ event.name }

  %h3= event.name
  .info= markdown event.description
  %table
    %tr
      %th TAGS
      %td= event.tag_list
    %tr
      %th STARTS
      %td= event.start_time
    %tr
      %th ENDS
      %td= event.end_time
    %tr
      %th ADDRESS
      %td= event.address

  .clear

  - if event.address.present?
    = render_map do |map|
      - map.center event
      - map.marker current_user
      - map.marker event
      - map.directions do |dir|
        - dir.origin current_user
        - dir.destination event
  