#event_info_box.info_box
  .title_top
    .icon
      %img{ :alt => "event" }
    .top_text
      %span.category EVENT
      / %span.from from
      %span.author= event.name
      %span.time Attending
  .bottom
    = render("events/calendar", :event => event)
    .body
      %h3= event.name
      %table
        %tbody
          %tr#about
            %th.label Description
            %td= event.description
          %tr.time
            %th.label Starts at
            %td= event_date event.start_time
          %tr.time
            %th.label Ends at
            %td= event_date event.end_time
        
          - unless event.address.nil? || event.address.empty?
            %tr#address_row
              %th.label Address
              %td= event.address

        
      .expand Attend