.info_box.styled_box.organization
  .header
    .icon{ :alt => "event" }
    .header_text
      %span.category Community Event
    - if event.attendees.include? current_user
      %span.follow_status Attending
  #info_box_main
    #info_box_main_left
      #big_calendar.graphic= render 'events/calendar', :event => event
      - unless event.attendees.exists? current_user 
        = button_to "Attend", event_attendance_path(event) , :id => "follow_link", :class => "link_button"
      = link_to "Message #{ event.organization.name }", "", :id => "message_me", :class => "link_button"
      - if event.attendees.exists? current_user 
        = link_to "I'm not attending #{ event.name }", event_attendance_path(event), :method => :delete, :id => "unsubscribe"
    .body
      %h3= event.name
      %p.user_about= auto_link event.description, :all, :target => '_blank'
      %ol.user_info            
        %li
          %span.info_title= "Starts at".upcase
          = event_date event.start_time
        - unless event.end_time.nil?
          %li  
            %span.info_title= "Ends at".upcase
            = event_date event.end_time
        %li
          %span.info_title= "Address".upcase 
          = event.address[/(.+?)(,)/, 1]
      = image_tag "/images/fake_map.png", :id => "map"