
#information.info_box.event
  %h2 Community Event
  
  #big_calendar.avatar= render 'events/calendar', :event => event

  .actions
    - link_to new_event_message_path(event), :class => "message_me", 'data-remote' => true, 'data-title' => "Click to send a private message to #{ event.name }" do 
      %span Message #{ event.name }

    - if event.attendees.include? current_user
      %span.attended
        %span
          Attending

      - link_to event_attendance_path(event), 'data-remote' => true, 'data-method'=> 'delete', :class => 'unsubscribe' do
        Not Attending
    - else
      - link_to event_attendance_path(event), 'data-remote' => true, 'data-method' => 'post', :class => "new_attendance new_#{dom_id event}_attendance" do
        %span Are you attending?

  %h3= event.name

  .info= markdown event.description

  %table
    - if event.tag_list.present?
      %tr
        %th TAGS
        %td= event.tag_list
    - if event.start_time.present?
      %tr
        %th STARTS
        %td= event.start_time
    - if event.end_time.present?
      %tr
        %th ENDS
        %td= event.end_time
    - if event.venue.present?
      %tr
        %th VENUE
        %td= event.venue
    - if event.address.present?
      %tr
        %th ADDRESS
        %td= event.address

  .clear

  - if event.address.present?
    = render_map do |map|
      - map.center event
      - map.marker current_user
      - map.marker event
      - map.directions do |dir|
        - dir.origin current_user
        - dir.destination event
  