#event_info_box
  = image_tag event.avatar.url
  %h2 #{event.name}

  %p.detail Starts: #{human_date(event.start_time)}
  %p.detail Ends: #{human_date(event.end_time)}
  %p.detail Location: #{event.address}
  %p Description
  %p.desc #{event.description}

  %div
    - form_tag event_attendance_path(event), :method => :put, 'data-remote' => true do 
      = label_tag "attending", "I'm Attending"
      = check_box_tag "attending", "1", current_user.events.include?(event)
      = submit_tag
  
    
    - form_for [event, Referral.new], :html => {'data-remote' => true} do |f|
      = f.text_field :referee_id, :class => 'autocomplete'
      = submit_tag