- render :layout => 'shared/modal' do

  - semantic_form_for @event, :html => { :class => "new_entity" } do |f|
    - f.inputs do
      %h1 Create an event for your feed
      
      - f.inputs do 
        %li
          %label{:for => "event_feed", :class => "select required"}
            Post as:
          = f.select :owner, options_for_select(creation_feeds_for(current_user), dom_id(current_user))
        = f.input :name
        = f.input :description, :input_html => { :rows => 5, :cols => 21}
        = f.input :date, :as => :string, :input_html => {:class => 'date'}
        = event_select_time('start_time')
        = event_select_time('end_time')
      = f.inputs :street_address, :zip_code, :for => :location
    - f.buttons do
      #submit_wrapper= f.commit_button "Create Event"