#modal
  - link_to "close", :id => "modal-close", 'data-remote' => true do
    = image_tag 'modal-close.png'
  - semantic_form_for @event, :html => { :class => "new_entity" } do |f|
    - f.inputs do
      %h1 Create an event for your organization
      
      - f.inputs do 
        = f.input :organization, :collection => current_user.managable_organizations
        = f.input :name
        = f.input :description, :input_html => { :rows => 5, :cols => 21}
        = f.input :address
        = f.input :date, :as => :string, :input_html => {:class => 'date'}
        = event_select_time('start_time')
        = event_select_time('end_time')
    - f.buttons do
      #submit_wrapper= f.commit_button "Create Event"