<!DOCTYPE html>
<html>
  <head>
    <title>CommonPlace</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">

  <link href="https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
  <link href="/assets/favicon.png" rel="icon" type="image/png">
  <link href="/assets/starter_site.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">

    </div>
    <div id="about">
      <div id="fb-root"></div>
      <div class="header">
        <h2>About Us</h2>
        <ul class="nav">
          <li class="selected"><a href="our-mission">Our Mission</a></li>
          <li><a href="our-story">Our Story</a></li>
          <li><a href="our-platform">Our Platform</a></li>
          <li><a href="press">Press</a></li>
          <li><a href="nominate">Civic Hero Awards</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="left">
          <div id="our-mission" class="slide selected">
            <h3>Our Mission</h3>
            <p>OurCommonPlace is a national civics & technology organization that works to revitalize the spirit of local community engagement in towns and cities across the country.</p>
            <p><%= @community.slug %>.OurCommonPlace.com was built by our team in Cambridge, MA and was launched with support from the <%= @community.name %> community. To learn more about our team go here and see some of our sponsors go here.</p>
            <p>We believe in technology. But we know it’s not enough. We work with our partnership communities to run through a full organizing plan designed to empower, celebrate and inspire local leadership.</p>
            <p class="highlight">Empower: We help local leaders “plug in” to the Internet.</p>
            <p>The <%= @community.slug %>.OurCommonPlace.com is designed to make it delightfully easy for <%= @community.name %> neighbors and community leaders to share and connect with the people around them. You can view a tutorial here.</p>
            <p>But we know that <%= @community.name %>’s CommonPlace is only one tool at a leader’s disposal. Our organizers work with leaders to help them create “digital strategies” for advancing their projects. Contact one of our organizers right now.</p>
            <p class="highlight">Celebrate: Our national Civic Hero Awards program spotlights beloved local leaders in town.</p>
            <p>OurCommonPlace runs a national awards program dedicated to celebrating local leaders everywhere.</p>
            <p>With input from the <%= @community.name %> community, we search for leaders whose work at the schools, at service organizations, in the local government, or at a great local business, have made <%= @community.name %> a better place to live in.</p>
            <p>We then publish profiles of their work on the town’s OurCommonPlace platform and on our national awards page. To nominate a leader go here.</p>
            <p class="highlight">Inspire: We train ambitious students to be 21st century community organizers with our Civic Heroes Leadership Program.</p>
            <p>OurCommonPlace works with ambitious students who are interested in learning the skills of a 21st century community organizer.</p>
            <p>Students leave the Civic Heroes Leadership Program with a base of knowledge about how to organize in their community, how to publish online and how to inspire others to act. They’ll also get close to a group of engaged young people based in Harvard and in towns across MA. To learn more go here.</p>
          </div>
          <div id="our-story" class="slide">
            <h3>Who We Are</h3>
            <p>OurCommonPlace began with a story about bowling.</p>
            <p>In 2009, two freshman-year roommates at Harvard read the book Bowling Alone by Robert Putnam.</p>
            <p>The book was a revelation. In it Putnam used data to prove something we all know in our hearts: that when communities come together, they prosper. He found that in communities where neighbors know each other’s names, and feel like they can trust each other, the streets are safer, the schools are more effective, the businesses are more productive, and everyone is happier and healthier. Community was a magical variable for making our lives better.</p>
            <p>Yet, Putnam said, there's reason to worry about the future of local civic engagement. The institutions that have traditionally connected us to our communities -- the community centers, Rotary clubs, local newspapers and yes, bowling leagues -- were in a state of transition. As our lives have changed, so have our communities.</p>
            <p>We began by asking ourselves: How can we help? How can technology play a role in revitalizing our local communities?</p>
            <p>OurCommonPlace is our answer to that question. It’s like a newsletter written by your neighborhood, or a community center bulletin board designed to fit into your email inbox.
            </p>
            <p>We dream of an Internet that works for local communities. That works for parents who want to share resources. For local leaders who want to create something for the people around them. For anyone who wants to make something happen in local world they are a part of.</p>
            <h3>Our Team</h3>
            <p>We're a team of young technologists and veteran community organizers based in Cambridge, MA.</p>
            <p>Non-profit? For profit?</p>
            <p>The OurCommonPlace web platform is developed by a professional web development team run by the OurCommonPlace s-corporation. We believe in in a world where businesses do well by doing good.</p>
          </div>
          <div id="our-platform" class="slide">
            <h3>Our Platform</h3>
            <p>CommonPlace is a web platform for local community engagement.</p>
            <p>Our goal is to help neighbors and communities leaders to share information with the people around them and empower them to build awesome things for their communities.</p>
            <p>CommonPlace works with cities across the country. We'd love to work with yours! If you're interested in a CommonPlace in your town, contact organizing@commonplaceUSA.com and fill out the form above.</p>
          </div>
          <div id="press" class="slide">
            <h3>Press</h3>
          </div>
          <div id="nominate" class="slide">
            <h3>Nominate A Civic Hero</h3>
            <p>OurCommonPlace runs a national community awards program dedicated to spotlighting and celebrating local leaders in towns and cities across the country.</p>
            <p>As we launch <%= @community.slug %>.OurCommonPlace.com, we’ll be seeking input from the community on beloved community members whose work for the schools, for service organizations, for the local government, for great local businesses, make <%= @community.name %> what it is.</p>
            <p>We publish profiles of our “Civic Heroes” on the town’s OurCommonPlace platform and on our national awards page.</p>
            <p>Use the form to your right to nominate a Civic Hero!</p>
          </div>
          <div id="application" class="slide">
            <h3>Apply to be a civic leader</h3>
            <p>The OurCommonPlace “Civic Hero Leadership Program” is a service-learning course that’s dedicated to training ambitious students at 21st century community organizers, as they work to make their town’s OurCommonPlace platform flourish.</p>
            <p>Students leave with a base of knowledge about how to organize in their community, how to publish online and how to inspire others to act. They’ll also bond with a group of engaged young people based in Harvard and across the state of Massachusetts.</p>
          </div>
        </div>
        <div class="right">
          <div id="registration-modal"> </div>
          <div id="nominate-form" class="nominate-form" style="display: none;">
            <h2>Nominate A Hero</h2>
            <form class="registration">
              <input id="their-full-name" class="their-name" type="text" placeholder="Their Full Name" /><br />
              <input id="their-email" class="their-email" type="email" placeholder="Their Email Address" /><br />
              <textarea id="why" class="why-nominate" placeholder="Tell us why you are nominating this perosn." ></textarea>
              <input id="full-name" class="your-name" placeholder="Your Full Name"/>
              <input id="email" class="your-email" placeholder="Your Email Address" />
              <button class="next-button">Nominate this person!</button>
              <div class="facebook">
                <p>Or you can:</p>
                <span id="apply-btn">Be a civic leader</span>
              </div>
          </div>
          <div id="apply-form" class="apply-form" style="display: none;">
            <h3>Fill out an application to be</h3>
            <h2>A Civic Hero</h2>
            <form class="registration">
              <input class="name" type="text" placeholder="Your Full Name" /><br />
              <input class="email" type="email" placeholder="Your Email Address" /><br />
              <textarea id="why" class="why-nominate" placeholder="Tell us why you'd like to be a <%= @community.name %> civic leader." ></textarea>
              <button class="next-button">Apply!</button>
              <div class="facebook">
                <p>Or you can:</p>
                <span id="nominate-btn">nominate a civic leader</span>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <script type="text/javascript" src="/assets/starter_site.js"></script>
    <script type="text/javascript" src="/assets/registration.js"></script>
    <script type="text/javascript">
      CommonPlace.community = new Community(<%= Serializer::serialize(@community).to_json.html_safe %>);
      CommonPlace.account = new Account(<%= @account.try(:persisted?) ? Serializer::serialize(Account.new(@account)).to_json : "{}" %>);
      var header = new HeaderView({el: $("#header")});
      header.render();

      <% if @nominate %>
          activateTab("nominate");
      <% end %>

      window.router = new RegistrationRouter({ communityExterior: <%= Serializer::serialize(@community.exterior).to_json.html_safe %> });

      var communitySlug = window.location.pathname.split("/")[1];

      Backbone.history.start();
    </script>
  </body>
</html>

