<!DOCTYPE html>
<html>
  <head>
    <title>CommonPlace</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">

  <link href="https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
  <link href="/assets/favicon.png" rel="icon" type="image/png">
  <link href="/assets/about.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">

    </div>
    <div id="about">
      <div id="fb-root"></div>
      <div class="header">
        <h2>About Us</h2>
        <ul class="nav">
          <li class="selected"><a href="our-mission">Our Mission</a></li>
          <li><a href="our-story">Our Story</a></li>
          <li><a href="our-platform">The Platform</a></li>
          <li><a href="press">Supporters</a></li>
          <li><a href="nominate">Civic Hero Awards</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="left">
          <div id="our-mission" class="slide selected">
            <h3>Our Mission</h3>
            <p>OurCommonPlace is a civic technology organization that works to revitalize the spirit of local community engagement in towns across the country.</p>
            <p><%= @community.slug %>.OurCommonPlace.com is a “community web platform” that’s designed to make it delightfully easy for <%= @community.name %> residents to share and connect with the <%= @community.name %> community.</p>
            <p>That means: getting in touch with that new family that moved down the block...sharing your thoughts about the school budget with the town...borrowing a ladder or a cup of sugar from your neighbors rather than buying it at the store...organizing the next great community event.</p>
            <p>We built the platform because we believe that extraordinary things can happen -- indeed, have always happened -- when neighbors who care come together.</p>
            <p>We believe in technology, and yet, we know it’s not enough. So we work with our partnership communities to implement a full community organizing plan designed to empower, celebrate and inspire civic leadership in <%= @community.name %>’s real community.</p>
            <p class="highlight">Empower</p>
            <p><em>We help local leaders &#8220;plug in&#8221; to the Internet.</em></p>
            <p>We dedicate a full-time organizer to helping local leaders and active neighbors utilize <%= @community.slug %>.OurCommonPlace.com to its fullest.</p>
            <p class="highlight">Celebrate</p>
            <p><em>Our national Civic Hero Awards program spotlights beloved local leaders in town.</em></p>
            <p>OurCommonPlace runs a national awards program that celebrates local leader everywhere.</p>
            <p>With input from the <%= @community.name %> community, we search for leaders whose work at the schools, at service organizations, in the local government, or at a great local business, have made <%= @community.name %> a better place to live in.</p>
            <p class="highlight">Inspire</p>
            <p><em>We train ambitious students to be 21st century community organizers with our Civic Heroes Leadership Program.</em></p>
            <p>OurCommonPlace works with ambitious students who are interested in learning the skills of a 21st century community organizer.</p>
            <p>Students leave the Civic Heroes Leadership Program with a base of knowledge about how to organize in their community, how to publish online and how to inspire others to act. They’ll also get close to a group of engaged young people based in Harvard and in towns across MA.</p>
          </div>
          <div id="our-story" class="slide">
            <h3>Our Story</h3>
            <p>OurCommonPlace began with a story about bowling.</p>
            <p>In 2009, two freshman-year roommates at Harvard read the book <em>Bowling Alone</em> by Robert Putnam.</p>
            <p>The book was a revelation. In it Putnam used data to prove something we all know in our hearts: that when communities come together, they prosper.</p>
            <p>Putnam found that in communities where neighbors know each other’s names, and feel like they can trust each other, the streets are safer, the schools are more effective, the businesses are more productive, and everyone is happier and healthier. Community was a magical variable that helped make our lives better. </p>
            <p>Yet, Putnam said, the institutions that have traditionally connected us to our communities -- the community centers, Rotary clubs, local newspapers and yes, bowling leagues -- were in a state of transition. As our lives have changed, so have our communities.</p>
            <p>We began by asking ourselves: What next? How can technology play a role in revitalizing the ways we have to connect to each other?</p>
            <p>OurCommonPlace is our answer to that question. It’s like a newsletter written by your neighborhood, or a community center bulletin board designed to fit into your email inbox.</p>
            <p>We dream of an Internet that works for local communities. That works for parents who want to share resources. For local leaders who want to create something for the people around them. For anyone who wants to make something happen in local world they are a part of.</p>
            <h3>Our Team</h3>
            <p>We’re a team of young technologists and veteran community organizers based in Cambridge, MA.</p>
            <p class="highlight">Non-profit? For profit?</p>
            <p>The OurCommonPlace web platform is developed by a professional web development team run by the OurCommonPlace s-corporation. We believe in the &#8220;double bottom line&#8221;: doing good and doing well at once.</p>
          </div>
          <div id="our-platform" class="slide">
            <h3>The Platform</h3>
            <p>CommonPlace is a web platform for local community engagement.</p>
            <p>Our goal is to help neighbors and communities leaders to share information with the people around them and empower them to build awesome things for their communities.</p>
            <p>CommonPlace works with cities across the country. We'd love to work with yours! If you're interested in a CommonPlace in your town, contact <a href="mailto:organizing@commonplaceUSA.com" target="_blank">organizing@commonplaceUSA.com</a>.</p>
            <p class="highlight">How CommonPlace Works</p>
            <div class="section_list">
               <h4 class="headline_platform">1. Sign Up</h4>
               <img class="platform_thumb" src="https://www.ourcommonplace.com/assets/learn_more/sign_up_screen_shot.png" alt="Sign Up" />
               <p>CommonPlace brings your neighbors and civic leaders in Marquette together onto one 'community network' online.</p>
               <p>Sign up once and you'll start receiving short email messages from your neighbors and community leaders like the police chief and the mayor.</p>
            </div>
            <div class="section_list">
               <h4 class="headline_platform">2. Receive Community Bulletins</h4>
               <img class="platform_thumb" src="https://www.ourcommonplace.com/assets/learn_more/bulletin_screen_shot.png" alt="Receive Community Bulletins" />
               <p>Each day you'll receive a 'community bulletin' featuring events and announcements written by your neighbors and local leaders. Learn about local events. Find a good mechanic. Join a new biking group.</p>
               <p>Whenever something's interesting to you, you can hit 'reply' and start a community conversation.</p>
            </div>
            <div class="section_list">
               <h4 class="headline_platform">3. Search the Community</h4>
               <img class="platform_thumb" src="https://www.ourcommonplace.com/assets/learn_more/community_screen_shot.png" alt="Search the Community" />
               <p>All these community conversations, events, and announcements can always be viewed at <%= @community.slug %>.OurCommonPlace.com.</p>
               <p>CommonPlace centralizes community information. Use it to search for people in your area, find cool local organizations, or locate goods and skills in your neighborhood.</p>
            </div>
            <div class="section_list">
               <h4 class="headline_platform">4. Post to the Neighborhood</h4>
               <img class="platform_thumb" src="https://www.ourcommonplace.com/assets/learn_more/post_screen_shot.png" alt="Post to the Neighborhood" />
               <p>Of course, whenever YOU have a need or announcement, CommonPlace makes it really easy to share it with the people around you.</p>
               <ul class="neighborhood_list">
                  <li>Ask to borrow a ladder or a power drill</li>
                  <li>Publicize a tag sale or block party</li>
                  <li>Ask about how to fix a pot hole</li>
                  <li>Organize service projects for Marquette</li>
               </ul>
            </div>
          </div>
          <div id="press" class="slide">
            <h3>Supporters</h3>
               <div class="section_list">
                  <h4 class="headline"><a href="http://www.startribune.com/local/south/133110453.html" target="_blank">Burnsville dips into hyper-local social media</a></h4>
                  <p>&#8220;The difference between OurCommonPlace.com and other social media websites: Its designers hope their project rouses community members to move away from their computers and participate in civic and community activities. The founders call their website a bulletin board and liken it to "infrastructure" for communities.&#8221;</p>
                  <p class="author">from <a href="http://www.startribune.com/local/south/133110453.html" target="_blank">Shannon Prather, Special to the <em>Star Tribune</em></a></p>
               </div>
               <div class="section_list">
                  <h4 class="headline"><a href="http://www.youtube.com/watch?v=6yD_MCgyFBI" target="_blank">Local news describes CommonPlace to Marquette, MI</a></h4>
                  <object width="460" height="345"><param name="movie" value="http://www.youtube.com/v/NsTypSRO4rc?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/NsTypSRO4rc?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="460" height="345" allowscriptaccess="always" allowfullscreen="true"></embed></object>
                  <p>News story from ABC10 in Marquette, MI about The Marquette CommonPlace.</p>
                  <p class="author">from <a href="http://www.youtube.com/watch?v=6yD_MCgyFBI" target="_blank"><em>The Doug Garrison Show</em>, ABC10</a></p>
               </div>
               <div class="section_list">
                  <p class="quote">&#8220;I've posted on and responded to Falls Church CommonPlace posts. People attended a community event I promoted. I found work through it. And I scored a free perfect-condition TV from it.&#8221;</p>
                  <p class="author_quote">&mdash;  Debra Roth, a Falls Church neighbor</p>
               </div>
               <div class="section_list">
                  <h4 class="headline"><a href="http://southwestraleigh.com/2011/06/in-order-to-form-a-more-perfect-community/" target="_blank">In Order to Form a More Perfect Community</a></h4>
                  <p>&#8220;Because community is the heart of Raleigh, and because our neighborhoods are made up of amazing and inspiring neighbors who love their families and want to help each other, it is time we hammer the Internet into a tool that unites rather than divides our communities.&#8221;</p>
                  <p class="author">from <a href="http://southwestraleigh.com/2011/06/in-order-to-form-a-more-perfect-community/" target="_blank">The Raleigh Creative District</a></p>
               </div>
          </div>
          <div id="nominate" class="slide">
            <h3>Civic Hero Awards</h3>
            <p>OurCommonPlace runs a national community awards program dedicated to spotlighting and celebrating local leaders in towns and cities across the country.</p>
            <p>As we launch <%= @community.slug %>.OurCommonPlace.com, we'll be seeking input from the community on beloved community members whose work for the schools, for service organizations, for the local government, for great local businesses, make <%= @community.name %> what it is.</p>
            <p>We publish profiles of our &#8220;Civic Heroes&#8221; on the town's OurCommonPlace platform and on our national awards page.</p>
            <p>Use the form to your right to nominate a Civic Hero!</p>
          </div>
          <div id="application" class="slide">
            <h3>Apply to be a <%= @community.name %> Student Organizer</h3>
            <p>The OurCommonPlace &#8220;Civic Hero Leadership Program&#8221; is a service-learning course that’s dedicated to training ambitious students at 21st century community organizers, as they work to make their town’s OurCommonPlace platform flourish.</p>
            <p>Students leave with a base of knowledge about how to organize in their community, how to publish online and how to inspire others to act. They’ll also bond with a group of engaged young people based in Harvard and across the state of Massachusetts. </p>
          </div>
        </div>
        <div class="right">
          <div id="registration-modal"></div>
          <div id="nominate-form" class="nominate-form" style="display: none;"> </div>
          <div id="apply-form" class="apply-form" style="display: none;"> </div>

        </div>
      </div>
    </div>
    <script type="text/javascript" src="/assets/starter_site.js"></script>
    <script type="text/javascript" src="/assets/registration.js"></script>
    <script type="text/javascript">
      CommonPlace.community = new Community(<%= Serializer::serialize(@community).to_json.html_safe %>);
      CommonPlace.account = new Account(<%= @account.try(:persisted?) ? Serializer::serialize(Account.new(@account)).to_json : "{}" %>);
      var header = new HeaderView({el: $("#header")});
      header.render();

      <% if @active_tab %>
          activateTab("<%= @active_tab %>");
      <% end %>

      var communityExterior = <%= Serializer::serialize(@community.exterior).to_json.html_safe %>;
      window.router = new RegistrationRouter({ communityExterior: communityExterior });

      var communitySlug = window.location.pathname.split("/")[1];

      var nominateForm = new NominateCivicHeroForm({ el: $("#nominate-form"), communityExterior: communityExterior });
      var applyForm = new ApplyCivicLeaderForm({ el: $("#apply-form"), communityExterior: communityExterior });
      nominateForm.render();
      applyForm.render();

      Backbone.history.start();
    </script>
  </body>
</html>

