<!DOCTYPE html>

<html>
  <head>
    <title>CommonPlace Groups</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">

    <link href="https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
    <link href="/assets/favicon.png" rel="icon" type="image/png">

    <link href="/assets/group_page.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id="header"></div>
    
    <div id="main">

      <div id="group"></div>
      
      <div id="right-column">
        <div id="groups-list">
        </div>
      </div>
      <div style="clear: both"></div>
    </div>

    <%= erb :footer %>
    
  </body>

  <script type="text/javascript" src="/assets/group_page.js"></script>
  <script type="text/javascript">
    $(function() {
      $.getJSON("/api/account", function(account) {

      var community = <%= Serializer::serialize(@community).to_json.html_safe %>;
      var group = <%= Serializer::serialize(@group).to_json.html_safe %>;
      var groups = <%= Serializer::serialize(@community.groups).to_json.html_safe %>;
      CommonPlace.community = new Community(community);
      CommonPlace.account = new Account(account);
      new GroupPageRouter({ account: account, community: community, group: group.id, groups: groups });

      });
    });
  </script>
  

  <%= erb :tracking %>

</html>
