<script type="text/javascript" language="javascript" src="/assets/user_actions.js"></script>
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#actions').dataTable();
				//$('#action').dataTable();
			} );
		</script>
<style type="text/css" title="currentStyle">
			@import "/assets/demo_table.css";
		</style>
<%
  def cutbody(body)
    if body.to_str.length>15
       body.to_str[0,15]+"..."
    else
       body.to_str
    end
  end

  def sortbytime(actions)
    actions.sort{|a,b| b.created_at<=>a.created_at}
  end
%>

<style>
table{
    border:1px solid #000;
    border-width:1px 0 0 1px;
    margin:2px 0 2px 0;
    text-align:center;
    border-collapse:collapse;
}
td,th{
    border:1px solid #000;
    border-width:0 1px 1px 0;
    margin:2px 0 2px 0;
    text-align:left;
}
th{
    text-align:center;
    font-weight:600;
    font-size:12px;
    background-color:#F4F4F4;
}
</style>


<table id="actions" >
<%
  case @type
     when "all"
       @flags = Array(Flag.where(:resident_id=>@user.resident.id))
       @sitevisits= Array(SiteVisit.where(:commonplace_account_id => @user.id))
       @createdevents=Event.where(:owner_id=>@user.id,:owner_type=>"User")
       @all=@user.posts+@user.replies+@sitevisits+@createdevents+@flags
       @user.posts.each do |post|
         @all+= Array(Reply.where(:repliable_id=> post.id))
       end
       @feeds=Array(Feed.where(:user_id=>@user.id))
       @feeds.each do |feed|
         @all+= Array(Announcement.where(:owner_id=>feed.id))+Array(Event.where(:owner_id=>feed.id,:owner_type=>"Feed"))
       end
       @all+= Array(Invite.where(:inviter_id=> @user.id))+@feeds
       @all+= Array( SentEmail.where(:recipient_email=>@user.email))
       @all_ordered=@all.sort{|a,b| b.created_at<=>a.created_at} %>

         <thead><tr> <th>Action</th> <th>Time</th></tr> </thead>
         <tbody>
         <% @all_ordered.each do |action| %>
         <tr>
	   <td> <%=
	          case action.class.name
	            when "SiteVisit"
	               "Log in"
	            when "Reply"
	              if action.user_id!=@user.id
	                "Be replied"
	              else
	                "Reply"
	              end
	            when "Feed"
	              "Create feed"
	            when "SiteVisit"
	              "Sent Email"
              when "Flag"
                "Tag"
	            else
	              action.class.name
	           end
	        %>
           <td> <%= action.created_at.to_formatted_s(:db) %> </td>
         </tr>


         <% end %>
       </tbody>

     <% when "tags" %>
     <h4>Amount: <%@flags= Array(Flag.where(:resident_id=>@user.resident.id)) %>
                 <%= @flags.count %></h4>

	  <thead><tr> <th>Tag</th> <th>Time</th> </tr></thead>
	  <tbody>

	  <% sortbytime(@flags).each do |flag| %>
	    <tr>
	    <td> <%= flag.name %> </td>
	    <td> <%= flag.created_at.to_formatted_s(:db) %> </td>
	    </tr>
	  <% end %>

      </tbody>

      <% when "residenttags" %>
     <h4>Amount: <%@flags= Array(Flag.where(:resident_id=>@resident.id)) %>
                 <%= @flags.count %></h4>

	  <thead><tr> <th>Tag</th> <th>Time</th> </tr></thead>
	  <tbody>

	  <% sortbytime(@flags).each do |flag| %>
	    <tr>
	    <td> <%= flag.name %> </td>
	    <td> <%= flag.created_at.to_formatted_s(:db) %> </td>
	    </tr>
	  <% end %>

      </tbody>
     <% when "sitevisit" %>
     <h4>Amount: <%@sitevisits= Array(SiteVisit.where(:commonplace_account_id => @user.id)) %>
                 <%= SiteVisit.where(:commonplace_account_id => @user.id).count %></h4>
         <thead><tr> <th>Time</th></tr></thead>
         <tbody>

         <% sortbytime(@sitevisits).each do |sitevisit| %>
         <tr>
           <td> <%= sitevisit.created_at.to_formatted_s(:db) %> </td>
         </tr>
         <% end %>

         </tbody>
     <% when "announcement" %>
     <h4>Amount: <% @feeds=Array(Feed.where(:user_id=>@user.id))
                    @announcements = Array.new
                    @feeds.each do |feed|
                      @announcements+= Array(Announcement.where(:owner_id=>feed.id))
                    end %>
                 <%= @announcements.size %></h4>

	  <thead><tr> <th>Time</th> <th>Feed</th> <th>Content</th> </tr></thead>
	  <tbody>
	  <% sortbytime(@announcements).each do |announcement| %>
	    <tr>
	    <td> <%= announcement.created_at.to_formatted_s(:db) %> </td>
	    <td> <%= Feed.where(:id=>announcement.owner_id).first.name %> </td>
	    <td> <%= cutbody(announcement.body) %>
	    </td>
	    </tr>
	  <% end %>

          </tbody>
      <% when "event" %>
      <h4>Amount: <% @events=Event.where(:owner_id=>@user.id,:owner_type=>"User")
                     @feeds=Array(Feed.where(:user_id=>@user.id))
                     @feeds.each do |feed|
                       @events+= Array(Event.where(:owner_id=>feed.id,:owner_type=>"Feed"))
                     end%>
      <%= @events.size %></h4>

	  <thead><tr> <th>Time</th> <th>Where</th> <th>Content</th> </tr></thead>
	  <tbody>
	  <% sortbytime(@events).each do |event| %>
	    <tr>
	    <td> <%= event.created_at.to_formatted_s(:db) %> </td>
	    <td> <%= if event.owner_type=="User"
	                "Neighborhood"
	             else
	                "Feed: "+Feed.where(:id=>event.owner_id).first.name
	             end %>
	    </td>
	    <td> <%= cutbody(event.body) %>
	    </td>
	    </tr>
	  <% end %>

          </tbody>
       <% when "email" %>
      <h4>Amount: <% @emails= Array( SentEmail.where(:recipient_email=>@user.email))
                     %>
      <%= @emails.size %></h4>

	  <thead><tr> <th>Time</th>  <th>If Opened</th> </tr></thead>
	  <tbody>
	  <% sortbytime(@emails).each do |email| %>
	    <tr>
	    <td> <%= email.created_at.to_formatted_s(:db) %> </td>

	    <td> <%= email.status %>
	    </td>

	    </tr>
	  <% end %>

         </tbody>
      <% when "reply" %>
      <h4>Amount: <% @replies= Array.new
                     @user.posts.each do |post|
                       @replies+= Array(Reply.where(:repliable_id=> post.id))
                       @replies-= Array(Reply.where(:repliable_id=> post.id, :user_id=>@user.id))
                     end
                     @replies+=@user.replies
                     %>
      <%= @replies.count %></h4>

	  <thead><tr> <th>Time</th> <th>Type</th> <th>Content</th> </tr></thead>
	  <tbody>
	  <% sortbytime(@replies).each do |reply| %>
	    <tr>
	    <td> <%= reply.created_at.to_formatted_s(:db) %> </td>
	    <td> <%= if reply.user_id!=@user.id
	                "Be replied"
	             else
	                "Reply"
	             end %>
	    </td>
	    <td> <%= cutbody(reply.body) %>
	    </td>
	    </tr>
	  <% end %>

          </tbody>
      <% when "post" %>
      <h4>Amount: <%= @user.posts.count %></h4>

	  <thead><tr> <th>Time</th> <th>Category</th> <th>Content</th> </tr></thead>
	  <tbody>
	  <% sortbytime(@user.posts).each do |post| %>
	    <tr>
	    <td> <%= post.created_at.to_formatted_s(:db) %> </td>
	    <td> <%= post.category%> </td>
	    <td> <%= cutbody(post.body) %> </td>
	    </tr>
	  <% end %>

	  </tbody>
      <% when "invite" %>
      <h4>Amount: <% @invitations=Array(Invite.where(:inviter_id=> @user.id)) %>
                  <%= @invitations.count %></h4>

	  <thead><tr> <th>Time</th></tr></thead>
         <tbody>
         <% sortbytime(@invitations).each do |invite| %>
         <tr>
           <td> <%= invite.created_at.to_formatted_s(:db) %> </td>
         </tr>
         <% end %>

         </tbody>
<% end %>
</table>

