<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">

  <head>
    <title>CommonPlace</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">
    <% if ENV['TINFOIL_VERIFICATION'].present? %>
      <meta name="tinfoil-site-verification" content="<%= ENV['TINFOIL_VERIFICATION'] %>">
    <% end %>

    <link href="//fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
    <link href="/assets/favicon.png" rel="icon" type="image/png">

    <link href="/assets/application.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="/assets/ie.css" />
    <![endif]-->
    <!--[if lt IE 8]>
             <link rel="stylesheet" type="text/css" href="/assets/ie7.css" />
     <![endif]-->
    <style type="text/css" media="screen">
       html {
           background-color: #FCFAF4;
           background-size: cover !important;
           -webkit-background-size: cover;
           -webkit-font-smoothing: antialiased;
           text-rendering: optimizeLegibility;
          background: url('/assets/shared/redesign/backgrounds/<%= @community.slug.titleize %>.jpg') no-repeat center center fixed;
          }

          body {
            background: none !important;
            -webkit-font-smoothing: antialiased;
            overflow-y: scroll;
          }
       </style>
  </head>

  <body class="application">
      <img src="/assets/shared/redesign/welcomebg.png" style="display:none;">
      <img src="/assets/shared/redesign/logo3.png" style="display:none;">
      <img src="/assets/shared/redesign/tan-bg.png" style="display:none;">
      <img src="/assets/shared/redesign/red-bg.png" style="display:none;">
      <img src="/assets/shared/redesign/blue-bg.png" style="display:none;">
      <img src="/assets/shared/redesign/star-red.png" style="display:none;">
      <img src="/assets/shared/redesign/welcome-divider.png" style="display:none;">
      <img src="/assets/shared/redesign/norms-1.png" style="display:none;">
      <img src="/assets/shared/redesign/norms-2.png" style="display:none;">
      <img src="/assets/shared/redesign/norms-3.png" style="display:none;">
      <img src="/assets/shared/redesign/error-bg.png" style="display:none;">
      <img src="/assets/shared/redesign/about-stars.png" style="display:none;">
      <img src="/assets/shared/redesign/arrow.png" style="display:none;">
      <img src="/assets/shared/redesign/fbreg.png" style="display:none;">
      <img src="/assets/use_facebook.png" style="display:none;">
      <img src="/avatars/missing.png" style="display:none;">
      <img src="/assets/loading.gif" style="display:none;">
    <div id="wrapper">
      <div id="header" class="about"></div>
      <div id="notice">
        <% if @login_redirect %>
          <input id="login_redirect" type="hidden" name="login_redirect" value="<%= @login_redirect %>" />
        <% end %>
        <h2 class="notice"><%= (@login_error) ? @login_error : "" %></h2>
      </div>

      <div id="about" class="about">
        <div id="fb-root"></div>
        <div id="registration-modal"></div>

        <div style="clear:both;"></div>


      </div>
      <!--<div id="wrapper-footer"></div>-->
    </div>

    <!--<%= erb :footer %>-->

    <script type="text/javascript" src="/assets/registration.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the latest version of the Google Data JavaScript Client
      google.load('gdata', '2.x');

      CommonPlace.community = new Community(<%= Serializer::serialize(@community).to_json.html_safe %>);
      CommonPlace.account = new Account(<%= @account.try(:persisted?) ? Serializer::serialize(Account.new(@account)).to_json : "{}" %>);

      window.router = new CommonPlace.registration.Router({ communityExterior: <%= Serializer::serialize(@community.exterior).to_json.html_safe %> });

      var communitySlug = window.location.pathname.split("/")[1];

      function onGoogleDataLoad() {
        Backbone.history.start({ pushState: true, root: "/" + communitySlug });
      }

      // Call function once the client has loaded
      google.setOnLoadCallback(onGoogleDataLoad);
      <% if @login_redirect %>
        $(document).ready(function() {
            $("#notice").show();
            $("input[type=hidden][name=login_redirect]").val(window.location.href);
          });
      <% end %>
    </script>
    <%= erb :tracking %>
    <%= erb :remarketing %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        _kmq.push(['record', 'Registration Page', {'community': '<%= @community.name %>'}]);
      </script>
    <% end %>

  </body>

</html>
