#information.info_box.user.preview
  #info_box_top= "Your Neighbor".upcase

  #info_box_main
    #info_box_main_left
      = image_tag current_user.avatar_url(:normal), :class => 'graphic normal'

      %div{:id => "message_me", :class => "link_button"}
        Message #{ current_user.first_name }
      %div{:id => "follow_link", :class => "link_button"}
        Have you met?
    .body
      %h3= current_user.full_name
      %p.user_about= auto_link current_user.about, :all, :target => '_blank'
      %ol.user_info
        - unless current_user.interests.empty?
          %li
            %span.info_title= "Interests".upcase
            = current_user.interest_list.join(", ")

        - unless current_user.good_list.empty?
          %li
            %span.info_title= "Shared goods".upcase
            = current_user.good_list.join(", ")
        - unless current_user.skill_list.empty?
          %li
            %span.info_title= "Shared skills".upcase
            = current_user.skill_list.join(", ")
        - unless current_user.organizations.empty?
          %li
            %span.info_title= "Organizations".upcase
            = current_user.organizations.map{ |org| link_to org.name, org, :target => '_blank' }.join(", ")
        %li
          %span.info_title= "Address".upcase 
          = current_user.address[/(.+?)(,)/, 1]

  = render_map do |map|
    - map.center :lat => current_user.lat, :lng => current_user.lng
    - map.marker :lat => current_user.lat, :lng => current_user.lng

