- content_for :navigation do
  = render 'user_navigation'

#edit_profile


  - semantic_form_for current_user, :url => account_path, :html => { :class => "management_form" } do |f|
    %h3.management_field Edit your account info
    - f.inputs do
      = f.input :email
      = f.input :password, :input_html => {:autocomplete => "off"}
      = f.input :password_confirmation, :input_html => {:autocomplete => "off"}
    = f.inputs :street_address, :zip_code, :for => current_user.location
    - f.inputs :name => "Email Options" do
      = f.input :receive_posts, :as => :boolean
      = f.input :receive_events_and_announcements, :as => :boolean
      = f.input :receive_digests, :as => :boolean
      

    - f.buttons do
      = f.submit "Update Account"

#profile
  = render_map do |map|
    - map.center current_user
    - map.marker current_user
