- content_for :navigation do
  %h2#management_section_header Managing Your Personal Profile
  %nav#profile_section_navigation

#edit_profile
  - form_for current_user, :url => account_path, :html => {:multipart => true} do |f|
    = image_tag current_user.avatar.url, :width => 120, :height => 120, :class => 'graphic'
    = f.label :avatar, "Upload your avatar"
    = f.file_field :avatar, :style => "width: 120px"
    = f.submit

  %hr
  
  - semantic_form_for current_user, :url => account_path do |f|
    - f.inputs do 
      = f.input :first_name
      = f.input :last_name
      = f.input :about, :input_html => {:rows => 4, :cols => 40}
      = f.input :interest_list
      = f.input :skill_list
      = f.input :good_list
      = f.input :address
    = f.buttons
  %hr

  - semantic_form_for current_user, :url => account_path do |f|
    = f.inputs :email, :password, :password_confirmation
    = f.buttons


#profile
  = render 'users/info_box', :user => current_user
