- content_for :navigation do
  = render 'user_navigation'

#edit_profile
  
  - form_for current_user, :url => account_path, :html => {:multipart => true, :class => "management_form", :id => "edit_avatar"} do |f|
    %h3.management_field Edit your profile picture
    = image_tag current_user.avatar.url, :width => 120, :height => 120, :class => 'graphic'
    %fieldset
      = f.label :avatar, "Upload a new profile picture:"
      = f.file_field :avatar
      = f.submit "Save your profile photo"
  
  - semantic_form_for current_user, :url => account_path, :html => { :class => "management_form" } do |f|
    %h3.management_field Edit your profile info
    - f.inputs do 
      = f.input :first_name
      = f.input :last_name
      = f.input :about, :label => "About me"
      = f.input :skill_list, :label => "Shared skills", :hint => "For example: lawnmowing, baking, ..."
      = f.input :good_list, :label => "Shared goods", :hint => "For example: lawnmower, cookware, ..."
      = f.input :interest_list, :label => "Interests", :hint => "For example: skiing, politics, ..."
    = f.buttons

#profile
  = render 'preview'
