- content_for :navigation do
  = render 'user_navigation'

#edit_profile
  
  - form_for current_user.avatar, :html => {:multipart => true, :class => "management_form", :id => "edit_avatar"} do |f|
    %h3.management_field Edit your profile picture
    = image_tag current_user.avatar_url(:normal), :class => "graphic normal #{dom_id current_user.avatar}"
    = f.label :image, "Upload a new profile picture:"
    = f.file_field :image, :size => 17
    - if current_user.avatar.image.file?
      = link_to 'Crop your photo', edit_avatar_path(current_user.avatar), 'data-remote' => true, :class => "crop_photo"


  - semantic_form_for current_user, :url => account_path, :html => { :class => "management_form" } do |f|
    %h3.management_field Edit your profile info
    - f.inputs do 
      = f.input :first_name
      = f.input :last_name
      = f.input :about, :label => "About me"
      = f.input :interest_list, :label => "Interests", :hint => "For example: skiing, politics, ..."
      = f.input :good_list, :label => "Shared goods", :hint => "For example: lawnmower, cookware, ..."
      = f.input :skill_list, :label => "Shared skills", :hint => "For example: lawnmowing, baking, ..."


    - f.buttons do
      = f.commit_button 'Update Profile'

#profile
  = render 'preview'
