- content_for :navigation do
  = render 'navigation'

- semantic_form_for [:management, @feed] do |f|
  - f.inputs do
    = f.input :name
  - f.inputs do
    = f.input :avatar
    = f.input :about
    = f.input :phone
    = f.input :website
  
  - f.buttons do
    = f.commit_button 'Update'
  