%html
  %head
  %body
    %p Dear Neighbor,

    %p #{@user.name} has invited you to join #{@community.name} CommonPlace!

    %p CommonPlace is a great way to keep up with what's happening in #{@community.name}. Use it to share information with your neighborhood, find local events and stay in the loop with organizations and businesses in town.

    %p
      %em Need to borrow a ladder? Find a lost cat? Celebrate a new baby?

    %p Use CommonPlace to easily post needs, offers, events and announcements to all of your neighbors.

    %p 
      %em Want to go out on a Friday night? Having a tag sale?

    %p Use CommonPlace to find local events in #{@community.name} Or use CommonPlace to publicize your own.

    %p
      %em Want to stay informed about local organizations and businesses?

    %p Subscribe to community announcement feeds on CommonPlace to stay up to receive announcements from civic organizations, important information from city officials, and deals from local businesses.  Or start your own community feed to get your message out to the whole community.

    %p CommonPlace is simply the best place to go for anything in #{@community.name}.  The site gets better the more neighbors join, so please register #{ link_to "Click to Join #{@community.name} CommonPlace", "#{@community.slug}.ourcommonplace.com" }

    %p If you have any questions, contact #{@community.name}'s lead organizer, #{@community.organizer_name}, at #{@community.organizer_email}.

    %p Hope you can be a great neighbor and join #{@community.name} CommonPlace!

    %p -#{@community.name} CommonPlace