
%h2#management_section_header Managing Event: #{@event.name}
%nav#profile_section_navigation<
  = tab_to 'Edit Event Profile', management_event_path(@event)
  = tab_to 'Invite People to Your Event', '#', :class => 'management_disabled'
  = tab_to 'Send a Message to Attendees', '#', :class => 'management_disabled'
  = tab_to 'Settings', '#',  :class => 'management_disabled'