#information.info_box.event.preview
  #info_box_top= "Community Event".upcase

  #info_box_main
    #info_box_main_left
      #big_calendar.graphic= render 'events/calendar', :event => @event
      %span{:id => "follow_link", :class => "link_button"}
        Attend
      %span{ :id => "message_me", :class => "link_button"}
        Message #{@event.owner.name}

    .body
      %h3= @event.name
      %p.user_about= auto_link @event.description, :all, :target => '_blank'
      %ol.user_info            
        %li
          %span.info_title= "Starts".upcase
          = hours_minutes @event.start_time
        - unless @event.end_time.nil?
          %li  
            %span.info_title= "Ends".upcase
            = hours_minutes @event.end_time
        - unless @event.address.blank?
          %li
            %span.info_title= "Address".upcase 
            = @event.address[/(.+?)(,)/, 1]
            

    = render_map do |map|
      - map.center @event
      - map.marker @event

