
- content_for :navigation do
  = render 'management/events/navigation'

#invite_on_commonplace
  %h3.management_field Invite People on CommonPlace to Attend
  .tabs
    %ul
      %li
        %a{:href => "#suggested-people"}
          Suggested People
      %li
        %a{:href => "#all-people"}
          All People
      %li
        %a{:href => "#current-people"}
          Current Attendees
    - if @possible_attendees.size > 0
      %ul#suggested-people
        - @possible_attendees.each do |user|
          %li
            = link_to user.name, user, 'data-remote' => true
            = link_to "Invite", new_management_invite_path(:invite => {:invitee_id => user.id, :inviter_id => @event.id, :inviter_type => @event.class.human_name}), :class => "invite-button", 'data-remote' => true
            
    - else
      %p#suggested-people
        We weren't able to find any users with interests similar
        to your event. If you haven't already, try adding tags
        to your event.

    %ul#all-people
      - @event.feed.community.users.each do |user|
        %li
          = link_to user.name, user, 'data-remote' => true
          = link_to "Invite", new_management_invite_path(:invite => {:invitee_id => user.id, :inviter_id => @event.id, :inviter_type => @event.class.human_name}), :class => "invite-button", 'data-remote' => true

    - if @event.attendees.size > 0
      %ul#current-people
        - @event.attendees.each do |user|
          %li= link_to user.name, user, 'data-remote' => true
    - else
      %p#current-people
        You don't have any attendees yet. Try inviting some.

#invite_by_email
  %h3.management_field Invite People by Email  
  = render 'management/email_invites/form', :invite => Invite.new, :inviter => @event
  