
- content_for :navigation do
  = render 'navigation'

#edit_profile
  - semantic_form_for @event, :url => management_event_path(@event), :html => { :class => "management_form" } do |f|
    %h3.management_field Edit your Event
    - f.inputs do
      = f.input :name
      = f.input :description, :input_html => {:rows => 4, :cols => 40}
      = f.input :address
      = f.input :date, :as => :string, :input_html => {:class => "date", :value => @event.date}
      = event_select_time('start_time')
      = event_select_time('end_time')
      = f.input :tag_list, :hint => "For example: outdoors, skiing"
    = f.buttons


#profile
  = render 'preview'
