
- content_for :navigation do
  = render 'navigation'

#edit_profile
  - semantic_form_for @event, :url => management_event_path(@event), :html => { :class => "management_form" } do |f|
    %h3.management_field Edit your Event
    - f.inputs do
      = f.input :name
      = f.input :description, :input_html => {:rows => 4, :cols => 40}
      = f.input :address
      = f.input :start_time, :as => :string
      = f.input :end_time, :as => :string
      = f.input :tag_list
    = f.buttons


#profile
  = render 'events/info_box', :event => @event