
- content_for(:current_page, "Editing #{@organization.name}")

- semantic_form_for @organization do |f|
  - f.inputs do
    = f.input :community
    = f.input :name
    = f.input :address
    = f.input :about
    = f.input :phone
    = f.input :website
    = f.input :category
    = f.input :tag_list
    = f.input :claimed
    = f.input :code

  - f.inputs :for => :avatar do |a|
    = a.input :image, :as => :file
  
  = f.buttons

%ul#profile_fields
  = link_to "add field", new_profile_field_path, 'data-remote' => true
  - @organization.profile_fields.each do |pf|
    - semantic_form_for pf do |f|
      = f.inputs :subject, :body
