
%h2 New Organization

- semantic_form_for @organization do |f|
  - f.inputs do
    = f.input :community
    = f.input :name
    = f.input :avatar
    = f.input :address
    = f.input :about
    = f.input :phone
    = f.input :website
    = f.input :category
    = f.input :tag_list
    = f.input :claimed, :value => false
    = f.input :code
  
  = f.buttons