

- form_for current_user.avatar, :html => {:multipart => true, :class => "management_form", :id => "edit_avatar", :method => "put"} do |f|
  %h3.management_field Edit your profile picture
  = image_tag current_user.avatar_url(:normal), :class => "graphic normal #{dom_id current_user.avatar}"
  = f.label :image, "Upload a new profile picture:"
  = f.file_field :image, :size => 17
  - if current_user.avatar.image.file?
    = link_to 'Crop your photo', edit_avatar_path(current_user.avatar), 'data-remote' => true, :class => "crop_photo"

  
#modal