#first
  .container-12
    #map-sec.grid-6
      %h3.towns These Towns Are Using CommonPlace:
      %select{:name => "start", :class => "default dk" }
        %option{:value => "harrisonburg"} Harrisonburg, VA
        %option{:value => "chelmsford"} Chelmsford, MA
        %option{:value => "warwick"} Warwick, NY
        %option{:value => "vienna"} Vienna, VA
        %option{:value => "marquette"} Marquette, MI
        %option{:value => "clarkston"} Clarkson, GA
        %option{:value => "burnsville"} Burnsville, MN
        %option{:value => "owosso"} Owosso/Corunna, MI
        %option{:value => "goldenvalley"} Golden Valley, MN
        %option{:value => "grovehall"} Grove Hall, MA
        
      #map
        = image_tag "us-map.png", :alt=>"CommonPlace Map"
        .star.community1
          = link_to image_tag( 'star.png'), 'http://marquette.ourcommonplace.com'
        .star.community2
          = link_to image_tag( 'star.png'), 'http://burnsville.ourcommonplace.com'
        .star.community3
          = link_to image_tag( 'star.png'), 'http://goldenvalley.ourcommonplace.com'
        .star.community4
          = image_tag "star.png", :alt=>"Star"
        .star.community5
          = link_to image_tag( 'star.png'), 'http://warwick.ourcommonplace.com'
        .star.community6
          = link_to image_tag( 'star.png'), 'http://grovehall.ourcommonplace.com'
        .star.community7
          = link_to image_tag( 'star.png'), 'http://chelmsford.ourcommonplace.com'
        .star.community8
          = link_to image_tag( 'star.png'), 'http://clarkston.ourcommonplace.com'
        .star.community9
          = link_to image_tag( 'star.png'), 'http://harrisonburg.ourcommonplace.com'
        .star.community10
          = link_to image_tag( 'star.png'), 'http://vienna.ourcommonplace.com'
        .star.community11
          = link_to image_tag( 'star.png'), 'http://fallschurch.ourcommonplace.com'


    #nominate.grid-6
      #nominate-padding
        %p#leading="Want CommonPlace?"
        %h3="Nominate Your Town:"
      %form{:name => "nominate"}
        %input{:name => "request_community_name", :placeholder => "Name of Community"}
        %input{:name => "request_name", :placeholder => "Your Name"}
        %input{:name => "request_email", :placeholder => "Your Email"}
        %input{:name => "request_sponsor_organization", :placeholder => "Sponsoring Organization"}
        %input{:name => "submit", :type => "submit", :class => "grey-button sign_up", :value => "SIGN ME UP!"}
           
    .clear
    
#blurbs
  .grid-12
    %h3 The Initiative
    %p CommonPlace is a web platform for local community engagement.

    %p Our goal is to help neighbors and communities leaders to share information with the people around them and empower them to build awesome things for their communities.

    %p CommonPlace works with cities across the country. We’d love to work with yours! If you’re interested in a CommonPlace in your town, contact organizing@commonplaceUSA.com and fill out the form above.    
    
  .clear
  .ourtech.grid-12
    = image_tag "screenshot.png", :alt=>"Screenshot"
    %h3 Our Technology
    %p CommonPlace is designed to make it easy to publicize events, get help, and and share news with the people around you. 

    %p Use the site to meet new people, access vital information and find opportunities to leave the house. 
  .organizing.grid-12
    %h3 Organizing
    %p CommonPlace grows by engaging communities on the ground. 

    %p For our community partners, we provide: a fully-hosted CommonPlace platform; a full time on-the-ground community organizer, who works to bring the community onto the CommonPlace platform; lifetime feature updates and full-time customer service.
         
  .clear
 

    
#middle
  .grid-12
    #heart
      %h3
        Neighbors
        = image_tag "starter_site/heart.png", :alt=>"Heart"
        CommonPlace!
  .clear
#end
  #quotes
    .items
      .grid-4
        %p
          "I love getting to know my neighbors better, and it has led me to talk in person to neighbors I might not have ever crossed paths with by starting communications through a posting." 
        = image_tag "starter_site/user1.png", :alt=>"Julie Paradiso"
        %h4="Julie Paradiso"
        %h5
          Neighbor
          %br
          Falls Church, VA
          
      .grid-4
        %p
          "I've posted on and responded to Falls Church CommonPlace posts.  People attended a community event I promoted.  I found work through it.  And I scored a free perfect-condition TV from it." 
        = image_tag "starter_site/person5.png", :alt=>"Debra Z. Roth"
        %h4="Debra Z. Roth"
        %h5
          Neighbor
          %br
          Falls Church, VA
      .grid-4
        %p
          "It really makes living in Falls Church feel more neighborly because it increases interaction with people we sometimes have been living a long side of for a long time."
        = image_tag "starter_site/user1.png", :alt=>"Julie Read"
        %h4="Julie Read"
        %h5
          Neighbor
          %br
          Falls Church, VA
      .grid-4
        %p
          "CommonPlace has been a wonderful addition to the Falls Church Community.  Don't know how we got along before without it." 
        = image_tag "starter_site/person6.png", :alt=>"Barry Buschow"
        %h4="Barry Buschow"
        %h5
          Civic Leader
          %br
          Falls Church, VA
      .grid-4
        %p
          "I have used CommonPlace several times in the past 2 months.  I love the site. [...] I feel part of a dynamic community by being able to use CommonPlace so easily."
        = image_tag "starter_site/user1.png", :alt=>"James Kestell"
        %h4="James Kestell"
        %h5
          Neighbor
          %br
          Falls Church, VA
      .grid-4
        %p
          "CommonPlace provides a great way to reconnect with neighbors, exchange ideas and resources" 
        = image_tag "starter_site/user1.png", :alt=>"Ariadne Autor"
        %h4="Ariadne Autor"
        %h5
          Neighbor
          %br
          Falls Church, VA
          
  .clear
  :javascript
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName('script')[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0004/8420.js";
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    $("select").bind("change", function() { window.location.pathname = $(this).val(); });
