- if Rails.env.production?
  :javascript
    var _sf_startpt=(new Date()).getTime()
#first
  .container-12
    #tabsmenu.grid-6
      %ul.tabs
        %li#ini
          %a{:href=>"#", :class=>"current"}="The Initiative"
        %li#tec
          %a{:href=>"#"}="Our Technology"
        %li#org
          %a{:href=>"#"}="Organizing"
      .panes
        #init
          %h3="The Initiative"
          %p
            CommonPlace is a web platform for local community engagement.
          %p
            Our technology is designed to make it really easy for neighbors and community leaders to share information about local events, neighborhood needs or community announcements with the folks who live in their town.
          %p
            CommonPlace works with communities across the country. We’d love to work with yours! If you’re interested in bringing CommonPlace to your town, contact 
            =mail_to("Organizing@CommonPlaceUSA.com", "Organizing@CommonPlaceUSA.com")
            and fill out the form to the right.
        #tech
          %h3="Our Technology"
          #slides_wrapper
            .slide_info="Post Messages to Your Town"
            #slides
              %img{:src=>"images/starter_site/screenshot1.png", :alt=>"Registering is Easy", :class=>"active", :height=>"248", :width=>"420px"}
              %img{:src=>"images/starter_site/screenshot4.png", :alt=>"Post Messages to Your Town", :height=>"248", :width=>"420px"}
              %img{:src=>"images/starter_site/screenshot3.png", :alt=>"Start Receiving Emails from your Neighbors", :height=>"248", :width=>"420px"}
          %p#startSlides
            Start Slideshow
        #organ
          %h3="Organizing"
          %p
            Interested in bringing CommonPlace to your town?
          %p
            For our community partners, we provide:
          %ul
            %li="A fully hosted CommonPlace platform"
            %li="A full time staff person on-the-ground in your community, helping to organize around the CommonPlace platform"
            %li="Customer service"
            %li="Lifetime feature updates"
    #nominate.grid-6
      #nominate-padding
        %p#leading="Want CommonPlace?"
        %h3="Nominate Your Town:"
        - semantic_form_for @request do |f|
          - f.inputs do
            = f.input :community_name, :label=>"Name of Community:"
            = f.input :name, :label => "Your name:"
            = f.input :email, :label => "Your email:"
            = f.input :sponsor_organization, :label => "Sponsoring organization:"
          - f.buttons do
            = f.commit_button :label => "Submit Now"
           
    .clear
#middle
  .grid-12
    #heart
      %h3
        Neighbors
        %img{:src=>"images/starter_site/heart.png", :alt=>"Heart"}
        CommonPlace!
  .clear
#end
  #scroller
    .items
      .grid-4.rotate
        %p
          "I love getting to know my neighbors better, and it has led me to talk in person to neighbors I might not have ever crossed paths with by starting communications through a posting." 
        %img{:src=>"images/starter_site/user1.png", :alt=>"Julie Paradiso"}
        %h4="Julie Paradiso"
        %h5
          Neighbor
          %br
          Falls Church, VA
          
      .grid-4.rotate
        %p
          "I've posted on and responded to Falls Church CommonPlace posts.  People attended a community event I promoted.  I found work through it.  And I scored a free perfect-condition TV from it." 
        %img{:src=>"images/starter_site/person5.png", :alt=>"Deborah Roth"}
        %h4="Deborah Roth"
        %h5
          Neighbor
          %br
          Falls Church, VA
      .grid-4.rotate
        %p
          "It really makes living in Falls Church feel more neighborly because it increases interaction with people we sometimes have been living a long side of for a long time."
        %img{:src=>"images/starter_site/user1.png", :alt=>"Julie Read"}
        %h4="Julie Read"
        %h5
          Neighbor
          %br
          Falls Church, VA
      .grid-4.rotate
        %p
          "CommonPlace has been a wonderful addition to the Falls Church Community.  Don't know how we got along before without it." 
        %img{:src=>"images/starter_site/person6.png", :alt=>"Barry Buschow"}
        %h4="Barry Buschow"
        %h5
          Civic Leader
          %br
          Falls Church, VA
      .grid-4.rotate
        %p
          "I have used CommonPlace several times in the past 2 months.  I love the site. [...] I feel part of a dynamic community by being able to use CommonPlace so easily."
        %img{:src=>"images/starter_site/user1.png", :alt=>"James Kestell"}
        %h4="James Kestell"
        %h5
          Neighbor
          %br
          Falls Church, VA
      .grid-4.rotate
        %p
          "CommonPlace provides a great way to reconnect with neighbors, exchange ideas and resources" 
        %img{:src=>"images/starter_site/user1.png", :alt=>"Ariadne Autor"}
        %h4="Ariadne Autor"
        %h5
          Neighbor
          %br
          Falls Church, VA
          
  .clear
  - if Rails.env.production?
    :javascript
      var _sf_async_config={uid:25400,domain:"ourcommonplace.com"};
      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
            "js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
