- item_tag(post) do
  - link_to post, :class => 'item_body', 'data-remote' => true do
    .author
      = image_tag post.owner.avatar_url(:thumb), :width => 50, :height => 50
      = post.owner.name
    %h3
      = post.subject
    %time
      = post.time

    %p
      = truncate post.body, :length => 160
      %span.reply_count= "#{ post.replies.size } replies"

  = render 'shared/replies', :item => post

