%div{'data-href' => post_path(post), :class => "post tooltip", 'data-title' => "Click to see replies and your neighbor's profile."}
  = image_tag post.owner.avatar.url(:thumb), :class => "avatar"
  .controls
    - if can? :destroy, post
      &sdot;
      = link_to 'delete', post, :method => :delete
    - if can? :update, post
      &sdot;
      = link_to 'edit', [:edit, post], 'data-remote' => true
    - if can?(:uplift, post) && post.area.is_a?(Neighborhood)
      &sdot;
      = link_to 'uplift', uplift_post_url(post), 'data-remote' => true, 'data-method' => 'put'
  %time
    =post.time
    


  .reply-count #{ post.replies.size } replies
  = link_to post.subject, post, 'data-remote' => true, :class => "title"
  .author= post.owner.name
  .body= markdown auto_link(post.body, :all, :target => "_blank")

= render 'shared/replies', :item => post
