- item_tag(post) do
  - link_to post, :class => 'item_body', 'data-remote' => true do
    .author
      = image_tag post.owner.avatar.url, :width => 50, :height => 50
      = post.owner.name
    %h3
      = post.subject
    %time
      = post.time

    %p
      = post.body
      %span.reply_count= "#{ post.replies.size } replies"
  .replies
    %ul
      - post.replies.each do |reply|
        = render reply

    = render 'replies/form', :reply => post.replies.new
