%li.post{"data-info" => render("posts/post_info_box", :post => post)}
  = image_tag post.user.avatar.url, :width => 60, :height => 60
  %div
    %p 
      %span.name #{post.user.full_name}
      #{post.body}
    /%span.expand
    /  %p #{pluralize(post.replies.size, 'reply')}    
    %p.age 
      #{time_ago_in_words(post.created_at, include_seconds = true)} ago,
      - if post.replies.size > 0
        #{pluralize(post.replies.size, 'reply')}
      - else
        no replies yet
    /.info_box_content{:style => "display: none"}
    /=render("posts/post_info_box", :post => post)