
.post_clickable
  .title_top
    .icon
    .top_text
      %span.category CATEGORY
      %span.from from&nbsp;
      %span.author= post.user.full_name
      %span.time= post_date post.created_at
  .bottom
    = image_tag post.user.avatar.url, :width => 50, :height => 50, :class => 'graphic'
    .body
      %h3 Post title here
      %p= post.body
      .expand
        - if post.replies.size > 0
          #{pluralize(post.replies.size, 'reply')}
        - else
          no replies yet
  .replies
    - if post.replies.size > 0 # if there are replies
      %ol
        - post.replies.each do |reply|
          = render("replies/reply", :reply => reply)
    .new_reply
      - form_for [post, Reply.new] do |f|
        = f.text_area :body, "data-label" => "Reply here!"
        = f.submit "Reply"
