= image_tag post.user.avatar.url, :width => 60, :height => 60
%h2 #{post.user.full_name}
%p.instruction #{post.body}
%p.age 
  #{time_ago_in_words(post.created_at, include_seconds = true)} ago
  - if post.replies.size > 0
    \- #{pluralize(post.replies.size, 'reply')}
  - else
    \- no replies yet

.replies
  - if post.replies.size > 0 # if there are replies
    %ol
      - post.replies.each do |reply|
        %li.reply
          = image_tag reply.user.avatar.url, :width => 38, :height => 38
          %div
            %span.reply_name #{reply.user.full_name}
            = reply.body
            %p.age #{time_ago_in_words(reply.created_at, include_seconds = true)} ago
  .new_reply
    - form_for [post, Reply.new] do |f|
      = f.text_area :body, :id => "#{dom_id(post)}_reply_body"
      = f.label :body, "Reply here!", :required => true, :class => 'in-field', :for => "#{dom_id(post)}_reply_body"
      = f.submit "Reply"
  .clear