%div{'data-href' => post_path(post), :class => "post tooltip", 'data-title' => "Click to see replies and your neighbor's profile."}
  = image_tag post.owner.avatar_url(:thumb), :class => "avatar"
  .controls
    - if can? :destroy, post
      &sdot;
      = link_to 'delete', post, :method => :delete
    - if can? :update, post
      &sdot;
      = link_to 'edit', [:edit, post], 'data-remote' => true
    - if can? :uplift, post
      &sdot;
      - if post.sent_to_community?
        sent
      - else
        = button_to 'send to commmunity', uplift_post_url(post), :method => :put
      
      &sdot;
      = post.neighborhood.name
  %time
    = post_date post.created_at
    


  .reply-count #{ post.replies.size } replies
  = link_to post.subject, post, 'data-remote' => true, :class => "title"
  .author= post.owner.name
  .body= markdown auto_link(post.body, :all, :target => "_blank")
  - if post.replies.empty?
    = link_to "Reply to this post", "/replies", :class => "show-reply-form"



= render 'shared/replies', :item => post
