#syndicate
  %nav
    %a#create-entity
      %span
        %img
        POST TO YOUR NEIGHBORS

    #filters
      %a.selected
        %span NEIGHBORHOOD
      %a
        %span ALL

  %ul.items
    - @posts.each do |post|
      %li.item
        - link_to post, :class => 'post', 'data-remote' => true do
          = image_tag post.owner.avatar_url(:thumb), :class => "avatar"
          %time= post.time
          .reply-count #{ post.replies.size } replies
          .title= post.subject
          .author= post.owner.name
          %p.body= truncate post.body, :length => 160

        = render 'shared/replies', :item => post


