
= update_content "#say-something" do
  #say-something
    %h2= t ".title"
    %nav
      = link_to t("posts.new.link"), new_post_path, :class => "current", 'data-remote' => true
      = link_to t("events.new.link"), "#disabled", :class => "disabled_link"
      = link_to t("feeds.new.link"), new_feed_url
      = link_to t("invites.new.link"), new_invites_path, 'data-remote'=> true
    = render 'form', :post => post
