#modal

  - link_to "close", :id => "modal-close", 'data-remote' => true do
    = image_tag 'modal-close.png'

  - semantic_form_for post do |f|
    %hr.staple
  
    %h1 Write a post to your neighbors
    %p.hint This post will be emailed and posted to your neighborhood -- the 500 or so houses around you, who you can view #{link_to "here", neighborhood_people_path, :target => "_blank"}.
    - f.inputs do
      = f.input :subject
      = f.input :body, :input_html => { :rows => 5, :cols => 21 }
      = f.input :category, :as => :radio, :collection => Post::CATEGORIES, :label => "Category"
      
    - f.buttons do
      #submit_wrapper= f.commit_button "Submit your post"
