- render :layout => "shared/modal" do
  %hr.staple
  %h1 Step 3 of 3: Send your first announcement
  %p.hint On CommonPlace, #{@organization.category.downcase.pluralize} can send announcements to everyone in the community and anyone in town is able to reply to them. Here's your chance to send your first announcement:
  - semantic_form_for [@organization, @announcement], :html => {:class => "new_entity"} do |f|
    - f.inputs do 
      = f.input :subject, :input_html => {:value => "We, #{@organization.name}, just joined West Roxbury's CommonPlace"}
      = f.input :body, :input_html => {:value => "Perhaps introduce yourself or even ask a question for your neighbors to reply to."}
    - f.buttons do 
      #submit_wrapper= f.commit_button "Post your first announcement"
