- content_for :navigation do
  = render 'management/organizations/navigation'


#edit_profile
  - semantic_form_for [:management, @organization, @announcement], :html => { :class => "management_form" } do |f|
    %h3.management_field Create an Announcement
    %p.form-hint This announcement will be listed under 'announcements' on your community's mainpage and will be emailed to those who have subscribed to your organization.
    - f.inputs do
      = f.input :subject
      = f.input :body, :input_html => {:rows => 4, :cols => 40}
      = f.input :private, :label => "Check this box if you want this to be seen only by subscribers"
    = f.buttons

#profile
  %h3.management_field Past Announcements
  %ul#wire.management_wire
    - @announcements.each do |announcement|
      = render announcement