%nav#organizer_nav
  = link_to_unless_current "&laquo; back to organizations", organizer_index_url
  |
  = link_to_unless_current "Preview", organizer_url(@organization)
  |
  = link_to_unless_current "Events", organizer_events_path(@organization)
  |
  = link_to_unless_current "Announcements", organizer_announcements_path(@organization)
  |
  = link_to_unless_current "Subscribers", organizer_subscriptions_path(@organization)
  |
  = link_to_unless_current "Edit Profile", organizer_profile_path(@organization)
  |
  = link_to_unless_current "Settings"