%nav#organizer_nav
  = link_to "Manage Events", organizer_events_path(@organization)
  |
  = link_to "Manage Announcements", organizer_announcements_path(@organization)
  |
  = link_to "Edit Profile", organizer_profile_path(@organization)
  |
  = link_to "Outreach/Subscribers", organizer_subscriptions_path(@organization)
  |
  = link_to "Settings"