%nav#organizer_nav

  = link_to "Profile", organizer_url(@organization)
  = link_to "Events", organizer_events_path(@organization)
  = link_to "Announcements", organizer_announcements_path(@organization)
  = link_to "Subscribers", organizer_subscriptions_path(@organization)
  = link_to "Profile Fields", organizer_profile_path(@organization)
  = link_to "Settings", edit_organizer_path(@organization)
  /= link_to "New Organization", new_organizer_url