-#= javascript_include_tag 'chosen'
:css
  #referral_sources {
    text-align: center;
  }
  table {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    text-align: center;
    font-weight: bold;
  }

  td {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    text-align: center;
  }
  
  h1 {
    margin: 20px auto;
    font-size: 28px;
    color: blue;
  }
%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
:javascript
  var map;
  var clusterer;
  var infowindow;
  var greenMarkerOptions, redMarkerOptions, orangeMarkerOptions, blueMarkerOptions;
  var allHouseMarkers = Array();
  var droppedMarkers = Array();
  var knockedMarkers = Array();
  var postKnockedMarkers = Array();
  var noMarkers = Array();
  var onMarkers = Array();
  var streetAddresses = Array();
  function createMarker(point, html, image) {
    var marker = new google.maps.Marker({
      position: point,
      title: html,
      icon: image
    });
    google.maps.event.addListener(marker, 'click', function(marker){
      infowindow = new google.maps.InfoWindow();
      infowindow.open(map, marker, marker.title);
    });

    return marker;
  }
  function initialize() {
      geocoder = new google.maps.Geocoder();
      var myOptions = {
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      if (navigator.geolocation)
      {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(pos);
        }, function(){
          handleNoGeolocation(true);
        });
      }
      else
        handleNoGeolocation(false);

      // Set up markers
      greenMarker = "http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png";
      greyMarker = "/images/grey-dot.png";
      redMarker = "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png";
      yellowMarker = "http://www.google.com/intl/en_us/mapfiles/ms/micons/yellow-dot.png";
      orangeMarker = "http://www.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png";
      blueMarker = "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png";
      blackMarker = "http://www.google.com/intl/en_us/mapfiles/ms/micons/black-dot.png";
      drawPoints();
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag)
    {
      var content = 'Error: The Geolocation service failed.';
    }
    else
    {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }
    var options = {
      map: map,
      position: new google.maps.LatLng(60, 105),
      content: content
    };
    var infowindow = new google.maps.InfoWindow(options);
    map.setCenter(options.position);
  }

  function showMarkerSet(markers, cluster)
  {
    cluster = typeof(cluster) != 'undefined' ? cluster : false;
    $.each(markers, function(key, marker){
      if (cluster)
        clusterer.AddMarker(marker);
      else
        marker.setMap(map);
    });
  }

  function hideMarkerSet(markers, cluster)
  {
    cluster = typeof(cluster) != 'undefined' ? cluster : false;
    $.each(markers, function(key, marker){
      if (cluster)
        clusterer.RemoveMarker(marker);
      else
        marker.setMap(null);
    });
  }

  function drawPoints()
  {
    $.ajax({
      url: '/api/communities/#{@community_id}/registration_points',
      dataType: 'json',
      success: function(data) {
        $.each(data, function(key, val) {
          var point = new google.maps.LatLng(val['lat'], val['lng']);
          var marker = createMarker(point, val['name'] + '\n' + val['address'], greenMarker);
          onMarkers.push(marker);
        });
        showMarkerSet(onMarkers);
      }
    });
    $.ajax({
      url: '/api/communities/#{@community_id}/data_points?top=true',
      dataType: 'json',
      success: function(data) {
        $.each(data, function(key, val) {
          var colorOption;
          streetAddresses.push(val['address']);
          if (val['status'] == 'house') {
            var point = new google.maps.LatLng(val['lat'], val['lng']);
            allHouseMarkers.push(createMarker(point, val['address'], greyMarker));
          }
          if (val['status'] == 'dropped') {
            if (val['lat'] && val['lng'])
            {
              colorOption = yellowMarker;
              var point = new google.maps.LatLng(val['lat'], val['lng']);
              var marker = createMarker(point, val['address'], colorOption);
              droppedMarkers.push(marker);
            }
            else
            {
              geocoder.geocode({ 'address' : val['address'] }, function(result, status){
                if (status == google.maps.GeocoderStatus.OK)
                  droppedMarkers.push(createMarker(result[0].geometry.location, val['address'], yellowMarker));
              });
            }
          }
          if (val['status'] == 'knocked') {
            if (val['lat'] && val['lng'])
            {
              var point = new google.maps.LatLng(val['lat'], val['lng']);
              var marker = createMarker(point, val['address'], orangeMarker);
              knockedMarkers.push(marker);
            }
            else
            {
              geocoder.geocode({ 'address' : val['address'] }, function(result, status){
                if (status == google.maps.GeocoderStatus.OK)
                  knockedMarkers.push(createMarker(result[0].geometry.location, val['address'], orangeMarker));
              });
            }
          }
          if (val['status'] == 'post_knocked_1') {
            if (val['lat'] && val['lng'])
            {
              var point = new google.maps.LatLng(val['lat'], val['lng']);
              var marker = createMarker(point, val['address'], blueMarker);
              postKnockedMarkers.push(marker);
            }
            else
            {
              geocoder.geocode({ 'address' : val['address'] }, function(result, status){
                if (status == google.maps.GeocoderStatus.OK)
                  postKnockedMarkers.push(createMarker(result[0].geometry.location, val['address'], blueMarker));
              });
            }
          }
          if (val['status'] == 'no') {
            if (val['lat'] && val['lng'])
            {
              var point = new google.maps.LatLng(val['lat'], val['lng']);
              var marker = createMarker(point, val['address'], redMarker);
              noMarkers.push(marker);
            }
            else
            {
              geocoder.geocode({ 'address' : val['address'] }, function(result, status){
                if (status == google.maps.GeocoderStatus.OK)
                  noMarkers.push(createMarker(result[0].geometry.location, val['address'], redMarker));
              });
            }
          }
        });
        // Show default markers
        // Load street addresses
        if (streetAddresses[0].substr(0,7) != "<option")
        {
          $.each(streetAddresses, function(key, val) {
            tmp = val.split(" ");
            // Remove punctuation
            $.each(tmp, function(key, val) {
              tmp[key] = val.replace(/[\"\'\.,-\/#!$%\^&\*;:{}=\-_`~()]/g,"");
            });
            if (tmp.length == 4)
              streetAddresses[key] = tmp[1] + " " + tmp[2];
            else if (tmp.length >= 5)
              streetAddresses[key] = tmp[1] + " " + tmp[2] + " " + tmp[3];
            else
            {
              for (i = 1; i < tmp.length - 1; i++)
                streetAddresses[key] += tmp[i] + " ";
            }
          });
          streetAddresses = (_.uniq(streetAddresses)).sort();

          $.each(streetAddresses, function(k, v) {
            streetAddresses[k] = '<option value="' + v + '"> ' + v + ' </option>';
          });
          $('.address_selector').html(streetAddresses.join(''));
          $('.address_selector').width('250px');
          $('.address_selector').chosen();

          showMarkerSet(droppedMarkers);
          showMarkerSet(knockedMarkers);
          showMarkerSet(postKnockedMarkers);
          showMarkerSet(onMarkers);
          showMarkerSet(noMarkers);
          hiddenInput = $('<input/>', {type: 'hidden', id: 'entry_count', value: '1', name: 'entry_count'});
          hiddenInput.appendTo("#addresses");
        }
      }
    });
  }
  $(document).ready(initialize);
  var TOGGLE_OPTS = 'slow';
  function toggle_map()
  {
    hide_all();
    $("#map").toggle(TOGGLE_OPTS);
    initialize();
  }
  function toggle_overview()
  {
    hide_all();
    $("#community_overview").toggle(TOGGLE_OPTS);
  }
  function toggle_doc()
  {
    hide_all();
    $("#google_doc").toggle(TOGGLE_OPTS);
  }
  function toggle_referrers()
  {
    hide_all();
    $("#community_referrers").toggle(TOGGLE_OPTS);
  }
  function toggle_journal()
  {
    hide_all();
    $("#daily_journal").toggle(TOGGLE_OPTS);
  }
  function hide_all()
  {
    $("#map").hide();
    $("#community_overview").hide();
    $("#google_doc").hide();
    $("#community_referrers").hide();
    $("#daily_journal").hide();
  }
  
  var entry_count = 1;
  function add_entry()
  {
    entry_count += 1;
    $("#addresses").append('<br /><input id="number" name="number_' + entry_count + '" placeholder="1-10O" size="10" type="text" value="" /><select class="address_selector" data-placeholder="Street" id="address_' + entry_count + '" name="address_' + entry_count + '"></select>');
    $('.address_selector').html(streetAddresses.join(''));
    $('.address_selector').width('250px');
    $('.address_selector').chosen();
    $("#entry_count").val(entry_count);
  }

  function query(run_immediately, e)
  {
    if (!run_immediately)
    {
      var key_code;
      if (window.event)
      {
        key_code = e.keyCode;
      }
      else if (e.which)
      {
        key_code = e.which;
      }
      if (key_code == 13)
        run_immediately = true;
    }
    if (run_immediately)
    {
      var resultSet = Array();
      q = $("#search_query").val();
      geocoder.geocode({'address': q}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var marker = createMarker(results[0].geometry.location, q, blueMarker);
          marker.setMap(map);
        }
      });
    }
  }

#organizer_app
  #links
    %a{:onclick => "toggle_map();", :style=>"text-decoration: underline; cursor: pointer;"} Neighborhood Canvassing Map
    %br
    %a{:onclick => "toggle_overview();", :style=>"text-decoration: underline; cursor: pointer;"} Overview
    %br
    %a{:onclick => "toggle_doc();", :style=>"text-decoration: underline; cursor: pointer;"} Community Leaders
    %br
    %a{:onclick => "toggle_referrers();", :style=>"text-decoration: underline; cursor: pointer;"} Referrers
    %br
    %a{:onclick => "toggle_journal();", :style => "text-decoration: underline; cursor: pointer;"} Daily Journal
    %br
  #map{:style => "display: none;"}
    #map_canvas{:style => "width: 1024px; height: 350px;"}
    #map_form
      = text_field_tag :search_query, "", :placeholder => "Search", :onkeypress => "query(false, event)"
      = submit_tag "Search", :id => "search_query_commit", :onclick => "query(true, event);"
      %br
      = form_tag "/organizer/add", :method => :post do
        #addresses
          = text_field_tag :number_1, "", :size => 10, :placeholder => "1-10O"
          = select_tag :address_1, "", :class => "address_selector", "data-placeholder" => "Street"
          = @center_zip_code
          = select_tag :status, options_for_select([["Door-Dropped", 'dropped'], ['Door-Knocked', 'knocked'], ['Post-Knocked Once', 'post_knocked_1'], ['Impossibility', 'no']])
          %a{:onclick => "add_entry();"} Add More
        %br
        = submit_tag "Enter"
      %img{:src => "/images/grey-dot.png"}
      %a{:onclick => "showMarkerSet(allHouseMarkers);", :class => "markers show", :style => "cursor: pointer"} Show All Houses
      |
      %a{:onclick => "hideMarkerSet(allHouseMarkers);", :class => "markers hide", :style => "cursor: pointer"} Hide All Houses
      %br
      %img{:src => "http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png"}
      %a{:onclick => "showMarkerSet(onMarkers);", :class => "markers show", :style => "cursor: pointer"} Show People on CommonPlace
      |
      %a{:onclick => "hideMarkerSet(onMarkers);", :class => "markers hide", :style => "cursor: pointer"} Hide People on CommonPlace
      %br
      %img{:src => "http://www.google.com/intl/en_us/mapfiles/ms/micons/yellow-dot.png"}
      %a{:onclick => "showMarkerSet(droppedMarkers);", :class => "markers show", :style => "cursor: pointer"} Show Doordrops
      |
      %a{:onclick => "hideMarkerSet(droppedMarkers);", :class => "markers hide", :style => "cursor: pointer"} Hide Doordrops
      %br
      %img{:src => "http://www.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png"}
      %a{:onclick => "showMarkerSet(knockedMarkers);", :class => "markers show", :style => "cursor: pointer"} Show Doorknocks
      |
      %a{:onclick => "hideMarkerSet(knockedMarkers);", :class => "markers hide", :style => "cursor: pointer"} Hide Doorknocks
      %br
      %img{:src => "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png"}
      %a{:onclick => "showMarkerSet(postKnockedMarkers);", :class => "markers show", :style => "cursor: pointer"} Show Post-Knocks
      |
      %a{:onclick => "hideMarkerSet(postKnockedMarkers);", :class => "markers hide", :style => "cursor: pointer"} Hide Post-Knocks
      %br
      %img{:src => "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png"}
      %a{:onclick => "showMarkerSet(noMarkers);", :class => "markers show", :style => "cursor: pointer"} Show Negative Responses
      |
      %a{:onclick => "hideMarkerSet(noMarkers);", :class=> "markers hide", :style => "cursor: pointer"} Hide Negative Responses

  #community_overview{:style => "display: none;"}
    = render :partial => "admin/community_overview", :collection => [current_community]
  #google_doc{:style => "display: none;"}
    - if current_community.google_docs_url.present?
      %iframe{:src => current_community.google_docs_url, :width => "100%", :height => "800px"}
    - else
      No such document exists
  #community_referrers{:style => "display: none;"}
    %h1 Recent Referrals
    = render :partial => "admin/community_referrer", :collection => [current_community]
  #daily_journal{:style => "display: none;"}
    Coming soon :-)
