.info_box.styled_box.organization
  .header
    .icon{ :alt => "organization" }
    .header_text
      %span.category COMMUNITY ORGANIZATION
    - if current_user.organizations.include? organization
      %span.follow_status Subscribed
  #info_box_main
    #info_box_main_left
      = image_tag organization.avatar.url, :width => 120, :height => 150, :class => 'graphic'
      = link_to "Subscribe", "", :id => "follow_link"
      = link_to "Message #{ organization.name }", "", :id => "message_me"
    .body
      %h3= organization.name
      %p.user_about= auto_link organization.about, :all, :target => '_blank'
      %ol.user_info
        - organization.profile_fields.sort{ |x,y| x.position <=> y.position }.each do |p|
          %li
            %span.info_title= p.subject.upcase
            = p.body
            
        - if organization.phone
          %li
            %span.info_title= "Phone".upcase
            = organization.phone
            
        %li
          %span.info_title= "Address".upcase 
          = organization.address[/(.+?)(,)/, 1]
      = image_tag "/images/fake_map.png", :id => "map"