#information.info_box.organization
  #info_box_top= "Organization".upcase

  #info_box_main
    #info_box_main_left
      = image_tag organization.avatar_url(:normal), :class => 'graphic'
      - unless organization.subscribers.include? current_user
        = button_to "Subscribe", organization_subscription_path(organization), :id => "follow_link", :class => "link_button"
      = link_to "Message #{ organization.name }", new_organization_message_path(@organization), :id => "message_me", :class => "link_button"
      - if organization.subscribers.include? current_user
        = link_to "Unsubscribe from #{ organization.name }", organization_subscription_path(organization), 'data-method' => :delete, :id => "unsubscribe", 'data-remote' => true
    .body
      %h3= link_to organization.name, profile_path(organization.slug.name), :target => :blank
      %p.user_about= auto_link organization.about, :all, :target => :blank
      %ol.user_info
        - unless organization.tag_list.empty?
          %li
            %span.info_title= "Tags".upcase
            = organization.tag_list.join(", ")
        - unless organization.website.blank?
          %li
            %span.info_title= "Website".upcase
            = auto_link organization.website, :html => { :target => '_blank' }
        - unless organization.phone.blank?
          %li
            %span.info_title= "Phone".upcase
            = organization.phone
        - unless organization.address.blank?    
          %li
            %span.info_title= "Address".upcase 
            = organization.address
    
  
    = render_map do |map|
      - map.center organization
      - map.marker current_user
      - map.marker organization
      - map.directions do |dir|
        - dir.origin current_user
        - dir.destination organization
