.info_box.styled_box.organization
  .header
    .icon{ :alt => "organization" }
    .header_text
      %span.category Organization
    - if current_user.organizations.include? organization
      %span.follow_status Subscribed
  #info_box_main
    #info_box_main_left
      = image_tag organization.avatar.url, :width => 120, :height => 150, :class => 'graphic'
      - unless organization.subscribers.include? current_user
        = button_to "Subscribe", organization_subscription_url(organization), :id => "follow_link", :class => "link_button"
      = link_to "Message #{ organization.name }", "", :id => "message_me", :class => "link_button"
      - if organization.subscribers.include? current_user
        = link_to "Unsubscribe from #{ organization.name }", organization_subscription_url(organization), :method => :delete, :id => "unsubscribe"
    .body
      %h3= link_to organization.name, organization, :target => :blank
      %p.user_about= auto_link organization.about, :all, :target => :blank
      %ol.user_info
        - organization.profile_fields.sort{ |x,y| x.position <=> y.position }.each do |p|
          %li
            %span.info_title= p.subject.upcase
            = p.body
            
        - if organization.phone
          %li
            %span.info_title= "Phone".upcase
            = organization.phone
        - unless organization.address.blank?    
          %li
            %span.info_title= "Address".upcase 
            = organization.address[/(.+?)(,)/, 1]
    
  
  #map
