#left_col
  %ul#top_left
    %li= image_tag @organization.avatar.url, :class => "profilephoto"
    %li#relation Join this group!

  %ul#contact
    %li Contact Information
    %li Send a Message
    %li Phone: 123-456-7890
  %ul#website
    %li Websites
    %li Personal Website
  %ul#members
    %li Members (#{ @organization.subscribers.take(3).length }/#{ @organization.subscribers.length })
    - @organization.subscribers.take(3).each do |subscriber|
      %li
        .user_image= image_tag subscriber.avatar.url, :size => "30x30"
        .user_info
          .user_name= subscriber.full_name
          .user_role subscriber
    %li#more_members View all members...
#right_col
  %h1= @organization.name
  #signupteaser
    %h3 Follow Medford Democrats on the Medford CommonPlace!
    %p The Medford Democrats are part of the Medford CommonPlace, a way to connect to organizations and people in your neighborhood.
  %h2.top Who We Are
  %p.info The Medford Democrats are a local chapter of the National Democratic Party. We strive to elect local and strong candidates to city and county offices.
  
  %h2 Upcoming Events
  .info
    %a{:href => "#"} Recall Scott Brown Barbecue
    %br/
    This Saturday, June 5, 2010
    %br/
    %span.expand Learn More
    •
    %span.rsvp
      RSVP
      %span (attend)
    .expansion
      This Saturday, come and roast burgers and Scott Brown. We'll be discuss our coherent strategy to get back Teddy's seat, as well as having a great time!
  
  %h2 Headquarters Location
  %table.info
    %tr
      %td Address
      %td
        %a{:href => "#"}
          365 Boston Ave
          %br/
          Medford MA, 02155
    %tr
      %td Distance
      %td 0.4 miles
    %tr
      %td Walking Time
      %td 5 minutes
  
  #map
  
  %h2 Meeting Times
  .info We meet every Monday at 7PM in the basement of the community center. We have coffee and donuts.