- [:success,:error,:message].each do |type|
  - if flash[type]
    .flash{:class => type.to_s} 
      = flash[type]


- form_for @organization do |f|

  = f.label :name, "Name: "

  = f.error_message_on :name

  = f.text_field :name
  = f.label :address, "Address: "
  = f.text_field :address
  = f.label :about, "About: "
  = f.text_area :about
  = f.submit
