#planewrapper
  #plane
    %h1
      = t(".htitle")
      %br
    %h2
      = t(".title")

/* #gbox
/*   %h1
/*     = t(".card_msg")
          
/* #card_box

    
#gbox
  %h1
    = t(".business_msg")

#businessinformation
  %ul{:id=>"infolist1"}
    - current_community.discount_businesses.try(:each) do |business|
      %li= business
          
#footerinfo
  %h3
    = t(".foot_msg")

#wrapper-footer
