
- update_content "#syndicate" do
  #syndicate
    %h3= t "syndicate.posts.title"
    = render 'shared/items', :items => @posts

    %h3= t "syndicate.events.title"
    = render 'shared/items', :items => @events

    %h3= t "syndicate.announcements.title"
    = render 'shared/items', :items => @announcements
