- form_for user_session, :url => user_session_path do |f|
  = f.label "Email"
  = f.text_field :email
  = f.label :password
  %p.hint= link_to("forgot password?", new_password_reset_path)
  = f.text_field :password
  = f.submit 'Log in'