
#get_started
  
  - form_for UserSession.new, :url => user_session_path, :html => { :class => "standard_form", :id => "sign_in" } do |f|
    %h2 Sign in
    %fieldset
      %ol
        %li
          = f.label :email, "Email"
          = f.text_field :email
        %li  
          = f.label :password, "Password"
          = f.password_field :password
        %p.hint= link_to("forgot password?", new_password_reset_path)
      = f.submit 'Log in'
  
  
  - semantic_form_for User.new, :url => account_url, :html => { :class => "standard_form", :id => "sign_up"} do |f|
    %h2 Sign up
    
    - f.inputs do 
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.input :address
    - f.buttons do
      = f.commit_button :label => "Create an account"
    
    / Name
    / Email
    / Password
    / Address
    / Tags
    / Privacy policy