
#get_started
  = render 'form'
  
  - semantic_form_for @user, :url => account_url, :html => { :class => "standard_form", :id => "sign_up"} do |f|
    %h2 Sign up
    
    - f.inputs do 
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
    = f.inputs :street_address, :zip_code, :for => :location
    - f.buttons do
      = f.commit_button :label => "Create an account"