!!! 5
%html
  %head
    %link{ :href=> 'http://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css', :rel =>"stylesheet", :type =>"text/css"}
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    %title= "CommonPlace - #{current_community.name}"

    %script{:type => 'text/javascript', :src => "/javascripts/head.min.js"}
    = javascript_include_tag "http://js.getexceptional.com/exceptional.js"      
    = include_javascripts :application
    = include_javascripts :templates
    -#= javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
    %script{:type => "text/javascript"}
      CommonPlace = window.CommonPlace || {};
      CommonPlace.auth_token = "#{form_authenticity_token}"
    :javascript
      function facebook_invite()
      {
        FB.ui({
          method: 'apprequests',
          message: 'Invitation Text Here',
          data: 'tracking_data'
        });
      }
    - if Rails.env.production?
      :javascript
        $(document).ready(function () {
          Exceptional.setKey('0556a141945715c3deb50a0288ec3bea5417f6bf');
        });
    - if params[:first].present? and current_user.is_facebook_user and $rollout.active?(:facebook_like, current_user)
      :javascript
        $(document).ready(function() { facebook_invite(); });

    = include_stylesheets :application
    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
      = include_stylesheets :ie

  %body{ :class => "application #{params[:controller].gsub(/\//,"_")} #{params[:action]} #{ logged_in? ? "logged_in" : "logged_out" }"}
    #fb-root
    %script
      window.fbAsyncInit = function() {
      FB.init({
      appId : "#{($FacebookConfig || {})['app_id']}",
      status : true,
      cookie : true,
      xfbml  : true
      });
      - if params[:first].present? and current_user.is_facebook_user and false
        facebook_invite();
      };
      (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
      }());
    - if Rails.env.production?
      %script
        var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('811a15fe46de2d4df84c6ee51112e7ab'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; }

    = render 'shared/admin_bar'
    
    = render 'layouts/header', :user_session => current_user_session
    - if Rails.env.production?
      :javascript
        var _kmq = _kmq || [];
        function _kms(u){
          setTimeout(function(){
            var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
            s.src = u; f.parentNode.insertBefore(s, f);
          }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/43e47c426bf1156fddc7b7e065fb563ac1be5bf0.1.js');

    = yield

    %footer
      #cont
        .left_text
          Find out more at #{ link_to "CommonPlaceUSA.com", "http://commonplaceusa.com", :target => :blank }
        .right_text
          = mail_to current_community.organizer_email, "Questions?  Email #{current_community.organizer_email}"
          &sdot;
          = link_to "FAQ", "/faq"
          &sdot;
          = link_to "About", "http://commonplaceusa.com", :target => :blank
          &sdot;
          = link_to "Terms", terms_path
          &sdot;
          = link_to "Privacy Policy", privacy_path

    - if updated_content["#modal"]
      = updated_content["#modal"]
    - else
      #modal


  - if Rails.env.production?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23648046-1']);
      _gaq.push(['_setDomainName', '.commonplaceusa.com']);
      _gaq.push(['_trackPageview', location.pathname + location.hash]);
      _gaq.push(['_formAnalysis', {
          onBounce: true,
          minFields: 3
      }]);
      _gaq.push(['_setXDomain', {
          domainName: 'commonplaceusa.com'
      }]);
      _gaq.push(['_trackLoadTime', {
          onBounce: true,
          method: 'event',
          category: 'loadTime'
      }]);
      _gaq.push(['_trackRealBounce', {
          category: 'NoBounce',
          delay: 30
      }]);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

