!!! 5
%html
  %head
    %link{ :href=> 'http://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css', :rel =>"stylesheet", :type =>"text/css"}
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    %title= "CommonPlace - #{current_community.name}"

    %script{:type => 'text/javascript', :src => "/javascripts/head.min.js"}
      
    = include_javascripts :application
    = include_javascripts :templates
    = javascript_include_tag "http://www.plaxo.com/css/m/js/util.js"
    = javascript_include_tag "http://www.plaxo.com/css/m/js/basic.js"
    = javascript_include_tag "http://www.plaxo.com/css/m/js/abc_launcher.js"
    = javascript_include_tag "http://js.getexceptional.com/exceptional.js"
    -#= javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
    %script{:type => "text/javascript"}
      CommonPlace = window.CommonPlace || {};
      CommonPlace.auth_token = "#{form_authenticity_token}"
    :javascript
      function facebook_invite()
      {
        FB.ui({
          method: 'apprequests',
          message: 'Invitation Text Here',
          data: 'tracking_data'
        });
      }
    - if Rails.env.production?
      :javascript
        $(document).ready(function () {
          Exceptional.setKey('0556a141945715c3deb50a0288ec3bea5417f6bf');
        });
    - if params[:first].present? and current_user.is_facebook_user and $rollout.active?(:facebook_like, current_user)
      :javascript
        $(document).ready(function() { facebook_invite(); });

    = include_stylesheets :application
    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
      = include_stylesheets :ie

  %body{ :class => "application #{params[:controller].gsub(/\//,"_")} #{params[:action]} #{ logged_in? ? "logged_in" : "logged_out" }"}
    #fb-root
    %script
      window.fbAsyncInit = function() {
      FB.init({
      appId : "#{($FacebookConfig || {})['app_id']}",
      status : true,
      cookie : true,
      xfbml  : true
      });
      - if params[:first].present? and current_user.is_facebook_user and false
        facebook_invite();
      };
      (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
      }());
    = render 'shared/admin_bar'
    
    = render 'layouts/header', :user_session => current_user_session

    = yield

    %footer
      #cont
        .left_text
          Find out more at #{ link_to "CommonPlaceUSA.com", "http://commonplaceusa.com", :target => :blank }
        .right_text
          = mail_to current_community.organizer_email, "Questions?  Email #{current_community.organizer_email}"
          &sdot;
          = link_to "FAQ", "/faq"
          &sdot;
          = link_to "About", "http://commonplaceusa.com", :target => :blank
          &sdot;
          = link_to "Terms", terms_path
          &sdot;
          = link_to "Privacy Policy", privacy_path

    - if updated_content["#modal"]
      = updated_content["#modal"]
    - else
      #modal


  - if Rails.env.production?
    %script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12888551-3']);
      _gaq.push(['_trackPageview', location.pathname + location.hash]);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
