- if Rails.env.production?
  -# Mixpanel metrics
  - if current_user.try(:email).present?
    :javascript
      mpq.identify("#{current_user.email}");
      mpq.register({'email': '#{current_user.email}', 'community': '#{current_community.slug}', 'referral_source': '#{current_user.referral_source ? current_user.referral_source.gsub("'","") : ''}'});
      mpq.name_tag("#{current_user.full_name} - #{current_user.email}");

  -# Chartbeat
  :javascript
    var _sf_async_config={uid:25400,domain:"ourcommonplace.com"};
    (function(){
      function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
            "js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();

-# JQuery Magic
-# fixme: this should go somewhere with context and no magic
:javascript
  $(document).ready(function() {
    $('textarea').autoResize();
    // FIXME: this code is non-DRY confusing crap:  Appears many times w/o apparent reason.
    $('input[placeholder], textarea[placeholder]').placeholder();
  });
