- if Rails.env.production?
  -# JQuery Placeholder
  %script
    $(function(){$('input[placeholder], textarea[placeholder]').placeholder();});
    
  -# Mixpanel metrics
  - if current_user.try(:email).present?
    %script
      mpq.identify("#{current_user.email}");
      mpq.register({'email': '#{current_user.email}', 'community': '#{current_community.slug}', 'referral_source': '#{current_user.referral_source ? current_user.referral_source.gsub("'","") : ''}'});
      mpq.name_tag("#{current_user.full_name} - #{current_user.email}");

  -# Chartbeat

  :javascript
    var _sf_async_config={uid:25400,domain:"ourcommonplace.com"};
    (function(){
      function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
            "js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();

  -# Google analytics
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12888551-3']);
    _gaq.push(['_trackPageview']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  -# BugMuncher
  %script{:type => "text/javascript", :src => "https://secure.bugmuncher.com/js/bugMuncher.min.js"}

-# JQuery Magic

:javascript
  $(document).ready(function() {
    $('textarea').autoResize();
  });
