- title ||= nil; track ||= nil; stylesheets ||= nil; javascripts ||= nil
-# NewRelic:
:javascript
  var _sf_startpt=(new Date()).getTime();

%meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
%meta{ :name => "keywords", :content => "CommonPlace, CommonPlace USA" }
%meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }

- if community_name = current_community.try(:name) || params[:community]
  %meta{ :name => "description", :content => "The #{community_name} CommonPlace is an online community bulletin board for neighbors in #{community_name}, designed to make it easy for neighbors and community groups to share and connect." }
- else
  %meta{ :name => "description", :content => "CommonPlace helps you share and connect with your neighbors." }

%link{ :href=> 'https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css', :rel =>"stylesheet", :type =>"text/css"}
%link{ :href=> 'https://fonts.googleapis.com/css?family=Rokkitt:400,700', :rel =>"stylesheet", :type =>"text/css"}
%link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }

%title= "CommonPlace #{community_name} #{title}"

= stylesheet_link_tag(*stylesheets) if stylesheets

= include_dummy_console
= include_commonplace(title)
= javascript_include_tag(*javascripts) if javascripts
= populate_commonplace # this could be moved to the footer.

= include_mixpanel
= mixpanel_track(track)

= include_ga
= include_exceptional

/ [if IE]
  = javascript_include_tag "https://html5shiv.googlecode.com/svn/trunk/html5.js"
