%footer
  #cont
    .left_text
      Find out more at #{link_to "CommonPlaceUSA.com", about_url, :target => :blank }
    .right_text
      - if params[:community]
        = mail_to current_community.organizer_email, "Questions?  Email #{current_community.organizer_email}"
      - else 
        = mail_to "FAQ@CommonPlaceUSA.com", "Questions?  Email FAQ@CommonPlaceUsa.com"
      - if params[:community]
        &sdot;
        = link_to "FAQ", faq_path(current_community)
      &sdot;
      = link_to "About", about_url, :target => :blank
      - if params[:community]
        - if current_user.present?
          - if $rollout.active?(:good_neighbor_discount, current_user)
            &sdot;
            = link_to "Good Neighbor Discount", "/#{current_community.slug}/good_neighbor_discount/"
      - if params[:community]
        &sdot;
        = link_to "Terms", terms_path(current_community)
      - if params[:community]
        &sdot;
        = link_to "Privacy Policy", privacy_path(current_community)
