#header
  - if logged_in?
    #nav_wrapper
      %ul{:class=>"nav"}
        %li{:class=>"invite"}
          %div{:class=>"letter"}
          %a(href="/#{current_community.slug}/invite" data-remote) Invite
        %li{:class=>"inbox"}
          %div{:class=>"file"}
          %a(href="/#{current_community.slug}/inbox" data-remote) Inbox
          .inbox-sub
            .inbox-left
              %ul.inbox-nav
                %li.inbox-current Inbox
                %li Sent
            .inbox-right
              .message-cont
                = image_tag("avatar.jpg")
                %a.title Cool new UI
                .author John doe
                .message-preview
                  %p Hey man, just wanted to let you know this is a cool message box.
        %li{:class=>"account"}
          = image_tag current_user.avatar_url(:thumb), size: "22x22", class: "avatar"
          %a(href="/#{current_community.slug}/account" data-remote) Hi, #{truncate current_user.first_name, :length=>8}!
          %ul.account-sub
            %li
              %a(href="/#{current_community.slug}/account" data-remote) Account Settings
            - current_user.feed_owners.each do |feed_owner|
              %li
                %a(href="/pages/#{feed_owner.feed.slug}") #{feed_owner.feed.name}
            %li
              %a(href="/feed_registrations/new") Register a Feed
            %li
              %a(href="/#{current_community.slug}/faq" data-remote) FAQ
            - if current_community.discount_businesses.present?
              %li
                %a(href="/#{current_community.slug}/discount" data-remote) Good Neighbor Discount
            %li
              %a(href="/#{current_community.slug}/privacy") Privacy Policy
            %li
              %a(href="/users/sign_out") Sign Out
      = link_to "/#{current_community.slug}", :id => "logo", :data => { :remote => true } do
        = image_tag "logo2.png", :alt => 'CommonPlace'
        %span.community= current_community.name
  - else
    #nav_wrapper
      :javascript
        $(function() {
        $('#sign_in_button').click(function() {
        $("#header form.user").slideToggle();
        });
        });

      %ul{:id=>"user_sign_in"}
        %li Have an Account?
        %li{:id=>"sign_in_button", :class=>"remove_border"} Sign in
        %li{:id=>"sign_in_form"}
          = render 'user_sessions/form'

      - if params[:community]
        = link_to "/#{params[:community]}", :id => "logo" do
          = image_tag "logo2.png", :alt => 'CommonPlace'
          %span.community= current_community.name
      - else
        = link_to "/", :id => "logo" do
          = image_tag "logo2.png", :alt => 'CommonPlace'

  .clear
