#header
  - if logged_in?
    #nav_wrapper
      %ul{:class=>"nav"}
        %li{:class=>"my-activity selected-nav"} 
          %div{:class=>"number"} 432
          %a(title=@link){:href => @link} My Activity
          %ul{:class=>"my-activity-sub"}
            %p 
              This is a record of all the ways you've helped your neighbors on CommonPlace.  Since June 2009, you've earned
              %span{:class=>"red"} 31 
              'Good Neighbor' points.
            .sub-left
              %h4 Personal Activity
              %li 
                %span{:class=>"sub-title"}Posts to neighbors 
                %span{:class=>"sub-notif"} 3
              %li 
                %span{:class=>"sub-title"}Replies to neighbors 
                %span{:class=>"sub-notif"} 5
              %li 
                %span{:class=>"sub-title"}Events posted 
                %span{:class=>"sub-notif"} 3
              %li 
                %span{:class=>"sub-title"}Invites sent 
                %span{:class=>"sub-notif"} 3
              %li 
                %span{:class=>"sub-title"}Shares on Facebook 
                %span{:class=>"sub-notif"} 9
            .sub-right 
              %h4 Town Activity
              %li
                %span{:class=>"sub-title"}Total Neighbors 
                %span{:class=>"sub-notif"} 113
              %li 
                %span{:class=>"sub-title"}New neighbors This Week 
                %span{:class=>"sub-notif"} 14
              %li 
                %span{:class=>"sub-title"}Posts this week 
                %span{:class=>"sub-notif"} 54
              %li 
                %span{:class=>"sub-title"}Events this week 
                %span{:class=>"sub-notif"} 8
              %li 
                %span{:class=>"sub-title"}Visits to CommonPlace 
                %span{:class=>"sub-notif"} 2k
        %li{:class=>"invite"}
          %div{:class=>"letter"}
          %a(title=@link){:href => @link} Invite
        %li{:class=>"inbox"}
          %div{:class=>"file"}
          %a(title=@link){:href => @link} Inbox
        %li{:class=>"account"}
          %div{:class=>"icon"}
          %a(title=@link){:href => @link} Hi, Max!
      = link_to "/", :id => "logo" do
        = image_tag "logo2.png", :alt => 'CommonPlace'
        %span.community= current_community.name
  - else
    #nav_wrapper
      :javascript
        $(function() {
        $('#sign_in_button').click(function() {
        $("#header form.user").slideToggle();
        });
        });

      %ul{:id=>"user_sign_in"}
        %li Have an Account?
        %li{:id=>"sign_in_button", :class=>"remove_border"} Sign in
        %li{:id=>"sign_in_form"}
          = render 'user_sessions/form'
            
      - if params[:community]
        = link_to "/#{params[:community]}", :id => "logo" do
          = image_tag "logo2.png", :alt => 'CommonPlace'
          %span.community= current_community.name
      - else
        = link_to "/", :id => "logo" do
          = image_tag "logo2.png", :alt => 'CommonPlace'
    
  .clear
