#header
  - if logged_in?
    #nav_wrapper
      .nav
        - if current_user.admin?
          = tab_to "Stats", "#", {:onclick => "$('#admin_bar').toggle('slow');"}
        = tab_to "Inbox", "/inbox"
        = tab_to "Invite", "/account/facebook_invite"
        .user-feeds
          - if current_user.managable_feeds.count > 0
            %h4 Your Feeds
            %ul
              - current_user.managable_feeds.each do |feed|
                %li= link_to feed.name, "/pages/#{feed.slug.blank? ? feed.id : feed.slug}"
              %li= link_to 'Create a feed', new_feed_registration_url
          - else
            %h4
              = link_to((t "feeds.register"), new_feed_registration_url)
        = tab_to "Settings", "/account/edit"
        = tab_to "Logout", "/users/sign_out"
      = link_to "/", :id => "logo" do
        = image_tag "logo2.png", :alt => 'CommonPlace'
        %span.community= current_community.name
  - else
    #nav_wrapper
      :javascript
        $(function() {
        $('#sign_in_button').click(function() {
        $("#header form.user").slideToggle();
        });
        });

      %ul{:id=>"user_sign_in"}
        %li Have an Account?
        %li{:id=>"sign_in_button", :class=>"remove_border"} Sign in
        %li{:id=>"sign_in_form"}
          = render 'user_sessions/form'
            
      - if params[:community]
        = link_to "/#{params[:community]}", :id => "logo" do
          = image_tag "logo2.png", :alt => 'CommonPlace'
          %span.community= current_community.name
      - else
        = link_to "/", :id => "logo" do
          = image_tag "logo2.png", :alt => 'CommonPlace'
    
  .clear
