%header
  - if user_session.new_session?
    #nav_wrapper  
      %ul{:id=>"user_sign_in"}
        %li Have an Account?
        %li{:id=>"sign_in_button", :class=>"remove_border"} Sign in
        %li{:id=>"sign_in_form"}
          = render 'user_sessions/form', :user_session => user_session
      - if params[:community]
        = link_to "/#{params[:community]}", :id => "logo" do
          = image_tag "logo2.png"
          %span.community= current_community.name
      - else
        = link_to "/", :id => "logo" do
          = image_tag "logo2.png"
  - else
    #nav_wrapper  
      %nav
        = tab_to "Home", "/#{current_community.slug}"
        - if current_user.admin?
          = tab_to "Stats", "", {:onclick => "$('#admin_bar').toggle('slow');"}
        = tab_to "Inbox", "/messages"
        = tab_to "Invite", "/account/facebook_invite"
        .user-feeds
          %h4
            - if current_user.managable_feeds.count > 0
              Feeds 
            - else
              Register a Community Feed
          %ul
            - current_user.managable_feeds.each do |feed|
              %li= link_to feed.name, "/feeds/#{feed.id}/profile"
            %li= link_to 'Create a feed', "/feeds/new"
        = tab_to "Settings", "/account"
        = tab_to "FAQ", "/#{current_community.slug}/faq"
        = tab_to "Logout", "/logout", :method => :delete
      = link_to "/", :id => "logo" do
        = image_tag "logo2.png"
        %span.community= current_community.name
    
  .clear
