#header

  #nav_wrapper
    :javascript
      $(function() {
      $('#sign_in_button').click(function() {
      $(this).toggleClass("open");
      $(this).siblings("#sign_in_form").children("form").toggle();
      });
      });
    - if params[:community]
      = link_to "/#{params[:community]}", :id => "logo" do
        = image_tag "logo2.png", :alt => 'CommonPlace'
        %span.community= current_community.name
    - else
      = link_to "/", :id => "logo" do
        = image_tag "logo2.png", :alt => 'CommonPlace'
  
  .clear
