!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    %title CommonPlace - Administration

    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min'
    = include_javascript_folder 'jquery'
    = javascript_include_tag 'sammy-0.6', 'sammy.haml.js', 'sammy.json.js', 'sammy.meld.js', 'sammy.mustache.js', 'markermanager_packed.js'

    = javascript_include_tag 'administration'
       
    = stylesheet_link_tag 'administration'

  %body
    #wrap
      %header
        %h1 Administration
        %h2= yield :current_page
        %nav
          
      = render 'administration/navigation'
      #main
        = yield
      #wrap_footer
    = render 'shared/footer'