!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }

    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=true' }
    
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min'
    = include_javascript_folder 'jquery'
    = javascript_include_tag 'sammy', 'markermanager_packed.js'
    = javascript_include_tag 'application' 
       
    = stylesheet_link_tag 'application', 'jquery-ui'


    %title CommonPlace

  %body.bp
  
    #top
    
    #wrap
      = render 'shared/header'
      #actions
        #new See what's going on in your community:
        /= link_to "Post to your neighbors", new_post_path, 'data-remote' => true

        = render 'shared/search'
      #main  
        = yield

      #wrap_footer
    = render 'shared/footer'

    - if RAILS_ENV == "production"
      = render 'shared/analytics'