!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    = render 'layouts/common_head'

  %body{ :class => "application #{params[:controller].gsub(/\//,"_")} #{params[:action]} #{ logged_in? ? "logged_in" : "logged_out" }"}
    #fb-root

    = render 'layouts/header', :user_session => current_user_session
    
    = yield
    
    = render "layouts/footer"
    
    = render "layouts/production_bottom_scripts"