!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }

    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    = include_javascript_folder 'jquery'
    = javascript_include_tag 'sammy', 'markermanager_packed.js'
    = javascript_include_tag 'application'
    
    = stylesheet_link_tag 'application'

    %title Commonplace

  %body.bp

    #wrap
      = render 'shared/header'

      #main  
        = yield

      #wrap_footer
    = render 'shared/footer'

    - if RAILS_ENV == "production"
      %script{:type=>"text/javascript"}
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{:type=>"text/javascript"}
        try {
        var pageTracker = _gat._getTracker("UA-12888551-2");
        pageTracker._trackPageview();
        } catch(err) {}
        