!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    :javascript
      if (!window.CommonPlace) { window.CommonPlace = {} };
      var _sf_startpt=(new Date()).getTime()
    = render :partial => 'layouts/common_head', :locals => { :javascripts => ["jquery", "jcrop"], :stylesheets => ["application"] }

  %body{ :class => "application #{params[:controller].gsub(/\//,"_")} #{params[:action]} #{ logged_in? ? "logged_in" : "logged_out" }"}

    #sticky-wrapper

      #fb-root

      = render 'layouts/header'

      = yield

      #sticky-footer

    = render "layouts/footer"

    = render "layouts/bottom_scripts"
