= render :layout => 'layouts/application' do
  #main
    #whats-happening
    #say-something
    #community-profiles
      = render 'accounts/info_box'
    = yield :modal
:javascript
  CommonPlace.community = new CommonPlace.Community({ id: #{current_community.id},
  name: "#{current_community.name}"});
  CommonPlace.community.users.refresh(#{api["/communities/#{current_community.id}/users"].get.html_safe});

  CommonPlace.community.events.refresh(#{api["/communities/#{current_community.id}/events"].get.html_safe});

  CommonPlace.community.announcements.refresh(#{api["/communities/#{current_community.id}/announcements"].get.html_safe});

  CommonPlace.community.posts.refresh(#{api["/communities/#{current_community.id}/posts"].get.html_safe});

  CommonPlace.community.group_posts.refresh(#{api["/communities/#{current_community.id}/group_posts"].get.html_safe});

  CommonPlace.community.feeds.refresh(#{api["/communities/#{current_community.id}/feeds"].get.html_safe});

  CommonPlace.community.groups.refresh(#{api["/communities/#{current_community.id}/groups"].get.html_safe});

  CommonPlace.account = new CommonPlace.Account(#{Serializer::serialize(Account.new(current_user)).to_json.html_safe});
    
  CommonPlace.env = '#{Rails.env}';
  var oldhash = window.location.hash.slice(1);
  window.location.hash = "/";

  CommonPlace.app = new CommonPlace.MainPageController({community: CommonPlace.community, account: CommonPlace.account});
  CommonPlace.app.runNotifier();
  Backbone.history.start();

  window.location.hash = "/#{params[:backbone_route]}"
  Backbone.history.loadUrl();
  if (oldhash != "" && oldhash != "/") { window.location.hash = oldhash; }

- unless current_user.seen_tour?
  - current_user.toggle!(:seen_tour)
  :javascript
    (new CommonPlace.Tour({el: $("#main")})).render();
