= render :layout => 'layouts/application' do
  #main
    #whats-happening
    #say-something
    #community-profiles
      = render 'accounts/info_box'
    = yield :modal
:javascript

  CommonPlace.community = new CommonPlace.Community({ id: #{current_community.id},
  name: "#{current_community.name}"});

  CommonPlace.community.users.refresh(#{Serializer::serialize(User.where(:community_id => current_community.id).to_a).to_json.html_safe});

  CommonPlace.community.posts.refresh(#{Serializer::serialize(Post.where(:community_id => current_community.id).limit(40).order("created_at DESC").includes(:user, :replies => :user).to_a).to_json.html_safe});

  CommonPlace.community.events.refresh(#{Serializer::serialize(Event.where(:community_id => current_community.id).upcoming.includes(:owner, :replies => :user).to_a).to_json.html_safe});

  CommonPlace.community.announcements.refresh(#{Serializer::serialize(Announcement.where(:community_id => current_community.id).includes(:owner, :replies => :user).to_a).to_json.html_safe});

  CommonPlace.community.group_posts.refresh(#{Serializer::serialize(GroupPost.includes(:group, :user, :replies => :user).where(:groups  => {:community_id => current_community.id}).to_a).to_json.html_safe});

  CommonPlace.community.feeds.refresh(#{Serializer::serialize(Feed.where(:community_id => current_community.id).to_a).to_json.html_safe});

  CommonPlace.community.groups.refresh(#{Serializer::serialize(Group.where(:community_id => current_community.id).to_a).to_json.html_safe});
  
  CommonPlace.account = new CommonPlace.Account(#{Serializer::serialize(Account.new(current_user)).to_json.html_safe});

  CommonPlace.env = '#{Rails.env}';
  var oldhash = window.location.hash.slice(1);
  window.location.hash = "/";

  CommonPlace.app = new CommonPlace.MainPageController({community: CommonPlace.community, account: CommonPlace.account});
  CommonPlace.app.runNotifier();
  Backbone.history.start();

  window.location.hash = "/#{params[:backbone_route]}"
  Backbone.history.loadUrl();
  if (oldhash != "" && oldhash != "/") { window.location.hash = oldhash; }

- unless current_user.seen_tour?
  - current_user.toggle!(:seen_tour)
  :javascript
    (new CommonPlace.Tour({el: $("#main")})).render();
