- unless content_for? :tooltip
  - render 'shared/tooltip'

!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    %title= "CommonPlace - #{current_community.name}"
    
    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    
    = javascript_include_tag 'jquery-1.4.3', 'jquery-ui'
    = include_javascript_folder 'jquery'

    = javascript_include_tag 'sammy', 'core', 'application', 'routes'

    = stylesheet_link_tag 'application'
  
  %body.application
    #body_color
      #wrap
        = render 'shared/header'
        #main
          #syndicate
            = yield :syndicate_navigation
            = yield :syndicate_items

          #main-navigation
            = yield :tooltip
            = render 'shared/zones'
          = render 'users/info_box', :user => current_user
    = render 'shared/footer'

    - if content_for? :modal
      = yield :modal
    - else
      #modal
    
      
