- render :layout => 'layouts/application' do
  #main
    #whats-happening
      %h2
        = updated_content["#tooltip"]
      = render 'shared/zones'
      = updated_content["#syndicate"]
    #say-something
      %h2= t "communities.say_something.title"
      = render 'posts/form', :post => Post.new
    #community-profiles
      = updated_content["#information"] || render('shared/information', :items => [])
