= render 'layouts/top_html', :title => "CommonPlace: ", :stylesheets => 'application'

%body
  :javascript
    selectTab("community_nav");
  #wrap
    #top
    = render 'shared/header'
    #main
      = render 'shared/filters'
      #both_columns
        #left_col>
          = yield
          .bottomshiv
        #right_col>
          = yield :infoarea

  = render 'layouts/bottom_html'
