
!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }

    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min'
    = include_javascript_folder 'jquery'

    = javascript_include_tag 'sammy', 'markermanager_packed.js', 'core'
    = javascript_include_tag 'application' 
    = include_javascript_folder 'controllers'
    = stylesheet_link_tag 'application'
  
  %body.application
    #wrap
      = render 'shared/header'
      #main
        #syndicate
          %nav
            = yield :syndicate_navigation
          %ul.items
            - @items.each do |item|
              %li.item
                - if @render_args
                  = render *@render_args.call(item)
                - else
                  = render item
                - if item.respond_to?(:replies)
                  = render 'shared/replies', :item => item

        = render 'shared/tooltip'

        = render 'shared/zones'
      
        #information


    #modal
