- render :layout => 'layouts/application' do
  #main
    #whats-happening
      %h2
        = updated_content["#tooltip"]
      = render 'shared/zones'
      = updated_content["#syndicate"]
    = updated_content_or("#say-something") do
      #say-something
        %h2= t "posts.new.title"
        %nav
          = link_to t("posts.new.link"), new_post_path, :class => "current", 'data-remote' => true
          = link_to t("events.new.link"), new_event_path, 'data-remote' => true
          = link_to t("announcements.new.link"), new_announcement_path, 'data-remote' => true
          = link_to t("invites.new.link"), new_invites_path, 'data-remote' => true
        = render 'posts/form', :post => Post.new
    #community-profiles
      = updated_content["#information"] || render('shared/information', :items => [])
