
!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    %title= "CommonPlace - #{current_community.name}"
    
    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    
    = javascript_include_tag 'jquery-1.4.3', 'jquery-ui-1.8.2.custom.min'
    = include_javascript_folder 'jquery'

    = javascript_include_tag 'sammy', 'core'
    = javascript_include_tag 'application' 
    = include_javascript_folder 'controllers'
    = stylesheet_link_tag 'application'
  
  %body.application
    #wrap
      = render 'shared/header'
      #main
        #syndicate
          %nav
            = yield :syndicate_navigation
          %ul.items
            - @items.each do |item|
              %li.item{ :class => "#{cycle('odd', 'even')} #{item.class.to_s.downcase}" }
                - if @render_args
                  = render *@render_args.call(item)
                - else
                  = render item
                - if item.respond_to?(:replies)
                  = render 'shared/replies', :item => item, :hide => true

        - if current_user_session
          #main-navigation
            = render 'shared/tooltip'
            = render 'shared/zones'
          = render 'shared/information', :items => @items
        - else
          #main-navigation
            #tooltip
            #zones
              - form_for UserSession.new, :url => user_session_path do |f|
                = f.text_field :email, :size => 20
                = f.text_field :password, :size => 20
          #information
            %h3 SIGN UP
            #information_content
              = render 'accounts/form', :user => User.new
              
    #modal
    
      
