- render :layout => 'layouts/application' do
  #main
    #whats-happening
      %h2
        = updated_content["#tooltip"]
      = render 'shared/zones'
      = updated_content_or("#syndicate") do
        #syndicate
          %h3= link_to t("syndicate.posts.title"), :posts, 'data-remote' => true
          = render 'shared/items', :items => posts

          %h3= link_to t("syndicate.events.title"), :events, 'data-remote' => true
          = render 'shared/items', :items => events

          %h3= link_to t("syndicate.announcements.title"), :announcements, 'data-remote' => true
          = render 'shared/items', :items => announcements

    = updated_content_or("#say-something") do
      #say-something
        %h2= t "posts.new.title"
        = render 'shared/say_something_nav', :current => :post
        = render 'posts/form', :post => Post.new
    #community-profiles
      = updated_content_or "#information" do 
        = render 'accounts/info_box'
