!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    %link{ :href=> '//webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css', :rel =>"stylesheet", :type =>"text/css"}
    %link{ :href=> '//fonts.googleapis.com/css?family=Rokkitt:400,700', :rel =>"stylesheet", :type =>"text/css"}
    %title CommonPlace #{current_community.name} Feeds

    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    = stylesheet_link_tag "feed_registration"

  %body

    #wrapper
      = render "layouts/header"

      #main
        = yield
        %div{ :style => "clear: both;" }

      #wrapper-footer

    = render "layouts/footer"

    = javascript_include_tag "feed_registration"
