!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }

    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min'
    = include_javascript_folder 'jquery'
    = javascript_include_tag 'sammy', 'markermanager_packed.js', 'core'

    = javascript_include_tag 'management' 
       
    = stylesheet_link_tag 'management'

  %body
    #wrap
      = render 'shared/header'
      %nav#profile_navigation
        %p Click on the organization, event, or personal profile you want to manage
        %ul
          %li.level_1
            = image_tag current_user.avatar.url, :width => 15, :height => 15
            = link_to 'My Profile', [:management]
          - current_user.managable_organizations.each do |org|
            %li.level_1
              = image_tag org.avatar.url, :width => 15, :height => 15
              = link_to org.name, [:management,org]
              %ul
                - org.events.each do |event|
                  %li.level_2
                    = link_to event.name, [:management,event]
                %li.level_2.new
                  = link_to "Add #{org.name} event", [:management,org,:events]
          %li.level_1.new
            = link_to 'New Organization', [:new,:management,:organization]

      = yield :navigation
        
      #main
        = yield
      #wrap_footer
    = render 'shared/footer'