!!! 5
%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    %title CommonPlace - Edit your accounts 

    / [if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps/api/js?sensor=false' }
    
    = javascript_include_tag 'jquery-1.4.3', 'jquery-ui'
    = include_javascript_folder 'jquery'
    = javascript_include_tag 'sammy', 'innershiv', 'core', 'application', 'routes'
       
    = stylesheet_link_tag 'management'

  %body
    #wrap
      = render 'shared/header'
      = yield :title
      = render 'management/side_nav'
      #feed_main>
        = yield :navigation
        #main
          = yield
    - if params["welcome"]
      - render :layout => 'shared/modal' do
        #welcome
          Dear #{current_user.first_name}
          %p.subhead Congratulations!  Your #{@feed.category.downcase} is now registered with CommonPlace.  Here is your management zone, where you can edit #{@feed.name}'s profile, as well as post announcements and events.  Plus, you can click your name on the left to edit your personal CommonPlace profile.  You can click "Home" to get back to the main page and click "Manage Profiles" if you ever want to get back to this management zone.  
          %p.subhead In a few weeks, the whole town will be on the platform.  Feel free to email Max Novendstern (Max@CommonPlaceUSA.com) anytime with any questions or concerns.
          Thanks,
          %br
          The West Roxbury CommonPlace Team
            
        = button_to "Continue to Management Zone", management_feed_path(@feed), :method => :get, 'data-remote' => false
    - else
      #modal
