<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="index,follow" name="robots" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
    
    <%= stylesheet_link_tag 'mobile' %>
    <%= javascript_include_tag 'mobile' %>
    
    <title>CommonPlace <%= current_community.name %></title>
  </head>
  
  <body>
    <center><a href="/<%= current_community.slug %>" class="logo-link">
        <%= image_tag "logo2.png" %> 
        <%= current_community.name %>
    </a></center>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <a href="http://www.cornerpieceweb.com" target="_blank">
        <span style="color:white">Powered by Corner Piece Web</span>
      </a>
      <br/>
      <br/>
      
      <span style="color:white">Find out more at:
        <span style="color:white">
          <br />
          <a href="https://www.ourcommonplace.com/about" target="blank">
            <span style="color:white">CommonPlaceUSA.com</span></a>
          <br /><br />
        </span>
      </span>
    </div>
    
  </body>
  
</html>
