<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  </head>
  <body bgcolor="#eeeeee" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table id="Table_01" width="600" height="405" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFFFFF">
      <tr>
        <td colspan="7" valign="top">
          <% link_to url, :target => "_blank" do %>
          <%= image_tag root_url(:subdomain => @community.slug) + "/images/#{@community.slug}_notification_header.png", :width => 600, :height => 56, :border => 0, :align => "top" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td width="16" rowspan="16" bgcolor="#ffffff"> </td>
        <td colspan="5" height="10" style="border-top:2px solid #eeeeee;"> </td>
        <td width="16" rowspan="16" bgcolor="#ffffff"> </td>
      </tr>

      <tr>
        <td colspan="5" valign="top"  style="color:#656565;height:40px;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:normal;line-height:20px;padding-bottom:25px;"> 

          <%= yield :greeting %>

        </td>
      </tr>
      <tr>
        <td height="12" colspan="5" bgcolor="#f5f5f5">
          <%= image_tag root_url(:subdomain => @community.slug) + '/images/notification_border.png', :width => 568, :height => 12 %>
        </td>
      </tr>
      <tr>
        <td width="12" rowspan="2" bgcolor="#f5f5f5"> </td>
        <td width="0" height="0" bgcolor="#f5f5f5"></td>
        <td width="12" rowspan="2" bgcolor="#f5f5f5"> </td>
        <td width="482" rowspan="2" valign="top" bgcolor="#f5f5f5" style="font-family:Georgia, 'Times New Roman', Times, serif;">
          <span style="font-size:18px; color: #3B6085;">
            
            <%= yield :subject %>
          
          </span>
          <div style="font-size:14px; margin-top:5px; line-height:18px; color: #363636;">
            
            <%= yield :body %>
            
          </div>
        </td>
        <td width="12" rowspan="3" valign="top" bgcolor="#f5f5f5"> </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#f5f5f5">
          
          <%= yield :avatar %> 

        </td>
      </tr>
      <tr>
        <td colspan="3" valign="top" bgcolor="#f5f5f5"> </td>
        <td width="482" valign="top" bgcolor="#f5f5f5" align="left">


            <%= yield :reply_with %>
            

        </td>
      </tr>

      <tr>
        <td height="12" colspan="5" bgcolor="#f5f5f5">
          <%= image_tag root_url(:subdomain => @community.slug) + "/images/notification_border.png", :width => 586, :height => 12 %>
        </td>
      </tr>
      <tr>
        <td height="40" colspan="5"> </td>
      </tr>
      <tr>
        <td colspan="5" align="right" style="">
        </td>
      </tr>
      <tr>
        <td colspan="5" align="center" style="font-family:Arial, Helvetica, sans-serif;color:#bbbbbb;font-size:11px;">
          Want to disable this and/or other e-mails? Click 
          <% link_to edit_account_url(:subdomain => @community.slug) do %>
            <font color="#b53f3c">here</font>
          <% end %>
          to manage your subscriptions.
        </td>
      </tr>
      <tr>
        <td height="12" colspan="5"> </td>
      </tr>
      <tr>
        <td colspan="5" align="center" style="font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#3b6085;">
          <a href="http://www.ourcommonplace.com">
            <font color="#3b6085">
              <strong>www.OurCommonPlace.com</strong>
          </font>
          </a>
          <br/>
          &copy; 2010 CommonPlace.
        </td>
      </tr>
      <tr>
        <td height="12" colspan="5"> </td>
      </tr>
    </table>
  </body>
</html>
