= link_to "settings"
%nav
  = link_to "Manage Events", organizer_events_path(@organization.id)
  |
  = link_to "Manage Announcements"
  |
  = link_to "Edit Profile", organizer_profile_path(@organization.id)
  |
  = link_to "Outreach/Subscribers"





= yield