= render 'layouts/top_html', :title => 'CommonPlace: Your Organizations', :stylesheets => ['application', 'organizer', 'profile']


%body
  :javascript
    selectTab("organizations");

  #wrap
    #top
    = render 'shared/header'
    #main
      = render 'organizer/navigation'
      = yield
      
  = render 'layouts/bottom_html'