= render 'layouts/top_html', :title => 'CommonPlace: Your Organizations', :stylesheets => 'organizer'

%body
  #wrap
    #top
    = render 'shared/header'
    #main
      = render 'organizer/navigation'
      #organizer_main= yield
      
  = render 'layouts/bottom_html'