!!! XML
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'jquery.infieldlabel.js'
    = javascript_include_tag 'autoresize.jquery.min.js'
    %script{ :type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=true"}
    = javascript_include_tag 'markermanager_packed.js'
    = javascript_include_tag 'jquery.jellopudding.js'
    = javascript_include_tag 'jquery.goodlabel.js'
    = javascript_include_tag 'profile.js'
    = javascript_include_tag 'global.js'
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'formtastic', 'formtastic_changes'
    //= stylesheet_link_tag 'global'
    = stylesheet_link_tag 'public'
    // 'application'
    = stylesheet_link_tag 'community'
    = stylesheet_link_tag 'profile'
    /[if IE]
      = stylesheet_link_tag 'ie'
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"

    %title
      CommonPlace

  %body
    
    #wrap
      #top
    
      %header#main_head
        %h1
          - link_to root_path do
            = image_tag 'transparent.png', :id => 'logo', :alt => "CommonPlace", :size => "349x49"
        = render 'shared/header_nav'
    
      #main
        = yield
    
    #bottom
    
    %footer
      = render :partial => "shared/footer"
    
    - if RAILS_ENV == "production"
      %script{:type=>"text/javascript"}
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{:type=>"text/javascript"}
        try {
        var pageTracker = _gat._getTracker("UA-12888551-2");
        pageTracker._trackPageview();
        } catch(err) {}
          