!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    %link{ :href=> 'https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css', :rel =>"stylesheet", :type =>"text/css"}
    %link{ :href=> 'https://fonts.googleapis.com/css?family=Rokkitt:400,700', :rel =>"stylesheet", :type =>"text/css"}

    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "google-site-verification", :content => "HntCS6GTLIAye5nM6FCNHgtcSUlb0-aF2jVbGtd8oyI" }
    %meta{ :name => "description", :content => "The #{params[:community] && current_community.name} CommonPlace is an online community bulletin board for neighbors in #{params[:community] && current_community.name}, designed to make it easy for neighbors and community groups to share and connect." }

    %title= "CommonPlace #{ params[:community] && current_community.name}"

    %link{ :href => image_path('favicon.png'), :rel => "icon", :type => "image/png" }

    = javascript_include_tag "https://exceptional-js.heroku.com/exceptional.js"
    %script{:type => 'text/javascript'}
      Exceptional.setHost('exceptional-api.heroku.com');
      Exceptional.setKey('0556a141945715c3deb50a0288ec3bea5417f6bf');

    %script{:type => "text/javascript"}
      var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('811a15fe46de2d4df84c6ee51112e7ab'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; }
    = include_stylesheets :login_page

    :javascript
      CommonPlace = {};
  %body

  #wrapper
    = render 'layouts/registration_header'

    = yield    

    #wrapper-footer

  = include_javascripts :login_page

  = render "layouts/footer"




