
#syndicate
  %nav
    = yield :syndicate_navigation
  %ul.items
    - @items.each do |item|
      %li.item{ :class => "#{cycle('odd', 'even')} #{item.class.to_s.downcase}" }
        - if @render_args
          = render *@render_args.call(item)
        - else
          = render item
        - if item.respond_to?(:replies)
          = render 'shared/replies', :item => item, :hide => true

= render 'shared/tooltip'
  
= render 'shared/zones'

= render 'shared/information', :items => @items.first.respond_to?(:owner) ? @items.map(&:owner) : @items

#modal