- form_for user, :url => account_path, :html => {:class => "new_entity inline-labels"} do |f|
  .field.full_name.long
    = f.label :full_name, "Your Full Name"
    = f.text_field :full_name, :placeholder => "John Smith"
    = f.error_message_on :full_name
  .field.email.long
    = f.label :email, "Your Email"
    = f.text_field :email, :placeholder => "js@example.com"
    = f.error_message_on :email
  .field.password.long
    = f.label :password, "Your Password"
    = f.password_field :password, :placeholder => 'At least six characters', :autocomplete => "off"
    = f.error_message_on :password
    
  - f.fields_for user.location do |l|
    .field.street_address.long
      = l.label :street_address, "Your Street Address"
      = l.text_field :street_address, :placeholder => '124 Example Rd.'
      = l.error_message_on :street_address
  
  .field.short.check_box
    %label
      = f.check_box :terms
      I agree to the #{ link_to 'Terms of Service', terms_path, 'data-remote' => true }.
    = f.error_message_on :terms


  .field.submit
    #submit_wrapper
      = f.submit "Sign up!".upcase