
#information.info_box.user.inline-form{'data-form-url'=>"/account", 'data-form-method'=>"put"}
  .edit
    = link_to "Edit Profile", "/account/profile"
  %h2 Your Civic Profile

  = image_tag current_user.avatar_url(:normal), :width => 120, :class => "avatar"

  %h3{'data-field' => "user[full_name]"}= current_user.full_name
  .info{'data-field' => "user[about]"}= markdown current_user.about
  %table
    %tr
      %th INTERESTS
      %td{'data-field' => "user[interest_list]"}= current_user.interest_list
    %tr
      %th GOODS & SKILLS
      %td{'data-field' => "user[offer_list]"}= current_user.offer_list
    %tr
      %th SUBSCRIPTIONS
      %td= truncate current_user.feed_list, :length => 100
    %tr
      %th GROUPS
      %td= truncate current_user.group_list, :length => 100

  .clear
