#more_info.info_box

  #info_box_main

    - form_for current_user, :url => account_path, :html => {:multipart => true} do |f|
      #info_box_main_left
        = image_tag current_user.avatar_url(:normal), :class => 'graphic'
        %br
        = f.file_field :avatar

      .body
        %h3= current_user.full_name
      
        = f.label :about, "About you"
        = f.text_area :about, :cols => 30, :rows => 3
      
        %ol.user_info
          %li
            = f.label :interest_list, "Interests"
            = f.text_field :interest_list
          %li
            = f.label :skill_list, "Skills"
            = f.text_field :skill_list
          %li
            = f.label :good_list, "Goods"
            = f.text_field :good_list
        = f.submit 'Submit'
  
    %h3= current_user.neighborhood.name
    %p= current_user.neighborhood.about

    = render_map do |map|
      - map.center current_user
      - map.marker current_user
      - map.polygon do |poly|
        - poly.vertex :lat => @neighborhood.north_bound, :lng => @neighborhood.east_bound
        - poly.vertex :lat => @neighborhood.south_bound, :lng => @neighborhood.east_bound
        - poly.vertex :lat => @neighborhood.south_bound, :lng => @neighborhood.west_bound
        - poly.vertex :lat => @neighborhood.north_bound, :lng => @neighborhood.west_bound