- if Rails.env.production?
  %script
    mpmetrics.register({'referral_source': "#{current_user.referral_source ? current_user.referral_source.gsub('\'','') : ''}"});
    = "mpmetrics.track('Add feeds', {'community': '#{current_community.slug}'});"

#wrapper
  %h1= t(".h1").html_safe
  #registration_information
    %ul
      %li= t ".p1"
      %li= t ".p2"
  #main
    %h2
      Subscribe to some community feeds:
    - form_tag "/account/subscribe_to_feeds", :id => "add_groups" do
      #feeds_container
        - @feeds.each do |feed|
          .feed
            =image_tag(feed.avatar_url(:thumb))
            .unchecked
            %h3= feed.name
            %input{:class =>"feedId", :name => "feed_ids[]", :value => feed.id.to_s, :type =>"checkbox"}
      %input{:type => "image", :src => "/images/buttons/continue2.png"}

    %br{:class=>"cleared"}

#fb-root
