
#main
  %h1
    Crop your avatar
  = form_for current_user, :url => crop_avatar_account_path, :method => :put, :html => { :class => "crop" } do |f|
    = image_tag current_user.avatar_url(:original), :id => "cropbox"


    - [:crop_x, :crop_y, :crop_w, :crop_h].each do |attribute|
      = f.hidden_field attribute, :id => attribute

    = f.submit :type => "image", :src => asset_path("buttons/continue2.png")

= mixpanel_track("Cropping Avatar")

:javascript
  // Avatar crop
  
  var updateCrop = function(coords) {
    var $img = $("img#cropbox");
    var scale = $img[0].width / $img.width();
    if (scale) {
      $("#crop_x").val(coords.x * scale);
      $("#crop_y").val(coords.y * scale);
      $("#crop_w").val(coords.w * scale);
      $("#crop_h").val(coords.h * scale);
    }
  };

  $("form.crop img").load(function() {
    var $img = $("form.crop img");
    var scale = Math.max(
      380 / $img.width(),
      320 / $img.height()
    );
    $("form.crop").css({
      width: Math.floor($img.width() * scale),
      height: Math.floor( ($img.height() * scale) + 50)
    });
    $img.css({
      width:  Math.floor($img.width()  * scale),
      height: Math.floor($img.height() * scale)
    });
    $img.Jcrop({
      onChange: updateCrop,
      onSelect: updateCrop,
      aspectRatio: 1.0
    });
  });
