
%h1= t '.title'

#register
  - semantic_form_for current_user, :url => update_new_account_path, :html => {:multipart => true}, :method => :put do |f|
    = render 'shared/information', :items => []
    - f.inputs do 
      = f.input :password
      //= f.input :avatar, :input_html => {:size => 20}
      = f.input :about
      = f.input :good_list, :input_html => {:placeholder => t('formtastic.placeholders.user.good_list')}
      = f.input :interest_list, :label => "What are your interests:"

    - f.buttons do
      = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/continue.png"}
