
- semantic_form_for current_user, :url => settings_account_path do |f|
  %h1= t ".title"
  - f.inputs do
    = f.input :email
    = f.input :password
    = f.input :receive_posts, :as => :boolean
    = f.input :receive_events_and_announcements, :as => :boolean
    = f.input :receive_weekly_digest, :as => :boolean
  - f.buttons do
    %li.delete
      = link_to "Delete my CommonPlace account", delete_account_path
    = f.commit_button "Update Settings"
  