
= render 'shared/information', :items => @items

- render :layout => 'shared/modal' do
  %hr.staple
  %h1 Create your CommonPlace profile
  %p.hint Before you begin using CommonPlace fill out some information below

  - semantic_form_for @user, :url => account_path, :html => {:class => "new_entity"} do |f|
      
    - f.inputs do 
      = f.input :about, :label => "About Me"
      = f.input :interest_list
      = f.input :good_list
      = f.input :skill_list

    - f.buttons do
      #submit_wrapper= f.commit_button "Continue"


#syndicate
  %nav
    = yield :syndicate_navigation
  %ul.items
    - @items.each do |item|
      %li.item{ :class => "#{cycle('odd', 'even')} #{item.class.to_s.downcase}" }
        - if @render_args
          = render *@render_args.call(item)
        - else
          = render item
        - if item.respond_to?(:replies)
          = render 'shared/replies', :item => item, :hide => true
