- render :layout => 'shared/modal' do

  - form_for @avatar, :html => { :id => "crop_avatar_form", :class => "new_entity" }, :url => update_avatar_account_path do |f|
    %hr.staple
    
    %h1 Add your profile picture
    
    %p.subhead Upload and crop a profile picture.
    
    = image_tag @avatar.image.url(:original), :id => 'avatar_to_crop'
  
    = f.hidden_field :x 
    = f.hidden_field :y
    = f.hidden_field :w
    = f.hidden_field :h
  
    %fieldset
      %ol
        #submit_wrapper
          %li= f.submit "Crop"

= render 'shared/items', :items => @items

- content_for :syndicate_navigation do
  %nav
    - link_to new_post_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Write a new post to your neighbors.' do 
      %span
        = image_tag 'pin-icon.png'
        %span POST TO YOUR NEIGHBORS
