
- content_for :information do
  = render 'shared/information', :items => current_user.wire

- content_for :zones do
  = render 'shared/zones'

- content_for :syndicate_navigation do
  %nav
    - if current_user_session
      - link_to new_post_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Write a new post to your neighbors.' do 
        %span
          = image_tag 'pin-icon.png'
          %span POST TO YOUR NEIGHBORS

    - else
      %p Preview of #{current_community.name}'s Announcement and Event Feed


- render :layout => 'shared/modal' do
  %hr.staple
  %h1 Welcome to the West Roxbury CommonPlace!
  %p.subhead Fill out your personal CommonPlace profile below.

  - semantic_form_for @user, :url => update_new_account_path, :html => {:class => "new_entity after_registration"} do |f|
      
    - f.inputs do
      %li
        %label
          %span.strong About Me
          Tell your neighbors a little about yourself.
        = f.text_area :about, :rows => 3
      %li
        %label
          %span.strong Interest list
          This will help CommonPlace highlight community information that you care about. Ex. Cooking, Sports, Family
        = f.text_field :interest_list
        
      %li
        %label
          %span.strong Skills list
          List some skills that you want to share with your neighbors. Ex. Teach Piano, Computer Help, etc.
        = f.text_field :skill_list
      
      %li
        %label
          %span.strong Good list
          List some goods that you want to share with your neighbors. Ex. Lawnmower, Ladder, etc.
        = f.text_field :good_list

    - f.buttons do
      #submit_wrapper= f.commit_button "Continue"

= render 'shared/items', :items => current_user.wire

- content_for :header do
  = render 'shared/header'
  
