#register
  #tool_tip
    %h2
      Thanks for signing up!
    %p= t ".p1" , :Community => current_community.name 
    / 
      Email in is not yet implemented
      %p= t ".p2" , :community_email => mail_to("myneighbors@ourcommonplace.com", "myneighbors@ourcommonplace.com")
    %p= t ".p3"
    
  = semantic_form_for current_user, :url => update_new_account_path, :html => {:multipart => true}, :method => :put do |f|

    = f.inputs do 
      - unless current_user.is_facebook_user
        = f.input :password

      = if current_user.address.blank?
        = f.input :address
      - unless current_user.is_facebook_user
        = f.input :avatar, :input_html => {:size => 25}
      - else
        #facebook_avatar
          = "We got your picture from Facebook:"
          %img{:src => current_user.avatar_url, :width => "100px", :height => "100px", :style => "vertical-align:middle;"}
      = f.input :about
      = f.input :interest_list
      = f.input :referral_source

    = f.buttons do
      = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/continue.png"}

