- if Rails.env.production?
  %script
    = "mpmetrics.track('Password entry', {'community': '#{current_community.slug}'});"

%script
  $(function(){$('input[placeholder], textarea[placeholder]').placeholder();});
  
#wrapper
  %h1= t(".h1", :community => current_community.name).html_safe
  #registration_information
    %ul
      %li= "Thanks for signing up, #{current_user.first_name}!"
      %li= t ".p2", :community => current_community.name 
      %li= t ".p3"
      %li= t ".p4"
      - if current_user.is_facebook_user
        #facebook_avatar
          %img{:src => current_user.avatar_url, :style => "vertical-align:middle;"}
     
  #main 
    = semantic_form_for current_user, :url => update_new_account_path, :html => {:multipart => true}, :method => :put do |f|
      = f.inputs do 
        - unless current_user.is_facebook_user or current_user.password.present?
          = f.input :password, :required => true, :hint => t(".password_hint")

        = if current_user.address.blank?
          = f.input :address
        - unless current_user.is_facebook_user
          = f.input :avatar, :input_html => {:size => 25}
        = f.input :about
        = f.input :interest_list
        = f.input :offer_list
        = f.input :referral_source, :as => :select, :collection => @referral_sources, :hint => "*Required field."
        
      = f.buttons do
        = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/continue2.png"}

