
- content_for :information do
  = render 'shared/information', :items => current_user.wire

- content_for :zones do
  = render 'shared/zones'

- content_for :syndicate_navigation do
  %nav
    - if current_user_session
      - link_to new_post_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Write a new post to your neighbors.' do 
        %span
          = image_tag 'pin-icon.png'
          %span POST TO YOUR NEIGHBORS

    - else
      %p Preview of #{current_community.name}'s Announcement and Event Feed


- as_modal(:class => "edit_new", :close => false) do
  .edit_account
    %h1 Create Your Civic Profile
    %p.subhead This is what your profile will look like to community members.

    - semantic_form_for @user, :url => update_new_account_path, :html => {:class => "new_entity after_registration", :multipart => true} do |f|

      - f.inputs do
        = f.input :about, :label => "About me".upcase, :hint => "Tell your neighbors a little about yourself.", :input_html => { :rows => 3, 'data-update' => '.user_about'}
        = f.input :interest_list, :label => "Interests".upcase, :hint => "This will help CommonPlace highlight community information that you care about. Ex. Cooking, Sports, Family, etc.", :input_html => { 'data-update' => '.user_interests'}
        = f.input :skill_list, :label => "Shared skills".upcase, :hint => "List some skills that you want to share with your neighbors. Ex. Teach Piano, Computer Help, etc.", :input_html => { 'data-update' => '.user_skills'}
        = f.input :good_list, :label => "Shared goods".upcase, :hint => "List some goods that you want to share with your neighbors. Ex. Lawnmower, Ladder, etc.", :input_html => {'data-update' => '.user_goods'}
      - f.inputs :for => @user.avatar do |a|
        = a.input :image, :label => "Upload a photo".upcase, :input_html => {:size => 0}
      - f.buttons do
        #submit_wrapper= f.commit_button "Continue"
  = render 'shared/information', :items => current_user.wire
= render 'shared/items', :items => current_user.wire

- content_for :header do
  = render 'shared/header'
  
