%script
  = "var slug = '#{current_community.slug}';"
  = "var message = '#{t(".invitation", :community => current_community.name)}';"

  $(document).ready(function(){
  $("#invite_email_input").removeClass("optional")
  $("#invite_body_input").removeClass("optional")
  $("#invite_email_input").addClass("required")
  $("#invite_body_input").removeClass("required")
  });

:javascript
    $(document).ready(function(){
      $("#new_invite").validate({
        errorLabelContainer: $("#invite_errors"),
        messages: {
          email: "Email address is required"
        },
        errorClass: "invalid",
        wrapper: "li"
      });
      fbEnsureInit(function(){
        $("#step_one").append('<img onclick="fbEnsureInit(function(){invite_friends(message,slug);});" onmouseout="document.body.style.cursor = \'auto\';" onmouseover="document.body.style.cursor = \'pointer\';" src="/images/fb-btn.png" width="90%">');
      });
    });

:css
  .fb_share_button {
    display: -moz-inline-block;
    display:inline-block;
    padding:1px 20px 0 5px;
    height:15px;
    border:1px solid #d8dfea;
    background:url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?6:26981) no-repeat top right;
  }
  .fb_share_button:hover {
    color:#fff;
    border-color:#295582;
    background:#3b5998 url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?6:26981) no-repeat top right;
    text-decoration:none;
  }


%h1
  = t(".heading", :community => current_community.name)
  %br
  = t(".heading2", :community => current_community.name)

#groups_box
  #groups_wrapper
    %h2
      %ul
        %li
          #step_one
            =t(".step_one")
            %br
            %br
            %a{:href => "http://twitter.com/share", :class => "twitter-share-button", "data-text" => "Hi neighbors, I'm part of The #{current_community.name} CommonPlace, where I connect and share with my neighbors in #{current_community.name}:", "data-count" => "horizontal", "data-url" => "http://www.#{current_community.slug}.OurCommonPlace.com/"} Tweet
            %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
            %fb:like{:href => "http://www.#{current_community.slug}.OurCommonPlace.com", :send => "true", :layout => "button_count", :width => "200", :action => "recommend", :show_faces => "true", :colorscheme => "dark"}
            -#%a{:rel => "nofollow", :href => "http://www.facebook.com/share.php?u=http://www.#{current_community.slug}.OurCommonPlace.com", :class => "fb_share_button", :onclick => "return facebook_share()", :target => "_blank", :style => "text-decoration:none;"} Share
          #fb-root
          %br
          %br
          %br
          %br
          %br
        %li
          #step_two
            =t(".step_two")
            #invite_errors
          - semantic_form_for @invitation do |f|
            - f.inputs do
              = f.input :email, :input_html => { :placeholder => "Enter e-mail addresses to invite, separated by commas", :class => "required email" }
              = f.input :body, :input_html => { :placeholder => "Feel free to write a personal message here" }, :html => {:class => "required"}
            - f.buttons do
              = f.submit "Invite", {:onmouseover => "document.body.style.cursor = 'pointer';", :onmouseout => "document.body.style.cursor = 'auto';"}
            %br
            %br
      %li{:style => "height: 200px"}
        #step_three
          =t(".step_three")
          %table
            %tr
              %td
                %a{:href => "/pdfs/#{t('.file_names')[0]}/#{current_community.slug}.pdf"}
                  %img{:src => "/images/doc-icon.png"}
            %tr
              %td{:style => "text-align: center;"}
                =t(".file_descriptions")[0]
      %li{:style => "text-align: right"}
        %a{:href => root_url}
          %img{:src => "/images/buttons/continue.png"}

    %br{:class=>"cleared"}
    %br
    
