%script
  = "var slug = '#{current_community.slug}';"
  function invite_friends()
  {
  FB.login(function(response) {
  FB.ui({
  method: 'apprequests',
  = "message: '#{t(".invitation", :community => current_community.name)}',"
  data: slug,
  display: 'iframe'
  });
  });
  }

%h1= t(".heading", :community => current_community.name)
#groups_box
  #tool_tip
    %p Find your neighbors on Facebook and invite them to join you on CommonPlace!
  #groups_wrapper
    %h2
      %ul
        %li
          #step_one
            =t(".step_one")
          #fb-root
          %img{:src => "/images/fb-btn.png", :width => "90%", :onclick => "invite_friends();", :onmouseover => "document.body.style.cursor = 'pointer';", :onmouseout => "document.body.style.cursor = 'auto';"}
        %li
          #step_two
            =t(".step_two")

          - semantic_form_for @invitation do |f|
            - f.inputs do
              = f.input :email, :input_html => { :placeholder => "Enter e-mail addresses to invite, separated by commas" }
              = f.input :body, :input_html => { :placeholder => "Feel free to write a personal message here" }
            - f.buttons do
              = f.submit "Invite"
            %br
      %li{:style => "height: 200px"}
        #step_three
          =t(".step_three")
          %table
            %tr
              %td
                %a{:href => "/pdfs/#{t('.file_names')[0]}/#{current_community.slug}.pdf"}
                  %img{:src => "/images/doc-icon.png"}
            %tr
              %td{:style => "text-align: center;"}
                =t(".file_descriptions")[0]
      %li{:style => "text-align: right"}
        %a{:href => root_url}
          %img{:src => "/images/buttons/continue.png"}

    %br{:class=>"cleared"}
    %br
    
