%script
  = "var slug = '#{current_community.slug}';"
  = "var message = '#{t(".facebook.invitation", :community => current_community.name, :slug => current_community.slug)}';"

  $(function(){$('input[placeholder], textarea[placeholder]').placeholder();});
  $(document).ready(function(){
  $("#invite_email_input").removeClass("optional")
  $("#invite_body_input").removeClass("optional")
  $("#invite_email_input").addClass("required")
  $("#invite_body_input").removeClass("required")
  });

:javascript
    $(document).ready(function(){
      fbEnsureInit(function(){

        $("#step_one").append('<img onclick="fbEnsureInit(function(){invite_friends(message,slug);});" onmouseout="document.body.style.cursor = \'auto\';" onmouseover="document.body.style.cursor = \'pointer\';" src="/images/invite/findneighbors.png" width="370px" style="margin-left: 3px">');
        $("#step_two").append('<a href="#" onclick="fb_share();"><img onmouseout="document.body.style.cursor = \'auto\';" onmouseover="document.body.style.cursor = \'pointer\';" src="/images/invite/facebookinvite.png" width="370px" style="margin-left: 3px"></a><div id="custom-tweet-button"><a href="http://twitter.com/share?url=http://www.#{current_community.slug}.OurCommonPlace.com/&text=#{t(".twitter_message", :community => current_community.name, :slug => current_community.slug)}&count=horizontal" target="_blank" rel="nofollow"><img onmouseout="document.body.style.cursor = \'auto\';" onmouseover="document.body.style.cursor = \'pointer\';" src="/images/invite/twitterinv.png" width="370px" style="margin-left: 3px"></a></div>');
      });
    });

    function fb_share() {
      FB.ui(
        {
          method: 'feed',
          name: '#{t(".facebook.name", :community => current_community.name)}',
          link: "https://www.OurCommonPlace.com/#{current_community.slug}",
          picture: '',
          caption: '#{t(".facebook.caption", :community => current_community.name)}',
          description: '#{t(".facebook.description", :community => current_community.name)}',
          message: '#{t(".facebook.message", :community => current_community.name, :slug => current_community.slug)}'
        },
        function(response) {
        }
    );

  }

  function add_to_friends_of_commonplace(email) {
    console.log("Starting request");
    $.post('/account/make_focp', 'email=' + email);
  }


:css
  .fb_share_button {
    display: -moz-inline-block;
    display:inline-block;
    padding:1px 20px 0 5px;
    height:15px;
    border:1px solid #d8dfea;
    background:url(/images/invite/findneighbors.png) no-repeat top right;
  }
  .fb_share_button:hover {
    color:#fff;
    border-color:#295582;
    background:#3b5998 url(/images/invite/findneighbors.png) no-repeat top right;
    text-decoration:none;
  }


#planewrapper
  #plane
    %h1
      = t(".heading")
      %br
    %h2
      = t(".heading2")

#groups_box
  #groups_wrapper
    %ul
      %li
        #step_one
          %h3
            =t(".step_one")
          %h4
            =t(".step_one_label")
          
#groups_box
  #groups_wrapper
    %ul
      %li
        #step_two
          %h3
            =t(".step_two")
          %h4
            =t(".step_two_label")
          -#The javascript will add the buttons in here.
          
#groups_box
  #groups_wrapper
    %ul
      %li
        #step_three
          %h3
            =t(".step_three")
          %h4
            =t(".step_three_label")
          #invite_errors
          - semantic_form_for @invitation do |f|
            - f.inputs do
              = f.input :email,:as => 'text', :input_html => { :placeholder => "Email addresses (separated by commas)", :class => "required email" }
              = f.input :body, :input_html => { :placeholder => "Include a message about how you love CommonPlace", :rows =>"4"}, :html => {:class => "required"}
            - f.buttons do
              = f.submit :type => "image", :src => "/images/invite/neighborinvite.png", :width => "370px", :style => "margin-left: 3px; margin-top: 15px;"
          #forms
      
- unless current_community.is_college
  #groups_box
    #groups_wrapper
      %ul
        %li 
          #step_four
            %h3
              =t(".step_four")
            %h4
              =t(".step_four_label")
            %table
              %tr{:style =>"width:370px"}
                %td{:style =>"width:60px"}
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[0]}.pdf"}
                    %img{:src => "/images/invite/PDFLogo.png"}
                %td{:style => "width:310px; text-align: center;vertical-align: middle;"}
                  %h5
                    =t(".file_descriptions")[0]
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[0]}.pdf"}
                    %h6
                      =t(".download_tag")
              %tr{:style =>"width:370px"}
                %td{:style =>"width:60px"}
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[1]}.pdf"}
                    %img{:src => "/images/invite/PDFLogo.png"}
                %td{:style => "width:310px; text-align: center;vertical-align: middle;"}
                  %h5
                    =t(".file_descriptions")[1]
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[1]}.pdf"}
                    %h6
                      =t(".download_tag")
              %tr{:style =>"width:370px"}
                %td{:style =>"width:60px"}
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[2]}.pdf"}
                    %img{:src => "/images/invite/PDFLogo.png"}
                %td{:style => "width:310px; text-align: center;vertical-align: middle;"}
                  %h5
                    =t(".file_descriptions")[2]
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[2]}.pdf"}
                    %h6
                      =t(".download_tag")
            %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_zip')}.zip"}
              %img{:src => "/images/invite/downloadzip.png",:width =>"370px",:style =>"margin-left:3px; margin-top:17px"}

/
  #groups_box
    #groups_wrapper
      %ul
        %li 
          #step_five
            %h3
              =t(".step_five", :community => current_community.name)
            %h4
              =t(".step_five_label", :community => current_community.name)
            %img{:src => "/images/invite/joinfriends.png",:width =>"370px",:style =>"margin-left:3px; margin-top:10px;", :onclick => "add_to_friends_of_commonplace('#{current_user.email}',slug);", :onmouseout => "document.body.style.cursor = \'auto\';", :onmouseover => "document.body.style.cursor = \'pointer\';"}
      %br

