= javascript_include_tag "https://www.plaxo.com/css/m/js/util.js"
= javascript_include_tag "https://www.plaxo.com/css/m/js/basic.js"
= javascript_include_tag "https://www.plaxo.com/css/m/js/abc_launcher.js"
= javascript_include_tag "account"
= javascript_include_tag "invite_page"

%script
  = "var slug = '#{current_community.slug}';"
  = "var message = '#{t(".facebook.invitation", :community => current_community.name, :slug => current_community.slug)}';"

= mixpanel_track("Visited invitation page")

:javascript

  function fb_share() {
  FB.ui(
  {
  method: 'feed',
  name: '#{t(".facebook.name", :community => current_community.name)}',
  link: "https://www.OurCommonPlace.com/#{current_community.slug}",
  picture: 'http://www.ourcommonplace.com/assets/logo-pin.png',
  caption: '#{t(".facebook.caption", :community => current_community.name)}',
  description: '#{t(".facebook.description", :community => current_community.name)}',
  message: '#{t(".facebook.message", :community => current_community.name, :slug => current_community.slug)}'
  },
  function(response) {
  }
  );
  
  }
  fbEnsureInit(function() {
  $("#step_one").append(
  '<img onclick="fbEnsureInit(function(){invite_friends(message,slug);});" onmouseout="document.body.style.cursor = \'auto\';" onmouseover="document.body.style.cursor = \'pointer\';" src="#{asset_path("invite/findneighbors.png")}" width="370px" style="margin-left: 3px">');
    
  $("#step_two").append('<a href="#" onclick="fb_share();"><img onmouseout="document.body.style.cursor = \'auto\';" onmouseover="document.body.style.cursor = \'pointer\';" src="#{asset_path("invite/facebookinvite.png")}" width="370px" style="margin-left: 3px"></a><div id="custom-tweet-button"><a href="http://twitter.com/share?url=http://www.#{current_community.slug}.OurCommonPlace.com/&text=#{t(".twitter_message", :community => current_community.name, :slug => current_community.slug)}&count=horizontal" target="_blank" rel="nofollow"><img onmouseout="document.body.style.cursor = \'auto\';" onmouseover="document.body.style.cursor = \'pointer\';" src="#{asset_path("invite/twitterinv.png")}" width="370px" style="margin-left: 3px"></a></div>');
  });



:css
  .fb_share_button {
    display: -moz-inline-block;
    display:inline-block;
    padding:1px 20px 0 5px;
    height:15px;
    border:1px solid #d8dfea;
    background: url("assets/findneighbors.png") no-repeat top right;
  }
  .fb_share_button:hover {
    color:#fff;
    border-color:#295582;
    background:#3b5998 url("/assets/invite/findneighbors.png") no-repeat top right;
    text-decoration:none;
  }


#planewrapper
  #plane
    %h1
      = t(".heading")
      %br
    %h2
      = t(".heading2")

#groups_box
  #groups_wrapper
    %ul
      %li
        #step_one
          %h3
            =t(".step_one")
          %h4
            =t(".step_one_label")
          
#groups_box
  #groups_wrapper
    %ul
      %li
        #step_two
          %h3
            =t(".step_two")
          %h4
            =t(".step_two_label")
          -#The javascript will add the buttons in here.
          
#groups_box
  #groups_wrapper
    %ul{style: "height: auto;"}
      %li
        #step_three{style: "height:auto;"}
          %h3
            =t(".step_three")
          %h4
            %span{ :class => "vertical-align: middle" }
              =t(".step_three_label")
              %br
              %br
              %center
                %a{ :href => "#", :onclick => "showPlaxoABChooser('invite_email', '/plaxo-importer.html'); return false;" }
                  %img{ :src => asset_path("contacts-from-email-btn.jpg"), :alt => "Add from my address book", :width => 370}
              %br
              %center
                OR
          #invite_errors
          = semantic_form_for @invitation, :url => "/api/communities/#{current_community.id}/invites" do |f|
            = f.inputs do
              = f.input :email,:as => 'text', :input_html => { :placeholder => "Enter email addresses here (separated by commas)", :class => "required email", :width => 370, :style => "height: 66px;" }
              = f.input :body, :input_html => { :placeholder => "Include a message about why you love CommonPlace", :rows =>"4"}, :html => {:class => "required"}
            = f.buttons do
              = f.submit :type => "image", :src => asset_path("invite/neighborinvite.png"), :width => "370px", :style => "margin-left: 3px; margin-top: 15px;"
          #forms
      
- unless current_community.is_college
  #groups_box
    #groups_wrapper
      %ul
        %li 
          #step_four
            %h3
              =t(".step_four")
            %h4
              =t(".step_four_label")
            %table
              %tr{:style =>"width:370px"}
                %td{:style =>"width:60px"}
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[0]}.pdf"}
                    = image_tag "invite/PDFLogo.png"
                %td{:style => "width:310px; text-align: center;vertical-align: middle;"}
                  %h5
                    =t(".file_descriptions")[0]
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[0]}.pdf"}
                    %h6
                      =t(".download_tag")
              %tr{:style =>"width:370px"}
                %td{:style =>"width:60px"}
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[1]}.pdf"}
                    = image_tag "invite/PDFLogo.png"
                %td{:style => "width:310px; text-align: center;vertical-align: middle;"}
                  %h5
                    =t(".file_descriptions")[1]
                  %a{:href => "https://s3.amazonaws.com/commonplace-community-assets/#{current_community.slug}/#{t('.file_names')[1]}.pdf"}
                    %h6
                      =t(".download_tag")


/
  #groups_box
    #groups_wrapper
      %ul
        %li 
          #step_five
            %h3
              =t(".step_five", :community => current_community.name)
            %h4
              =t(".step_five_label", :community => current_community.name)
              
            = image_tag "invite/joinfriends.png", :width =>"370px",:style =>"margin-left:3px; margin-top:10px;", :onclick => "add_to_friends_of_commonplace('#{current_user.email}',slug);", :onmouseout => "document.body.style.cursor = \'auto\';", :onmouseover => "document.body.style.cursor = \'pointer\';"
      %br

-# Facebook

%script
  window.fbAsyncInit = function() {
  FB.init({
  appId : "#{($FacebookConfig || {})['app_id']}",
  status : true,
  cookie : true,
  xfbml  : true
  });
  fbApiInit = true;
  };
  $(document).ready(function(){
  $('a[href^="http://"]').attr({
  target: "_blank", 
  title: "Opens in a new window"
  });
  });
  (function() {
  var e = document.createElement('script');
  e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
  e.async = true;
  document.getElementById('fb-root').appendChild(e);
  }());
 

