%script
  = "var slug = '#{current_community.slug}';"
  function invite_friends()
  {
  FB.login(function(response) {
  FB.ui({
  method: 'apprequests',
  = "message: '#{t(".invitation")}',"
  data: slug,
  display: 'iframe'
  });
  });
  }
  $(function () {
  FB.login(function(response) {
  if (response.session)
  {
  invite_friends();
  }
  });
  });

#groups_box
  #tool_tip
    %p Find your neighbors on Facebook and invite them to join you on CommonPlace!
  #groups_wrapper
    %h2
      %ul
        %li
          #step_one
            =t(".step_one")
          #fb-root
          %img{:src => "/images/fb-btn.png", :width => "90%", :onclick => "invite_friends();"}
        %li
          #step_two
            =t(".step_two")

          - semantic_form_for @invitation do |f|
            - f.inputs do
              = f.input :email, :input_html => { :placeholder => "E-mail Address to Invite" }
              = f.input :body, :input_html => { :placeholder => "Write something nice about CommonPlace!" }
            - f.buttons do
              = f.submit "Invite"
            %br
      /
        %li{:style => "height: 200px"}
          #step_three
            =t(".step_three")
            %table
              %tr
                %td
                  %a{:href => "/pdfs/#{t('.file_names')[0]}/#{current_community.slug}.pdf"}
                    %img{:src => "/images/doc-icon.png"}
              %tr
                %td{:style => "text-align: center;"}
                  =t(".file_descriptions")[0]
      %li{:style => "text-align: right"}
        %a{:href => root_url}
          %img{:src => "/images/buttons/continue.png"}

    %br{:class=>"cleared"}
    %br
    
