- content_for :side do
  %h1 Thanks for signing up!
  %p Before you get started using your new CommonPlace account, why not fill out some more information about yourself? This way your neighbors will be able to find out more about you, and in turn, you can find out more about your neighbors.

#main_right
  #more_info
    %h1 Please include some information about yourself for the directory!

    - form_for current_user, :url => account_path, :html => {:multipart => true} do |f|

      = f.label :about, "About you"
      = f.text_field :about
      %p.hint Write something about yourself

      = f.label :skill_list, "Skills"
      = f.input :skill_list
      %p.hint Example: carpentry, computers
      
      = f.label :interest_list, "Interests"
      = f.input :interest_list
      %p.hint Example: meeting people, cooking
      
      = f.label :avatar, "Profile picture"
      = f.file_field :avatar
      
      = f.submit 'Update your profile!'
