%h1= t(".h1", :community => current_community.name, :learn_more => link_to(t(".learn_more"), learn_more_account_path)).html_safe

= update_content "#main" do
  #main
    = semantic_form_for @user, :url => account_path do |f|
      = f.submit "Sign Up", :id => "invisible-button-to-prevent-accidental-facebook-registration-on-pressing-enter"
      %h3
        Fill out the form to get started:
      = f.inputs do
        = f.input :full_name
        = f.input :email
        = f.input :address, :hint => t("formtastic.hints.user.address", :community => current_community.name)
      #fb-wrapper
        = f.buttons do 
          = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/sign-up.png"}
  
     
- if current_community.organizer_about?
      
  #who_is_info_bubble
    %h3.toggle= t ".who_is_bubble", :community=> current_community.name
    #who_is_info
      %p
        = current_community.organizer_about
      =image_tag(current_community.organizer_avatar.url, :size => "50x50")
      %br{:class => "cleared"}   

      %h3 Which local organizations are on #{current_community.name}'s CommonPlace?
      - current_community.feeds.take(20).each do |feed|
        %p
          = feed.name
        = image_tag(feed.avatar_url(:thumb), :size => "50x50")
        %br{:class => "cleared"}   
      
