- content_for :side do
  %h1 Register for a new account
  %p Please enter your information to sign up for a new account. At this time, you need your community code to register for a new account.

#main_right
  - begin
    - if params[:account] # Don't display any message if there's no code
      %p.win Welcome to #{check_code}!
  - rescue 
    %p.fail Sorry, we didn't recognize your community access code. Try fixing it below?
  
  - form_for @account, :url => account_path do |f|
    %h2 Please enter your information:
    = f.label :first_name, "First Name"
    = f.text_field :first_name
    
    = f.label :last_name, "Last Name"
    = f.text_field :last_name
    
    = f.label :email, "Email"
    = f.text_field :email
    
    = f.label :password, "New password"
    = f.password_field :password

    = f.label :password_confirmation, "Confirm password"
    = f.password_field :password_confirmation
  
    = f.label :address, "Street address"
    = f.text_field :address
    %p.hint This is so that we can confirm you live in this community.
    
          

    - if @account.code.blank? || @account.errors.on(:code)
      = f.input :code, :label => "Registration code:"
    - else
      = f.input :code, :as => :hidden

    = f.input :privacy_policy, :as => :boolean, :label => "I accept the #{link_to 'privacy policy', privacy_path, :popup => true}"
    
    = f.submit 'Register!'
