- if Rails.env.production?
  %script
    = "mpmetrics.track('Community Registration Page', {'community': '#{current_community.slug}'});"

%script
  $(function(){$('input[placeholder], textarea[placeholder]').placeholder();});

:javascript
  function facebookUserLoggedIn()
  {
    if (CommonPlace.env == "production")
      mpmetrics.track('Attempted Facebook Connect', {'community': '#{current_community.slug}'});
    session = FB.getSession()
    if (!session.uid || session.uid == '')
      alert("We could not log you into Facebook. Please try again.");
    else
    {
      FB.api('/me', function(response) {
        if (CommonPlace.env == "production")
        {
          mpmetrics.identify(response.email);
          mpmetrics.track('Connected with Facebook', {'community': '#{current_community.slug}'});
        }
        $("#header").text("Complete Your Registration");
        $("#li1").text("#{t(".li1fb", :community => current_community.name).gsub('"', '\"')}");
        $("#li2").text("#{t(".li2fb", :community => current_community.name).gsub('"', '\"')}");
        $("#li3").text("");
        $("#user_full_name").val(response.name);
        $("#user_email")
          //.attr("readonly", "true")
          .val(response.email);
        $("<input />").attr("type","hidden")
          .attr("id", "user_facebook_uid")
          .attr("name", "user[facebook_uid]")
          .val(response.id)
          .appendTo("#new_user");
        console.log("user[facebook_uid] == " + $("#user_facebook_uid").val());
        /*$("<input />").attr("type","hidden")
          .attr("id", "user_facebook_session")
          .attr("name", "user[facebook_session]")
          .val(JSON.stringify(session))
          .appendTo("#new_user");*/
        //$("#user_address").focus();
      });
    }
  }
  $(document).ready(function() {
    FB.Event.subscribe('auth.login', function(response) {
      if (response.session)
      {
        $("<input />").attr("type","hidden")
          .attr("id", "user_facebook_session")
          .attr("name", "user[facebook_session]")
          .val(JSON.stringify(response.session))
          .appendTo("#new_user");
        console.log("user[facebook_session] == " + $("#user_facebook_session").val());
      }
    })
  })
  
#wrapper
  #titleslug
    %h1#header= t(".h1", :community => current_community.name).html_safe
  #registration_information
    %ul{:id=>"infolist"}
      %li#li1= t(".li1", :community => current_community.name)
      %li#li2= t(".li2", :community => current_community.name)
      %li#li3= t(".li3", :community => current_community.name)
    %ul{:id=>"link_item"}
      %a{:href => "/#{current_community.slug}/learn_more"}
        %img{:src=>"/images/buttons/learnmore.png", :alt=>"Learn more", :id=>"learnmore"}
  #main
    = semantic_form_for @user, :url => create_account_path(current_community) do |f|
      %table{:style => "width:365px;"}
        %tr
          %td{:style => "text-align:left;"}  
            %h4 
              Register Here
          %td{:style => "text-align:right;"}  
            %div{:id => "bottomregister"}  
            %h3 
              or
              %fb:login-button{:size => 'medium', :length => 'long', :onlogin => 'fbEnsureInit(facebookUserLoggedIn);', :perms => 'email,user_hometown,publish_stream,offline_access'}
      = f.inputs do
        = f.input :full_name, :input_html => { :placeholder => "Full name"} 
        = f.input :email, :input_html => { :placeholder => "Email address"}
        - if current_community.is_college
          = f.input :address, :hint => "", :as => :select, :collection => college_dorms_for_school(current_community)
          :javascript
            $(document).ready(function(){ $("#user_address option[value='Select your residence hall']").attr("selected", "selected"); console.log("Selected"); });
        - else
          = f.input :address, :hint => "", :input_html => {:placeholder => "Address"}
      #fb-wrapper
        = f.buttons do 
          = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/signup.png"}

