%h1= t ".h1", :community => current_community.name, :learn_more => link_to(t(".learn_more"), learn_more_account_path)

= update_content "#main" do
  #main
    #create-a-feed
      %h3 Are you a community leader or shop owner?
      %p Create a feed to send events and announcements to the whole community.
      - link_to new_account_path(:short => true) do
        = image_tag 'create-a-feed.png'
    - semantic_form_for @user, :url => account_path, :id => 'registration_form' do |f|

      %h3
        Fill out the form to get started
      - f.inputs do
        = f.input :full_name
        = f.input :email
        = f.input :address

      - f.buttons do 
        = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/sign-up.png"}
      .cleared

      = f.submit "true", :type => 'image', :src => '/images/buttons/facebook-sign-up.png', :name => "register_with_oauth2", :id => "facebook-register"
      .cleared

%p#bubble-1= t ".bubble_1"
%p#bubble-2= t ".bubble_2"
