- if !current_community.has_launched?
  .prelaunch-notification
    Welcome to #{current_community.name} CommonPlace! We're officially launching on #{current_community.launch_date.strftime("%B")} #{current_community.launch_date.day.ordinalize} but you can be first to get a sneak peek. Sign up below to test it out.

#main
  
  %h1= current_community.has_launched? ? t(".h1", :community => current_community.name).html_safe : "Coming soon to #{current_community.name}"

  #registration_information
    %ul{:id=>"infolist"}
      %li#li1= t(".li1", :community => current_community.name)
      %li#li2= t(".li2", :community => current_community.name)
      %li#li3= t(".li3", :community => current_community.name)
    %ul{:id=>"link_item"}
      %a{:href => "/#{current_community.slug}/learn_more"}
        %img{:src=>"/images/buttons/learnmore.png", :alt=>"Learn more", :id=>"learnmore"}


  = semantic_form_for @user, :url => create_account_path(current_community) do |f|
    %h4 
      Register Here

    = f.inputs do
      = f.input :full_name, :input_html => { :placeholder => "Full name"} 
      = f.input :email, :input_html => { :placeholder => "Email address", :type => "text"}
      - if current_community.is_college
        = f.select :address, college_dorms_for_school(current_community)
      - else
        = f.input :address, :hint => "", :input_html => {:placeholder => "Street address"}
    = f.buttons do 
      = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/signup.png"}
  
  %div{:style=>"clear: both;"}

- if Rails.env.production?
  %script
    = "mpmetrics.track('Community Registration Page', {'community': '#{current_community.slug}'});"

