- content_for :side do
  %h1 Register for a new account
  %p Please enter your information to sign up for a new account. At this time, you need your community code to register for a new account.

#main_right
  - if @account.code
    - if @account.code == CONFIG["registration_code"]
      %p.win Welcome to #{CONFIG["community_name"]}!
    - else  
      %p.fail Sorry, we didn't recognize your community access code. Try fixing it below?
  
  - form_for @account, :url => account_path do |f|
    %h2 Please enter your information:
    = f.label :first_name, "First Name"
    = f.text_field :first_name
    
    = f.label :last_name, "Last Name"
    = f.text_field :last_name
    
    = f.label :email, "Email"
    = f.text_field :email
    
    = f.label :password, "Password"
    = f.password_field :password

    = f.label :password_confirmation, "Confirm password"
    = f.password_field :password_confirmation
  
    = f.label :address, "Street address"
    = f.text_field :address
    %p.hint This is so that we can confirm you live in this community.

    - if @account.code == CONFIG["registration_code"]
      = f.hidden_field :code
    - else
      = f.label :code, "Registration code:"
      = f.text_field :code
      
    = f.check_box :privacy_policy
    = f.label :privacy_policy, "I accept the #{link_to 'privacy policy', privacy_path, :popup => true}"
    = f.submit 'Register!'
