
%h1= t ".h1", :community => current_community.name, :learn_more => link_to(t(".learn_more"), learn_more_account_path)

= update_content "#main" do
  #main
    #create-a-feed
      %h3 Are you a community leader or shop owner?
      %p Create a feed to send events and announce-<br>ments to the whole community.
      - link_to new_account_path(:short => true) do
        = image_tag 'create-a-feed.png'
    - semantic_form_for @user, :url => account_path, :html => {'data-remote' => true}, :id => 'registration_form' do |f|
      - f.inputs do
        = f.input :full_name
        = f.input :email
        = f.input :address, :hint => t("formtastic.hints.user.address", :community => current_community.name)
        = f.input :facebook_uid, :as => :hidden
      - f.buttons do 
        = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/sign-up.png"}
%br
%br
%br
#fb-root
%script{:type => "text/javascript",
        :src  => "http://connect.facebook.net/en_US/all.js"}
:javascript
  FB.init({
    appId:#{Facebooker.api_key}, cookie:true, 
    status:true, xfbml:true 
  });
  function facebookUserLoggedIn(user)
  {
    if(user != null) {
      $('#user_full_name').val(user.name);
      $('#user_email').val(user.email);
      $('#user_facebook_uid').val(user.id);
      $('#user_address').val(user.address.street);
    }
  }
  FB.api('/me', function(user) { facebookUserLoggedIn(user); });
%fb:login-button{:size => 'medium', :length => 'long', :onlogin => 'facebookUserLoggedIn();', :perms => 'email,user_hometown,user_address'}

%p#bubble-1= t ".bubble_1"
%p#bubble-2= t ".bubble_2"
