
%h1= t ".h1", :community => current_community.name, :learn_more => link_to(t(".learn_more"), learn_more_account_path)

= update_content "#main" do
  #main
    #create-a-feed
      %h3 Are you a community leader or shop owner?
      %p Create a feed to send events and announce-<br>ments to the whole community.
      - link_to new_account_path(:short => true) do
        = image_tag 'create-a-feed.png'
    - semantic_form_for @user, :url => account_path, :html => {'data-remote' => true}, :id => 'registration_form' do |f|
      %h3
        Fill out the form to get started or
        %fb:login-button{:size => 'medium', :length => 'long', :onlogin => 'facebookUserLoggedIn();', :perms => 'email,user_hometown,user_address'}
      - f.inputs do
        = f.input :full_name
        = f.input :email
        = f.input :address, :hint => t("formtastic.hints.user.address", :community => current_community.name)
        = f.input :facebook_uid, :as => :hidden
      - f.buttons do 
        = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/sign-up.png"}

#fb-root
:javascript
  // Attempt a query; maybe the user has already authenticated?
  FB.api('/me', function(user) { facebookUserLoggedIn(user); });

%p#bubble-1= t ".bubble_1"
%p#bubble-2= t ".bubble_2"
