%h1= t ".h1", :community => current_community.name, :learn_more => link_to(t(".learn_more"), learn_more_account_path)

= update_content "#main" do
  #main
    - semantic_form_for @user, :url => account_path, :id => 'registration_form' do |f|
      = f.submit "Sign Up", :id => "invisible-button-to-prevent-accidental-facebook-registration-on-pressing-enter"
      %h3
        Fill out the form to get started:
      - f.inputs do
        = f.input :full_name
        = f.input :email
        = f.input :address, :label => t('formtastic.labels.user.address')
      #fb-wrapper
        - f.buttons do 
          = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/sign-up.png"}
  
     
- if current_community.organizer_about?
      
  #who_is_info_bubble
    %h3= t ".who_is_bubble", :community=> current_community.name
    #who_is_info
      %p
        = current_community.organizer_about
      =image_tag(current_community.organizer_avatar.url, :size => "50x50")
      %br{:class => "cleared"}   

%p#bubble-1= t ".bubble_1"
%p#bubble-2= t ".bubble_2"
