
= semantic_form_for current_user, :url => account_path, :html => {:multipart => true } do |f|

  %h1 Update your profile
  
  = f.inputs do 
    = f.input :full_name
    = f.input :avatar
    = f.input :about
    
    = f.input :interest_list, :as => :select, :collection => $interests, :multiple => true, :input_html => {"data-placeholder" => "Select some interests" }, :label => "Select some interests to share with your neighbors:"
    = f.input :skill_list, :as => :select, :collection => $skills, :multiple => true, :input_html => {"data-placeholder" => "Select some skills" }, :label => "Select some skills you can share with your neighbors:"
    = f.input :good_list, :as => :select, :collection => $goods, :multiple => true, :input_html => {"data-placeholder" => "Select some goods" }, :label => "Select some goods you can share with your neighbors:"

  = f.buttons do
    = f.commit_button "Update Profile"
