
%h1= t "feeds.account.h1"

= update_content "#main" do
  #main
    - semantic_form_for @user, :url => account_path(:short => true), :html => {'data-remote' => true} do |f|
      - f.inputs do
        = f.input :full_name
        = f.input :email
        = f.input :password
        = f.input :address, :hint => t("formtastic.hints.user.address", :community => current_community.name)
      - f.buttons do 
        = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/sign-up.png"}
